<template>
  <div id="pagina-recursos-area-usuario">
    <div class="container">
      <template v-if="$auth.user">
        <!-- SE O USUARIO FOR DO TIPO DOCENTE ELE PODE PUBLICAR, caso contrário, não. -->
        <v-row v-if="$auth.user.user_type !== 'professor'" justify="center">
          <v-col cols="12" md="7" sm="12" class="text-center">
            <TextoRedirecionarAjuda></TextoRedirecionarAjuda>
          </v-col>
        </v-row>

        <template v-else>
          <v-row>
            <v-col cols="12" md="6" sm="12">
              <h5 class="text-h5-joca lato-bold secondary--text mb-4">
                Recursos publicados ({{ "0" }})
              </h5>
            </v-col>
            <v-col cols="12" md="6" sm="12" class="text-right">
              <v-btn
                to="/minha-area/recursos/rascunhos"
                elevation="0"
                rounded
                color="primaryMid"
                class="text-right"
              >
                <span class="white--text text-caption-1-joca open-sans-bold"
                  >Ver rascunhos ({{ 0 }})</span
                >
              </v-btn>
            </v-col>
          </v-row>

          <!-- ESTADO DE LOADER -->
          <template v-if="loader">
            <v-row class="my-5">
              <v-col cols="12" md="3" sm="12" v-for="(item, i) in 4" :key="i">
                <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
              </v-col>
            </v-row>
          </template>
          <!-- / -->
          <template v-else>
            <!-- COM DADOS - RECURSOS -->
            <v-row v-if="recursos.length" class="my-5">
              <v-col cols="12" md="3" sm="12" v-for="(item, i) in recursos" :key="i">
                <!-- passar o item para o card -->
                <CardRecurso class="mb-4"></CardRecurso>
              </v-col>
              <!-- PAGINAÇÃO -->
              <v-col cols="12" class="text-center">
                <v-pagination
                  depressed
                  v-model="paginate.page"
                  :length="paginate.last_page"
                  color="secondary"
                >
                </v-pagination>
              </v-col>
            </v-row>
            <!-- / -->
            <!-- NENHUM DADO ENCONTRADO -->
            <v-row v-else class="my-5 text-center" justify="center">
              <v-col cols="12" md="4" sm="12">
                <p class="text-body-1-joca grey4Joca--text mt-5">
                  Ops, parece que não encontramos nenhum recurso publicado.
                </p>
              </v-col>
            </v-row>
            <!-- / -->
          </template>
        </template>
      </template>
    </div>
  </div>
</template>
<script>
import TextoRedirecionarAjuda from "@/components/Partials/TextoRedirecionarAjuda";
import CardRecurso from "../../../components/cards/global/CardRecurso";

export default {
  components: {
    TextoRedirecionarAjuda,
    CardRecurso,
  },

  data() {
    return {
      loader: false,
      recursos: [],
      paginate: {
        page: 1,
        last_page: 0,
        total_items: 0,
      },
    };
  },

  mounted() {},
};
</script>
