@import '~vuetify/src/styles/styles.sass';

:root {
  // Cores
  // as cores declaradas devem ser as mesmas declaradas em nuxt.config
  // usados para var(--nomeVar)

  --primary: #004e34;
  --primaryMid: #14815d;
  --primaryLight: #45e18d;
  --secondary: #ff891c;
  --secondaryMid: #ff9f46;
  --secondaryLight: #ffc48e;
  --accent: #1cc4bc;
  --accentMid: #82ede8;
  --accentLight: #c9f7f5;
  --info: #2196f3;
  --infoLight: #b7daf6;
  --warning: #ffcf5c;
  --warningLight: #ffe29d;
  --error: #ff5e5e;
  --errorLight: #fdafbb;
  --success: #21cf72;
  --successLight: #84ebb4;
  --grey1Joca: #212529;
  --grey2Joca: #495057;
  --grey3Joca: #868e96;
  --grey4Joca: #ced4da;
  --grey5Joca: #e9ecef;
  --grey6Joca: #f8f9fa;
  --whiteJoca: #fff;
  --green1Joca: #e3fff4;
  --green2Joca: #60E6BA;
  --degrade-bg-joca: linear-gradient(
    207.2deg,
    rgba(37, 159, 70, 0.13) -10.54%,
    rgba(241, 240, 245, 0) 83.03%
  );

  // Fonts
  --size-h1: 3rem;
  --size-h2: 2.75rem;
  --size-h3: 2.5rem;
  --size-h4: 2.12rem;
  --size-h5: 1.56rem;
  --size-h6: 1.25rem;
  --size-body: 1rem;
  --size-body-1: 1.5rem;
  --size-body-2: 1.25rem;
  --size-body-3: 1.12rem;
  --size-body-4: 1rem;
  --size-caption-1: 0.87rem;
  --size-caption-2: 0.75rem;

  // Line-height
  --line-h1: 65px;
  --line-h2: 55px;
  --line-h3: 45px;
  --line-h4: 38px;
  --line-h5: 30px;
  --line-h6: 22px;
  --line-body: 22px;
  --line-body-1: 33px;
  --line-body-2: 30px;
  --line-body-3: 26px;
  --line-body-4: 22px;
  --line-caption-1: 20px;
  --line-caption-2: 17px;
}
