<template>
  <div id="pagina-rascunhos-area-usuario">
    <div class="container">
      <v-row>
        <v-col cols="12" md="12" sm="12">
          <v-row>
            <v-col cols="12" md="6" sm="12">
              <h5 class="text-h5-joca lato-bold secondary--text mb-4">
                Rascunhos ({{ "0" }})
              </h5>
            </v-col>
            <v-col cols="12" md="6" sm="12" class="text-right">
              <v-btn
                to="/minha-area/recursos"
                elevation="0"
                rounded
                color="primaryMid"
                class="text-right"
              >
                <span class="white--text text-caption-1-joca open-sans-bold">Voltar</span>
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <!-- ESTADO DE LOADER -->
      <template v-if="loader">
        <v-row class="my-5">
          <v-col cols="12" md="3" sm="12" v-for="(item, i) in 4" :key="i">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </v-col>
        </v-row>
      </template>
      <!-- / -->
      <template v-else>
        <!-- COM DADOS - RASCUNHOS -->
        <v-row v-if="rascunhos.length" class="my-5">
          <v-col cols="12" md="3" sm="12" v-for="(item, i) in rascunhos" :key="i">
            <!-- passar o item para o card -->
            <CardRecurso class="mb-4" :rascunho="true"></CardRecurso>
          </v-col>
          <!-- PAGINAÇÃO -->
          <v-col cols="12" class="text-center">
            <v-pagination
              depressed
              v-model="paginate.page"
              :length="paginate.last_page"
              color="secondary"
            >
            </v-pagination>
          </v-col>
        </v-row>
        <!-- / -->
        <!-- NENHUM DADO ENCONTRADO -->
        <v-row v-else class="my-5 text-center" justify="center">
          <v-col cols="12" md="4" sm="12">
            <p class="text-body-1-joca grey4Joca--text mt-5">
              Ops, parece que não encontramos nenhum rascunho salvo.
            </p>
          </v-col>
        </v-row>
        <!-- / -->
      </template>
    </div>
  </div>
</template>

<script>
import CardRecurso from "@/components/cards/global/CardRecurso";

export default {
  components: {
    CardRecurso,
  },

  data() {
    return {
      loader: false,
      rascunhos: [],
      paginate: {
        page: 1,
        last_page: 0,
        total_items: 0,
      },
    };
  },

  mounted() {},
};
</script>
