<template>
  <div id="page-register-other">
    <v-container fluid class="px-0">
      <v-row class="whiteJoca">
        <v-col cols="12" sm="12" md="12" lg="12" xl="12">
          <FormsHeader title="Faça parte da JOCA" />

          <v-container class="pt-10">
            <v-row justify="center">
              <v-col cols="12" sm="12" md="10" lg="10" xl="10">
                <h1
                  class="text-h4-joca lato-bold secondary--text mb-2 lato-bold"
                >
                  Complete seu cadastro
                </h1>

                <p class="text-body-joca mb-10 d-flex">
                  Já possui uma conta?

                  <nuxt-link
                    class="ml-1 text-decoration-underline text-body-4-joca primaryMid--text cursor-pointer"
                    to="/login"
                    >Entre agora!
                  </nuxt-link>
                </p>

                <RegisterAndEditUser typeUser="outros">
                  <v-btn
                    slot="action-secondary"
                    outlined
                    rounded
                    color="primaryMid"
                    class="btn-primary-outlined-joca mr-6"
                    @click="dialogRegiter = true"
                  >
                    <span class="text-caption-1-joca open-sans-bold">
                      trocar perfil
                    </span>
                  </v-btn>
                </RegisterAndEditUser>
              </v-col>
            </v-row>
          </v-container>

          <!-- Dialog Register -->
          <v-dialog v-model="dialogRegiter" width="828">
            <RegisterOptionsTypesUser
              currentTypeUser="outros"
              @closeDialogRegister="dialogRegiter = false"
            />
          </v-dialog>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import RegisterAndEditUser from '@/components/forms/global/user/RegisterAndEditUserForm.vue'
import RegisterOptionsTypesUser from '@/components/modals/global/cadastro-de-usuario/RegisterOptionsTypesUser.vue'
import FormsHeader from '@/components/header/global/FormsHeader.vue'

export default {
  head: {
    title: 'Joca - Cadastro',
  },

  components: {
    RegisterAndEditUser,
    RegisterOptionsTypesUser,
    FormsHeader,
  },
  data() {
    return {
      dialogRegiter: false,
    }
  },
}
</script>
