<template>
  <div id="page_ver_trilha">
    <!-- Header -->
    <div class="grey6Joca py-16">
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12">
            <TrailHeader @shareTrail="dialogShare = true">
              <template slot="right-side">
                <AvatarFollow title="Enviado por" />
              </template>
            </TrailHeader>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12" lg="12">
          <!-- recursos da trilha -->
          <section>
            <v-container>
              <p class="text-body-joca lato-bold info--text">Exibindo 4 recursos</p>
              <!-- COM DADOS - RECURSOS -->
              <v-row class="my-5">
                <v-col cols="12" md="3" sm="12" v-for="(item, i) in 4" :key="i">
                  <!-- passar o item para o card -->
                  <CardRecurso
                    @reportarRecurso="dialogDenounceRecourse = true"
                    class="mb-4"
                  ></CardRecurso>
                </v-col>
              </v-row>
            </v-container>
          </section>

          <hr style="border: 1px solid var(--accent)" />

          <!-- area de avaliar a trilha -->
          <section>
            <v-container>
              <EvaluateArea
                type="trail"
                class="pt-5"
                @registerAccount="dialogRegister = true"
              />
            </v-container>
          </section>

          <!-- area de comentarios do recurso -->
          <section>
            <v-container>
              <CommentsArea>
                <!-- slot para exibição dos comentarios -->
                <div slot="comments">
                  <template>
                    <Comments class="mb-3">
                      <!-- slot das ações dos comentarios -->
                      <div slot="actions">
                        <template>
                          <div class="d-flex align-center mt-2">
                            <div class="d-flex align-center mr-2">
                              <v-icon color="grey3Joca">mdi-thumb-up</v-icon>
                              <span
                                class="text-caption-2-joca grey3Joca--text open-sans-regular ml-1"
                                >(0)</span
                              >
                            </div>

                            <v-icon color="grey3Joca">mdi-alert-circle</v-icon>

                            <span
                              class="text-caption-2-joca primaryMid--text open-sans-regular ml-4"
                              >comentário realizado dia 19/11/21 às 15:30</span
                            >

                            <v-icon class="ml-2" color="grey3Joca">mdi-delete</v-icon>
                          </div>
                        </template>
                      </div>
                    </Comments>
                  </template>
                </div>
              </CommentsArea>
            </v-container>
          </section>
        </v-col>
      </v-row>
    </v-container>

    <!-- Dialog Register -->
    <v-dialog v-model="dialogRegister" width="800">
      <RegisterOptionsTypesUser
        v-if="dialogRegister"
        @closeDialogRegister="dialogRegister = false"
      />
    </v-dialog>

    <!-- Dialog Shared -->
    <v-dialog v-model="dialogShare" width="500">
      <v-card v-if="dialogShare" class="py-8">
        <v-card-text>
          <ShareMidiasSocialCard title="Compartilhe na sua rede!" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog Denounce Divulgation -->
    <v-dialog v-model="dialogDenounceRecourse" persistent max-width="800">
      <v-card v-if="dialogDenounceRecourse" class="pb-4">
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon color="grey3Joca" @click="dialogDenounceRecourse = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>

        <v-card-text>
          <ReportDenounceForm>
            <template slot="action-secondary">
              <v-btn
                @click="dialogDenounceRecourse = false"
                outlined
                rounded
                color="primaryMid"
                class="btn-primary-outlined-joca mr-2"
              >
                <span class="text-caption-1-joca open-sans-bold"> CANCELAR </span>
              </v-btn>
            </template>
          </ReportDenounceForm>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TrailHeader from "@/components/Partials/Trilhas/TrailHeader";
import AvatarFollow from "@/components/avatar/global/AvatarFollow";
import CardRecurso from "@/components/cards/global/CardRecurso";
import EvaluateArea from "@/components/Partials/EvaluateArea";
import RegisterOptionsTypesUser from "@/components/modals/global/cadastro-de-usuario/RegisterOptionsTypesUser";
import CommentsArea from "@/components/Partials/CommentsArea";
import Comments from "@/components/geral/Comments";
import ShareMidiasSocialCard from "@/components/cards/global/ShareMidiasSocialCard";
import ReportDenounceForm from "@/components/forms/global/denuncias/ReportDenounceForm";

export default {
  components: {
    TrailHeader,
    AvatarFollow,
    CardRecurso,
    EvaluateArea,
    RegisterOptionsTypesUser,
    CommentsArea,
    Comments,
    ShareMidiasSocialCard,
    ReportDenounceForm,
  },
  data() {
    return {
      dialogRegister: false,
      dialogShare: false,
      dialogDenounceRecourse: false,
    };
  },
};
</script>
