<template>
  <div>
    <v-form
      id="formDenounce"
      ref="formDenounce"
      @submit.prevent="formDenounce"
      lazy-validation
    >
      <v-container class="px-0">
        <v-row>
          <!-- Denuncia recurso -->
          <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="mb-4">
            <h5 class="primaryMid--text lato-bold text-body-joca">
              Denúncia de recurso
            </h5>

            <v-checkbox
              v-for="(item, index) in optionDenunciation"
              :key="index"
              :label="item.name"
              :value="item.value"
              :color="item.color"
              hide-details
              :disabled="isControlPanel ? true : false"
            ></v-checkbox>
          </v-col>

          <!-- Divulgação -->
          <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
            <p class="primaryMid--text lato-bold text-body-joca mb-2">
              Informações adicionais
              <span class="lato-regular"> (opcional) </span>
            </p>
            <p class="text-body-joca mb-3">
              Caso necessário, utilize o campo abaixo para descrever melhor a
              situação da denúncia:
            </p>

            <v-textarea
              id="divulgation"
              color="info"
              counter="255"
              outlined
              class="mt-1"
              type="text"
              name="input-7-4"
              label="Denunciei esse recurso porque acho que essa marca é licenciada."
              :rules="[verifyMaxLength]"
              :disabled="isControlPanel ? true : false"
            ></v-textarea>
          </v-col>

          <!-- SÓ ADMIN -->
          <template v-if="isControlPanel">
            <v-container class="px-0">
              <v-row>
                <v-col cols="12" sm="12" md="4" lg="4" xl="4">
                  <h5 class="primaryMid--text lato-bold text-body-joca">
                    Denunciado por
                  </h5>
                  <p>
                    Márcia Peixoto
                    <v-btn icon color="secondary" @click="dialogProfile = true">
                      <v-icon>mdi-arrow-top-right-bold-box-outline</v-icon>
                    </v-btn>
                  </p>
                </v-col>

                <v-col cols="12" sm="12" md="3" lg="3" xl="3">
                  <h5 class="primaryMid--text lato-bold text-body-joca">
                    Data da denúncia
                  </h5>
                  <p>01/01/2022</p>
                </v-col>
              </v-row>
            </v-container>

            <v-container class="px-0">
              <v-row>
                <!-- Recurso denunciado -->
                <!-- usar filter nesse paragrafo | truncate(45) -->
                <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
                  <h5 class="primaryMid--text lato-bold text-body-joca">
                    Recurso denunciado
                  </h5>

                  <p>
                    O que é a Nutrição? O que são alimentos sauda...
                    <v-btn
                      icon
                      color="secondary"
                      @click="dialogResource = true"
                    >
                      <v-icon>mdi-arrow-top-right-bold-box-outline</v-icon>
                    </v-btn>
                  </p>
                </v-col>

                <!-- Pessoa denunciada -->
                <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
                  <h5 class="primaryMid--text lato-bold text-body-joca">
                    Pessoa denunciada
                  </h5>

                  <p>
                    Jéssica Oliveira
                    <v-btn
                      icon
                      color="secondary"
                      @click="dialogProfileDenounce = true"
                    >
                      <v-icon>mdi-arrow-top-right-bold-box-outline</v-icon>
                    </v-btn>
                  </p>
                </v-col>

                <!-- Trilha denunciada -->
                <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
                  <h5 class="primaryMid--text lato-bold text-body-joca">
                    Trilha denunciada
                  </h5>

                  <p>
                    Frutas na Cozinha
                    <v-btn
                      icon
                      color="secondary"
                      @click="dialogTrailDenounce = true"
                    >
                      <v-icon>mdi-arrow-top-right-bold-box-outline</v-icon>
                    </v-btn>
                  </p>
                </v-col>

                <!-- Divulgação denunciada -->
                <!-- usar filter nesse paragrafo | truncate(45) -->
                <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
                  <h5 class="primaryMid--text lato-bold text-body-joca">
                    Divulgação denunciada
                  </h5>

                  <p>
                    Lorem ...
                    <v-btn
                      icon
                      color="secondary"
                      @click="dialogPostDenounce = true"
                    >
                      <v-icon>mdi-arrow-top-right-bold-box-outline</v-icon>
                    </v-btn>
                  </p>
                </v-col>

                <!-- Comentário denunciado -->
                <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
                  <h5 class="primaryMid--text lato-bold text-body-joca">
                    Comentário denunciado
                  </h5>
                  <v-btn
                    text
                    class="btn-primary-joca mb-2"
                    @click="commentDenounce"
                  >
                    <span
                      class="text-caption-1-joca info--text open-sans-bold text-capitalize"
                    >
                      Visualizar na íntegra
                    </span>
                    <v-icon right class="secondary--text">
                      mdi-arrow-top-right-bold-box-outline
                    </v-icon>
                  </v-btn>

                  <Comments class="mt-3" />
                </v-col>
              </v-row>
            </v-container>

            <v-container class="px-0 py-14">
              <v-row>
                <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                  <slot name="action-secondary"></slot>

                  <v-btn
                    outlined
                    rounded
                    color="error"
                    class="btn-primary-outlined-joca mb-2 mr-2"
                    @click="rejectDenouce()"
                  >
                    <span class="text-caption-1-joca open-sans-bold">
                      REJEITAR DENÚNCIA
                    </span>
                  </v-btn>

                  <!-- QUANDO O STATUS ESTÁ COMO RESOLVIDO
                    <template>
                      <v-btn
                    outlined
                    rounded
                    color="error"
                    class="btn-primary-outlined-joca mb-2 mr-2"
                  >
                    <span class="text-caption-1-joca open-sans-bold">
                      excluir DENÚNCIA
                    </span>
                  </v-btn>

                    <v-btn
                    outlined
                    rounded
                    color="primaryMid"
                    class="btn-primary-outlined-joca mb-2 mr-2"
                  >
                    <span class="text-caption-1-joca open-sans-bold">
                      REABRIR DENÚNCIA
                    </span>
                  </v-btn>
                  </template> -->

                  <v-btn
                    outlined
                    rounded
                    color="error"
                    class="btn-primary-outlined-joca mb-2"
                    @click="deleteContent()"
                  >
                    <span class="text-caption-1-joca open-sans-bold">
                      excluir conteúdo denunciado
                    </span>
                  </v-btn>
                </v-col>
              </v-row></v-container
            >
          </template>

          <!-- Botões -->
          <v-col v-else cols="12" sm="12" md="12" lg="12" xl="12">
            <div class="text-center">
              <slot name="action-secondary"> </slot>
              <v-btn
                depressed
                rounded
                color="error"
                class="btn-primary-joca"
                type="submit"
              >
                <span
                  class="text-caption-1-joca whiteJoca--text open-sans-bold"
                >
                  DENUNCIAR
                </span>
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-form>

    <!-- Dialog Profile-->
    <v-dialog v-model="dialogProfile" width="1206">
      <v-card>
        <v-card-text class="px-0">
          <ViewProfileModal @close="dialogProfile = false" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog Recursos-->
    <v-dialog v-model="dialogResource" width="1206">
      <v-card>
        <v-card-text class="px-0">
          <ViewResourceModal @close="dialogResource = false" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog Profile Denounce-->
    <v-dialog width="1206" v-model="dialogProfileDenounce">
      <v-card>
        <v-card-text class="px-0">
          <ViewProfileModal @close="dialogProfileDenounce = false" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog Trail Denounce-->
    <v-dialog width="1206" v-model="dialogTrailDenounce">
      <v-card>
        <v-card-text class="px-0">
          <ViewTrailModal @close="dialogTrailDenounce = false" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog Post Denounce-->
    <v-dialog width="350" v-model="dialogPostDenounce">
      <v-card>
        <v-card-actions class="pb-0">
          <v-spacer></v-spacer>
          <v-btn icon color="grey3Joca" @click="dialogPostDenounce = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>

        <v-card-text class="px-0">
          <MuralCard
            @openDialogAuthor="dialogProfileAuthor = true"
            @openDialogReportPublication="dialogReportPublication = true"
          />
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import DetailsTooltip from '@/components/tooltips/global/DetailsTooltip.vue'
import ValidationForm from '@/mixins/ValidationForm.vue'

import ViewProfileModal from '@/components/modals/global/ViewProfileModal.vue'
import Filters from '@/mixins/Filters.vue'
import ViewTrailModal from '@/components/modals/painel-de-controle/trilhas/ViewTrailModal.vue'
import ViewResourceModal from '@/components/modals/painel-de-controle/recursos/ViewResourceModal.vue'
import MuralCard from '@/components/cards/global/MuralCard.vue'
import Comments from '@/components/geral/Comments.vue'

export default {
  mixins: [ValidationForm, Filters],
  props: ['isControlPanel'],

  components: {
    DetailsTooltip,

    ViewProfileModal,
    ViewTrailModal,
    ViewResourceModal,
    MuralCard,
    Comments,
  },

  data() {
    return {
      dialogTrailDenounce: false,
      dialogProfile: false,
      dialogResource: false,
      dialogProfileDenounce: false,
      dialogPostDenounce: false,

      optionDenunciation: [
        {
          name: 'O recurso viola os direitos autorais',
          value: 'O recurso viola os direitos autorais',
          color: 'info',
        },
        {
          name: 'O recurso contém conteúdo ofensivo/abusivo',
          value: 'O recurso contém conteúdo ofensivo/abusivo',
          color: 'info',
        },
        {
          name: 'A descrição do recurso não corresponde ao seu conteúdo',
          value: 'A descrição do recurso não corresponde ao seu conteúdo',
          color: 'info',
        },
        {
          name: 'O arquivo está corrompido',
          value: 'O arquivo está corrompido',
          color: 'info',
        },
        {
          name: 'Outros',
          value: 'Outros',
          color: 'info',
        },
      ],
    }
  },

  methods: {
    commentDenounce() {
      //pode ser recurso ou trilha
      console.log(
        'fazer if, ver comentário de quê foi feito e abrir o modal referente'
      )
    },

    formDenounce() {
      if (this.$refs.formDenounce.validate()) {
        // verificar se foi marcado alguma das opções acima
        console.log('POST LIBERADO')
      } else {
        this.$vuetify.goTo('#formDenounce')
      }
    },

    rejectDenouce() {
      this.$dialog.error({
        text: 'Você tem certeza que deseja rejeitar essa denúncia? Um e-mail será enviado para o(a) autor(a) da denúncia.',
        title: 'Deseja rejeitar essa denúncia?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'error', key: false },
          { text: 'SIM, REJEITAR', color: 'errorLight', key: false },
        ],
      })
    },

    deleteContent() {
      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir o recurso denunciado? Um e-mail será enviado para o(a) autor(a) da denúncia e do recurso informando da decisão.',
        title: 'Deseja excluir o conteúdo denunciado?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'error', key: false },
          { text: 'SIM, excluir', color: 'errorLight', key: false },
        ],
      })
    },
  },
}
</script>
