<template>
  <div id="page-contact">
    <div class="bg-header"></div>
    <div style="min-height: 700px; width: 100%; position: relative">
      <v-card class="px-7 py-4 posicionamento-card">
        <v-row>
          <v-col cols="12" md="6" sm="12">
            <h1 class="primaryMid--text text-h1-joca lato-bold">Fale conosco!</h1>
            <p class="text-body-3-joca grey1Joca--text mt-3 mb-7">
              Caso precise nos enviar uma mensagem diretamente, preencha esse formulário.
            </p>

            <FormContato></FormContato>
          </v-col>
          <v-col
            cols="12"
            md="6"
            sm="12"
            class="text-center d-none d-md-block d-lg-block mt-8 pt-8"
          >
            <img src="../../static/images/ilu-contato.png" />
          </v-col>
        </v-row>
      </v-card>
    </div>
  </div>
</template>
<script>
import FormContato from "../../components/forms/contato/FormContato";
export default {
  layout: "default",
  components: {
    FormContato,
  },
};
</script>

<style>
#page-contact .bg-header {
  background-image: url("../../static/images/bg-contato.jpg");
  background-size: cover;
  min-height: 369px;
}

#page-contact .v-card {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

#page-contact .posicionamento-card {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

@media (max-width: 500px) {
  #page-contact .posicionamento-card {
    top: -300px;
     left: 5px;
  right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  }
}
</style>
