<template>
  <div id="card-mural">
    <v-card-actions class="pb-0">
      <v-list-item class="grow">
        <!-- Avatar -->
        <v-btn
          @click="$emit('openDialogAuthor')"
          fab
          color="whiteJoca"
          elevation="0"
        >
          <template>
            <v-list-item-avatar color="grey darken-3" class="mr-0">
              <v-img
                class="elevation-6"
                alt=""
                src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
              ></v-img>
            </v-list-item-avatar>

            <!-- <v-list-item-avatar color="secondary" class="mr-0">
          <v-icon color="whiteJoca"> mdi-account </v-icon>
        </v-list-item-avatar> -->
          </template>
        </v-btn>

        <!-- Name and date -->
        <v-list-item-content class="py-0">
          <v-card-text class="text-body-joca">
            <span class="info--text"> Márcia Peixoto </span>

            <span> — 01/01/2021</span>
          </v-card-text>
        </v-list-item-content>

        <!-- Menu action -->
        <slot name="menu-actions"></slot>
      </v-list-item>
    </v-card-actions>

    <!-- Title -->
    <v-card-title class="text-body-3-joca lato-bold pt-0 pb-1">
      Quero um grupo de estudantes para minha discoplina
    </v-card-title>

    <!-- Text -->
    <v-card-text class="text-body-joca py-0">
      Procuro por um grupo interessado em realizar estudos sobre a matéria de
      Nutrição 1 ! Me contatem no número 0129988565656
    </v-card-text>

    <v-card-actions>
      <v-spacer />
      <v-btn text color="info">
        <span class="text-caption-1-joca"> Ver mais</span>
      </v-btn>
    </v-card-actions>
  </div>
</template>
