<template>
  <div id="midias-card">
    <h4 class="primaryMid--text text-body-1-joca mb-5">{{ title }}</h4>

    <v-container>
      <v-row>
        <v-col
          cols="6"
          sm="3"
          md="3"
          class="text-center"
          v-for="network in midiasSociais"
          :key="network.network"
        >
          <ShareNetwork
            :network="network.network"
            :url="network.url"
            :title="network.name"
            :description="network.description"
          >
            <v-icon large> mdi-{{ network.icon }} </v-icon>

            <p class="text-caption-2-joca">
              {{ network.name }}
            </p>
          </ShareNetwork>
        </v-col>

        <v-col cols="6" sm="3" md="3" class="text-center">
          <div @click="copyCode('ww.link', 'Link')" class="cursor-pointer">
            <v-icon large color="secondary"> mdi-link </v-icon>
            <p class="text-caption-2-joca" @click="copyCode('ww.link', 'Link')">
              Copiar Link
            </p>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import copyCode from '@/mixins/CopyCode.vue'
import midias from '@/utils/json/midias-sociais'
const midiasSociais = midias

export default {
  mixins: [copyCode],
  props: ['title'],

  data() {
    return {
      midiasSociais,
    }
  },
}
</script>
