<template>
  <div id="resource-table">
    <v-data-table
      flat
      :headers="headers"
      :items="desserts"
      item-key="name"
      class="elevation-0"
      style="border-bottom: 1px solid #e9ecef !important"
      hide-default-footer
    >
      <template v-slot:item.title="{ item }">
        <nuxt-link
          :to="
            isPanelTeacher
              ? '/painel-de-controle-docente/recursos/ver-detalhes/1'
              : '/painel-de-controle/recursos/ver-detalhes/1'
          "
        >
          <span
            class="info--text text-caption-1-joca text-decoration-underline"
          >
            {{ item.title | truncate(30) }}
          </span>
        </nuxt-link>
      </template>

      <template v-slot:item.type="{ item }">
        <span class="info--text text-caption-1-joca">{{ item.type }}</span>
      </template>

      <template v-slot:item.status>
        <v-btn outlined rounded color="info" class="btn-info-outlined-joca">
          <span class="text-caption-1-joca open-sans-bold mr-2"> Público </span>
          <v-icon color="info" right> mdi-eye </v-icon>
        </v-btn>
      </template>

      <template v-slot:item.views>
        <v-icon color="grey3Joca"> mdi-eye </v-icon>
        0
      </template>

      <template v-slot:item.actions>
        <v-row class="py-5" justify="end">
          <template v-if="!isPanelTeacher">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  small
                  class="mr-2 cursor-pointer"
                  color="errorLight"
                  v-bind="attrs"
                  v-on="on"
                  @click.stop.prevent="justificationModalOpened = true"
                >
                  mdi-message-alert
                </v-icon>
              </template>
              <span class="text-caption-2-joca">Ver justificativa</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  to="/painel-de-controle/recursos/editar"
                  small
                  icon
                  color="grey3Joca"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon small>mdi-pencil</v-icon>
                </v-btn>
              </template>
              <span class="text-caption-2-joca">Editar</span>
            </v-tooltip>

            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon small v-bind="attrs" v-on="on" color="grey3Joca">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-list class="text-caption-2-joca">
                <v-list-item
                  @click.stop.prevent="
                    $router.push('/painel-de-controle/recursos/ver-detalhes/1')
                  "
                >
                  <v-list-item-title class="grey1Joca--text">
                    <span class="text-caption-2-joca">Ver recurso</span>
                  </v-list-item-title>
                </v-list-item>

                <template>
                  <v-list-item @click.stop.prevent="openDialogInfo()">
                    <v-list-item-title class="grey1Joca--text">
                      <span class="text-caption-2-joca">Privar recurso</span>
                    </v-list-item-title>
                  </v-list-item>

                  <v-list-item @click.stop.prevent="openDialogError()">
                    <v-list-item-title class="error--text">
                      <span class="text-caption-2-joca">Excluir recurso</span>
                    </v-list-item-title>
                  </v-list-item>
                </template>
              </v-list>
            </v-menu>
          </template>

          <template v-else>
            <!-- Ver recurso -->
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  small
                  color="grey3Joca"
                  v-bind="attrs"
                  v-on="on"
                  to="/painel-de-controle-docente/recursos/ver-detalhes/1"
                >
                  <v-icon small>mdi-arrow-top-right-bold-box-outline</v-icon>
                </v-btn>
              </template>
              <span>Ver recurso</span>
            </v-tooltip>

            <!-- Remover recurso -->
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  small
                  color="grey3Joca"
                  v-bind="attrs"
                  v-on="on"
                  @click="justificationModalOpened = true"
                >
                  <v-icon small>mdi-alert-circle</v-icon>
                </v-btn>
              </template>
              <span>Remover recurso</span>
            </v-tooltip>
          </template>
        </v-row>
      </template>
    </v-data-table>
    <!-- Footer/Paginação -->
    <slot name="footer"> </slot>

    <!-- modal de deletar recurso -->
    <v-dialog v-model="justificationModalOpened" persistent width="828">
      <v-card>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            icon
            color="grey3Joca"
            @click="justificationModalOpened = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-text>
          <RemoveAndDeleterRecourseForm :isEdit="false">
            <template slot="action-secondary">
              <v-btn
                @click="justificationModalOpened = false"
                outlined
                rounded
                color="primaryMid"
                class="btn-primary-outlined-joca mr-3 mb-3"
              >
                <span class="text-caption-1-joca open-sans-bold">
                  Cancelar
                </span>
              </v-btn>

              <template v-if="!isPanelTeacher">
                <v-btn
                  outlined
                  rounded
                  color="primaryMid"
                  class="btn-primary-outlined-joca mr-3 mb-3"
                >
                  <span class="text-caption-1-joca open-sans-bold">
                    REPUBLICAR recurso
                  </span>
                </v-btn>
              </template>
            </template>
          </RemoveAndDeleterRecourseForm>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Filters from '@/mixins/Filters.vue'
import RemoveAndDeleterRecourseForm from '@/components/forms/global/recurso/RemoveAndDeleterRecourseForm'

export default {
  mixins: [Filters],
  props: ['isPanelTeacher'],
  components: {
    RemoveAndDeleterRecourseForm,
  },

  data() {
    return {
      justificationModalOpened: false,
      headers: [
        {
          text: 'id',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        { text: 'TÍTULO', value: 'title', sortable: false, width: 300 },
        { text: 'DATA', value: 'date', sortable: false },
        { text: 'AUTOR(A)', value: 'author', sortable: false },
        { text: 'VIEWS', value: 'views', sortable: false },
        { text: 'TIPO', value: 'type', sortable: false },
        { text: 'STATUS', value: 'status', sortable: false },
        { text: '', value: 'actions', sortable: false, width: 90 },
      ],
      desserts: [
        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },

        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },

        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },

        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },

        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },

        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },

        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },

        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },

        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },

        {
          id: '127',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          views: 0,
          type: 'TEXTO',
          status: 'anc',
        },
      ],
    }
  },

  methods: {
    openDialogError() {
      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir o recurso selecionado? Essa ação não poderá ser desfeita.',
        title: 'Deseja excluir o recurso selecionado?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'error', key: false, rounded: true },
          { text: 'SIM, EXCLUIR', color: 'error', key: true, rounded: true },
        ],
      })
    },

    openDialogInfo() {
      this.$dialog.info({
        text: 'Ao tornar público, qualquer pessoa que acessar a plataforma poderá visualizar o recurso selecionado.',
        title: 'Deseja tornar esse recurso público?',
        icon: false,
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'info', key: false, rounded: true },
          {
            text: 'SIM, TORNAR PÚBLICO',
            color: 'info',
            key: true,
            rounded: true,
          },
        ],
      })
    },
  },
}
</script>

<style>
#resource-table .v-data-table-header th {
  color: var(--primaryMid) !important;
  text-transform: uppercase;
}

#resource-table .v-data-table tbody {
  color: var(--grey2Joca) !important;
  font-size: var(--size-body-4) !important;
}
</style>
