<template>
  <div id="resource-table">
    <v-data-table
      flat
      :headers="headers"
      :items="desserts"
      item-key="id"
      hide-default-footer
      :page.sync="paginate.page"
      :items-per-page="paginate.itemsPerPage"
      :search="search"
    >
      <template v-slot:item.title="{ item }">
        <nuxt-link :to="'/painel-de-controle/mural/ver-detalhes/' + item.id">
          <span
            class="text-caption-1-joca info--text text-decoration-underline"
          >
            {{ item.title | truncate(30) }}
          </span>
        </nuxt-link>
      </template>

      <template v-slot:item.divulgation="{ item }">
        <span class="text-caption-2-joca">
          {{ item.divulgation | truncate(150) }}
        </span>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-row class="py-5" justify="end">
          <!-- Editar -->
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                @click="editMural(item.id)"
                icon
                small
                color="grey3Joca"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon small>mdi-pencil</v-icon>
              </v-btn>
            </template>
            <span class="text-caption-2-joca">Editar</span>
          </v-tooltip>

          <!-- Abrir -->
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                small
                class="mx-1"
                color="grey3Joca"
                v-bind="attrs"
                v-on="on"
                @click="viewDetailsMural(item.id)"
              >
                <v-icon small>mdi-arrow-top-right-bold-box-outline</v-icon>
              </v-btn>
            </template>
            <span class="text-caption-2-joca">Abrir</span>
          </v-tooltip>

          <!-- Excluir -->
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                small
                color="grey3Joca"
                v-bind="attrs"
                v-on="on"
                @click="deleteMural(item.id)"
              >
                <v-icon small>mdi-delete</v-icon>
              </v-btn>
            </template>
            <span class="text-caption-2-joca">Excluir</span>
          </v-tooltip>
        </v-row>
      </template>
    </v-data-table>

    <!-- Footer/Paginação -->
    <slot name="footer"> </slot>
  </div>
</template>

<script>
import Filters from '@/mixins/Filters.vue'

export default {
  mixins: [Filters],
  props: ['search', 'paginate'],

  data() {
    return {
      showTooltip: false,
      headers: [
        { text: 'TÍTULO', value: 'title', sortable: false, width: 280 },
        {
          text: 'DIVULGAÇÃO',
          value: 'divulgation',
          sortable: false,
        },
        { text: 'DATA', value: 'date', sortable: false, width: 40 },
        { text: 'AUTORIA', value: 'author', sortable: false, width: 140 },

        { text: '', value: 'actions', sortable: false, width: 100 },
      ],

      desserts: [
        {
          id: '1',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },

        {
          id: '2',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },

        {
          id: '3',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },

        {
          id: '4',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },

        {
          id: '5',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },

        {
          id: '6',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },

        {
          id: '7',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },

        {
          id: '8',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },

        {
          id: '9',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },

        {
          id: '10',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          divulgation:
            'Procuro por um grupo interessado em realizar estudos sobre a materia de Nutrição 1! Me contatem no número por um grupo interessado em realizar estudos sobre por um grupo interessado',
          author: 'Marcia Peixoto',
        },
      ],
    }
  },

  methods: {
    editMural(id) {
      this.$router.push(`/painel-de-controle/mural/editar/${id}`)
    },

    viewDetailsMural(id) {
      this.$router.push(`/painel-de-controle/mural/ver-detalhes/${id}`)
    },

    deleteMural(id) {
      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir a divulgação selecionada? Essa ação não poderá ser desfeita.',
        title: 'Deseja excluir a divulgação selecionada?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'SIM, EXCLUIR', color: 'errorLight', key: false },
          { text: 'CANCELAR', color: 'error', key: false },
        ],
      })
    },
  },
}
</script>

<style>
#resource-table .v-data-table-header th {
  color: var(--primaryMid) !important;
  text-transform: uppercase;
}

#resource-table .v-data-table tbody {
  color: var(--grey2Joca) !important;
  font-size: var(--size-body-4) !important;
}
</style>
