<template>
  <!-- Tab: Header -->
  <div>
    <h1 class="text-h1-joca lato-black primaryMid--text mb-9">
      <v-icon large class="text-h1-joca" color="primaryMid"> mdi-cog </v-icon>
      Design System
    </h1>

    <v-tabs v-model="tab" hide-slider show-arrows color="secondary">
      <v-tab
        v-for="(item, index) in items"
        :key="index"
        :to="'/system-design/' + item.router"
      >
        <span class="open-sans-bold">
          {{ item.name }}
        </span>
      </v-tab>
    </v-tabs>
  </div>
</template>
<script>
export default {
  data() {
    return {
      tab: null,
      items: [
        { name: 'Tipografia', router: 'tipografia' },
        { name: 'Cores', router: 'cores' },
        { name: 'Botões', router: 'botoes' },
        { name: 'Elementos', router: 'elementos' },
        { name: 'Componentes', router: 'componentes' },
      ],
    }
  },
}
</script>
