<template>
  <div id="page-details-denounce">
    <!-- Header page -->
    <v-container class="mb-5">
      <v-row>
        <v-col cols="12" md="12" lg="5">
          <v-breadcrumbs
            :items="items"
            class="panel-breadcrumbs pb-0"
          ></v-breadcrumbs>

          <h2 class="text-body-joca grey2Joca--text font-weight-regular">
            Resolva a denúncia selecionada
          </h2>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="7">
          <div class="h-100 d-flex justify-end mobile-xs-column align-center">
            <v-btn
              depressed
              rounded
              color="primaryMid"
              class="btn-primary-joca mt-4"
              to="/painel-de-controle/denuncias"
              exact
            >
              <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                Voltar
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- Info -->
    <div class="whiteJoca">
      <v-container class="py-14">
        <v-row justify="center">
          <v-col cols="12" sm="12" md="7" lg="7" xl="7">
            <h1 class="secondaryMid--text text-h6-joca lato-black">
              1. Informações

              <v-chip :color="'warning'" outlined class="ml-2">
                <span class="text-caption-1-joca open-sans-semibold">
                  Em aberto
                </span>
              </v-chip>
            </h1>

            <ReportDenounceForm :isControlPanel="true">
              <template slot="action-secondary">
                <v-btn
                  outlined
                  rounded
                  color="primaryMid"
                  class="btn-primary-outlined-joca mb-2 mr-2"
                  to="/painel-de-controle/denuncias"
                  exact
                >
                  <span class="text-caption-1-joca open-sans-bold">
                    Voltar
                  </span>
                </v-btn>
              </template>
            </ReportDenounceForm>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import ReportDenounceForm from '@/components/forms/global/denuncias/ReportDenounceForm.vue'

export default {
  components: {
    ReportDenounceForm,
  },

  data() {
    return {
      paramsId: null,

      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          exact: false,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Denúncias',
          exact: true,
          disabled: false,
          to: '/painel-de-controle/denuncias',
          color: '',
        },
        {
          text: 'Visualização',
          exact: true,
          disabled: true,
          to: '/painel-de-controle/pessoas/ver-detalhes',
          color: '',
        },
      ],
    }
  },

  mounted() {
    this.paramsId = this.$route.params.id
  },
}
</script>
