<template>
  <v-card
    max-width="254px"
  >
    <v-img
      height="159"
      src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
    >
    </v-img>
    <div style="margin-top: -25px" class="d-flex justify-end mr-2">
      <v-avatar @click.stop.prevent="showing ? $emit('viewProfile') : ''" size="49px" color="info" :class="showing ? 'cursor-pointer' : ''"></v-avatar>
    </div>
    <v-card-title class="py-0 text-text-caption-2-joca info--text">3 RECURSOS</v-card-title>

    <v-card-text>

      <div class="lato-black text-body-joca grey2Joca--text">O que é a Nutrição? O que são alimentos saudáveis...</div>
      <v-container>
        <v-row
          align="center"
          class="mt-2 mb-1"
        >
          <v-rating
            :value="3"
            background-color="warningLight"
            color="warningLight"
            dense
            readonly
            size="23"
          ></v-rating>

          <div class="grey--text ml-2">
            4.2 (551)
          </div>
        </v-row>
      </v-container>

    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions class="d-flex full-width align-center justify-end">
      <div class="d-flex align-center">
        <span class="text-caption-2-joca grey3Joca--text open-sans-regular mr-1">(0)</span>
        <v-icon color="grey3Joca">mdi-heart</v-icon>
      </div>

      <v-icon v-if="showing" color="success" class="ml-2">mdi-bookmark</v-icon>

      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
            color="grey3Joca"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-list class="text-caption-2-joca">

        </v-list>
      </v-menu>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  // props para exibir certos icones somente quando for exibindo a trilha
  props: ['showing']
}
</script>
