<template>
  <div id="modal-add-recurso">
    <v-card>

      <v-card-text>
        <v-row justify="center">
          <v-col
            cols="11"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <div class="pt-8">
                  <span class="primaryMid--text text-body-joca lato-black">Adicione recursos</span>
                </div>

                <SearchInput class="mt-2" placeholder="Procure por recursos e adicione na trilha" color="green2Joca" />
              </v-col>

              <v-col
                cols="12"
              >
                <div>
                  <span class="info--text text-body-joca lato-black">Exibindo 2 recursos</span>
                </div>

                <HorizontalResourceCard  @openResource="$emit('openResource')" class="mt-5 mb-8" />
                <HorizontalResourceCard  @openResource="$emit('openResource')" class="mt-5 mb-8" />

              </v-col>

              <v-col class="pb-8" cols="12">
                <v-row justify="center">
                  <v-col class="pt-0" cols="4" sm="3" md="2" lg="2">
                    <v-btn @click.stop.prevent="$emit('back')" width="100%" depressed rounded color="primaryMid" class="btn-primary-joca">
                      <span class="text-caption-1-joca whiteJoca--text open-sans-bold">Voltar</span>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>

    </v-card>
  </div>
</template>

<script>

import SearchInput from '@/components/geral/SearchInput.vue'
import HorizontalResourceCard from '@/components/cards/painel-de-controle/recursos/HorizontalResourceCard.vue'

export default {
  data() {
    return {
      title: '',
      privacy: null
    }
  },

  components: {
    SearchInput,
    HorizontalResourceCard
  }


}
</script>


