<template>
  <div id="modal-criar-trilha">
    <v-card>

      <v-card-text>
        <v-row justify="center">
          <v-col
            cols="11"
          >
            <CreateTrailForm @cancel="$emit('cancel')" @openResource="$emit('openResource')" />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>

  </div>
</template>

<script>

import CreateTrailForm from '@/components/forms/painel-de-controle/trilhas/CreateTrailForm.vue'

export default {
  components: {
    CreateTrailForm
  }
}
</script>


