<template>
  <v-card elevation="0">
    <v-card-text class="py-10 grey6Joca">
      <v-row justify="end">
        <v-icon @click.stop.prevent="$emit('close')">mdi-close</v-icon>
      </v-row>
      <v-row  justify="center">
        <v-col cols="12">
          <TrailHeader>
            <template slot="right-side">
              <div class="d-flex flex-column justify-center align-center fill-height">
                <v-avatar
                  @click.stop.prevent="$emit('viewProfile')"
                  color="primary"
                  size="56"
                  class="cursor-pointer"
                ></v-avatar>
                <span class="text-caption-2-joca primaryMid--text open-sans-regular mt-3">Organizada por</span>
                <span class="primary--text open-sans-semibold text-body-4-joca">Márcia Peixoto</span>
                <v-btn disabled depressed rounded color="primaryMid" class="btn-primary-joca mt-3">
                  <v-icon>mdi-account-plus</v-icon>
                  <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> Seguir </span>
                </v-btn>
              </div>
            </template>
          </TrailHeader>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-text>
      <v-container class="px-0">
        <v-row justify="center">
          <v-col cols="12" sm="11" md="11" lg="10">
            <!-- area de informações do recurso -->
            <v-container class="px-0" style="border-bottom: 2px solid #1CC4BC;">
              <v-row class="pb-13">
                <v-col cols="12">
                  <span class="text-body-joca lato-black info--text">
                    Exibindo 3 recursos
                  </span>
                </v-col>
                <v-col cols="12" sm="6" md="4" lg="4">
                  <CardRecurso />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="4">
                  <CardRecurso />
                </v-col>

                <v-col cols="12" sm="6" md="4" lg="4">
                  <CardRecurso />
                </v-col>
              </v-row>
            </v-container>

            <!-- area de avaliar a trilha -->
            <v-conteiner class="px-0">
              <EvaluateArea type="trail" class="pt-5" />
            </v-conteiner>

            <!-- area de comentarios da trilha -->
            <v-container class="px-0">
              <CommentsArea>
                <div slot="comments">
                  <template>
                    <Comments class="mb-3" >
                      <div slot="actions">
                        <template>
                          <div class="d-flex align-center mt-2">
                            <div class="d-flex align-center mr-2">
                              <v-icon color="grey3Joca">mdi-thumb-up</v-icon>
                              <span class="text-caption-2-joca grey3Joca--text open-sans-regular ml-1">(0)</span>
                            </div>

                            <v-icon color="grey3Joca">mdi-alert-circle</v-icon>

                            <span class="text-caption-2-joca primaryMid--text open-sans-regular ml-4">comentário realizado dia 19/11/21 às 15:30</span>

                            <v-icon class="ml-2" color="grey3Joca">mdi-delete</v-icon>

                          </div>
                        </template>
                      </div>
                    </Comments>
                  </template>
                </div>
              </CommentsArea>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import TrailHeader from '@/components/Partials/Trilhas/TrailHeader.vue'
import EvaluateArea from '@/components/Partials/EvaluateArea.vue'
import CommentsArea from '@/components/Partials/CommentsArea.vue'

import CardRecurso from '@/components/cards/global/CardRecurso.vue'
import Comments from '@/components/geral/Comments.vue'

export default {
  components: {
    TrailHeader,
    EvaluateArea,
    CommentsArea,
    Comments,
    CardRecurso
  }
}
</script>
