<template>
  <div id="page-mural-divulgacoes">
    <div class="bg-header py-5">
      <div class="container">
        <h1 class="text-h3-joca lato-bold primaryMid--text text-center py-4">
          Mural de Divulgação
        </h1>
      </div>
    </div>
    <div class="container py-7">
      <v-row>
        <v-col cols="12" md="12" sm="12">
          <h4 class="text-h4-joca lato-bold secondary--text mb-3">
            Compartilhe o que quiser!
          </h4>
          <p class="text-body-3-joca grey1Joca--text">
            Faça divulgações sobre diversos assuntos, conte o que acabou de publicar ou
            curtir, fale sobre novas oportunidades da área, conte sobre novos eventos,
            tudo que quiser!
          </p>

          <v-row class="mt-5 pt-3">
            <v-col cols="12" md="6" sm="12">
              <!-- Inserir total de itens aqui -->
              <p class="info--text text-body-joca lato-bold">
                {{ "0" }} divulgações no mural
              </p>
            </v-col>
            <v-col cols="12" md="6" sm="12" class="text-right">
              <v-btn
                @click="dialogPublicar = true"
                elevation="0"
                rounded
                small
                color="primaryMid"
                :disabled="$auth.loggedIn ? false : true"
              >
                <span class="white--text text-caption-1-joca open-sans-bold"
                  >Publicar divulgação</span
                >
              </v-btn>
            </v-col>
          </v-row>

          <!-- ESTADO DE LOADER -->
          <template v-if="loader">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </template>
          <!-- / -->
          <template v-else>
            <!-- COM DADOS - DIVULGAÇÕES -->
            <template v-if="divulgacoes.length">
              <v-row class="mt-5 pt-3">
                <v-col
                  cols="12"
                  md="3"
                  sm="12"
                  v-for="(divulgacao, i) in divulgacoes"
                  :key="i"
                >
                  <!-- passar o item para o card -->
                  <!-- Fazer essa regra: O usuário vê a sua divulgação podendo apagar a sua e o ADMIN vê todos com opção delete -->
                  <MuralCard class="estilo-card-mural"></MuralCard>
                </v-col>

                <!-- PAGINAÇÃO -->
                <v-col cols="12" class="text-center">
                  <v-pagination
                    depressed
                    v-model="paginate.page"
                    :length="paginate.last_page"
                    color="primaryLight"
                  >
                  </v-pagination>
                </v-col>
                <!-- / -->
              </v-row>
            </template>
            <!-- NENHUM DADO ENCONTRADO -->
            <template v-else>
              <p class="grey3Joca--text text-body-joca my-5 py-6 text-center">
                Ops, parece que não temos nenhuma divulgação publicada.
              </p>
            </template>
            <!-- / -->
          </template>
        </v-col>
      </v-row>
    </div>

    <!-- DIALOG - PUBLICAR DIVULGACAO -->
    <v-dialog v-model="dialogPublicar" width="800">
      <v-card v-if="dialogPublicar" class="pb-4">
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon color="grey3Joca" @click="dialogPublicar = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>

        <v-card-text>
          <FormRegisterAndEditMural></FormRegisterAndEditMural>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import MuralCard from "../../components/cards/global/MuralCard";
import FormRegisterAndEditMural from "../../components/forms/global/mural/RegisterAndEditMural";

export default {
  layout: "default",
  components: {
    MuralCard,
    FormRegisterAndEditMural,
  },

  data() {
    return {
      loader: false,
      divulgacoes: [],
      dialogPublicar: false,

      paginate: {
        page: 1,
        last_page: 0,
        total_items: 0,
      },
    };
  },
  mounted() {},

  methods: {},
};
</script>

<style>
#page-mural-divulgacoes .bg-header {
  background-image: url("../../static/images/bg-padrao-header.jpg");
  background-size: cover;
}

#page-mural-divulgacoes .estilo-card-mural {
  border: 1px solid #868e96;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
</style>
