<template>
  <div id="card-forgot-password">
    <h1 class="text-h4-joca lato-bold secondary--text mb-2 lato-bold">
      Esqueceu a senha?
    </h1>
    <p class="text-body-joca mb-10">
      Não se preocupe, informe o seu e-mail e enviaremos um link para
      redefinição de senha.
    </p>

    <ForgotMyPasswordForm />

    <div class="d-flex pt-4">
      <v-btn text class="text-none" to="/login">
        <span
          class="text-decoration-underline text-body-4-joca primaryMid--text"
        >
          Voltar para login
        </span>
      </v-btn>

      <v-btn text class="text-none" @click="$emit('openDialogRegister')">
        <span
          class="text-decoration-underline text-body-4-joca primaryMid--text"
        >
          Cadastre-se
        </span>
      </v-btn>
    </div>
  </div>
</template>

<script>
import ForgotMyPasswordForm from '@/components/forms/platform/esqueci-minha-senha/ForgotMyPasswordForm.vue'

export default {
  components: { ForgotMyPasswordForm },
}
</script>
