<template>
  <v-card elevation="0">
    <v-card-text class="grey6Joca">
      <v-container class="px-0">
        <v-row>
          <v-col cols="12" class="text-right px-0">
            <v-icon @click.stop.prevent="$emit('close')">mdi-close</v-icon>
          </v-col>
          <v-col cols="12">
            <ResourceHeader>
              <template slot="right-side">
                <div class="d-flex flex-column justify-center align-center fill-height">
                  <v-avatar
                    @click.stop.prevent="$emit('viewProfile')"
                    color="primary"
                    size="56"
                    class="cursor-pointer"
                  ></v-avatar>
                  <span class="text-caption-2-joca primaryMid--text open-sans-regular">Enviado por</span>
                  <span class="primary--text open-sans-semibold text-body-4-joca">Márcia Peixoto</span>
                  <v-btn disabled depressed rounded color="primaryMid" class="btn-primary-joca mt-3">
                    <v-icon>mdi-account-plus</v-icon>
                    <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> Seguir </span>
                  </v-btn>
                </div>
              </template>
            </ResourceHeader>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-text>
      <v-container class="px-0">
        <v-row class="pt-10" justify="center">
          <v-col cols="12" sm="11" md="10" lg="10">
            <!-- area de informações do recurso -->
            <v-container class="px-0">
              <ResourceInfos />
            </v-container>

            <!-- area de avaliar o recurso -->
            <v-conteiner class="px-0">
              <EvaluateArea type="resource" class="pt-5" />
            </v-conteiner>

            <!-- area de comentarios do recurso -->
            <v-container class="px-0">
              <CommentsArea>
                <!-- slot para exibição dos comentarios -->
                <div slot="comments">
                  <template>
                    <Comments class="mb-3" >
                      <!-- slot das ações dos comentarios -->
                      <div slot="actions">
                        <template>
                          <div class="d-flex align-center mt-2">
                            <div class="d-flex align-center mr-2">
                              <v-icon color="grey3Joca">mdi-thumb-up</v-icon>
                              <span class="text-caption-2-joca grey3Joca--text open-sans-regular ml-1">(0)</span>
                            </div>

                <div class="mt-7">
                  <span class="text-h5-joca lato-black secondary--text">Licença de uso</span>
                  <div class="d-flex mt-2">
                    <span>
                      <img class="mr-2" src="/images/licenca-de-uso/CC-BY.png" alt="">
                    </span>
                    <span class="grey1Joca--text text-body-joca open-sans-regular">
                      <span class="open-sans-bold">CC-BY</span> (Esta licença permite que outros distribuam, remixem, adaptem e criem a partir do seu trabalho, mesmo para fins comerciais, desde que lhe atribuam o devido crédito pela criação original)
                    </span>
                  </div>
                </div>

                            <span class="text-caption-2-joca primaryMid--text open-sans-regular ml-4">comentário realizado dia 19/11/21 às 15:30</span>

                            <v-icon class="ml-2" color="grey3Joca">mdi-delete</v-icon>

                          </div>
                        </template>
                      </div>
                    </Comments>
                  </template>
                </div>
              </CommentsArea>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import ResourceHeader from '@/components/Partials/Recursos/ResourceHeader.vue'
import ResourceInfos from '@/components/Partials/Recursos/ResourceInfos.vue'
import EvaluateArea from '@/components/Partials/EvaluateArea.vue'
import CommentsArea from '@/components/Partials/CommentsArea.vue'

import Comments from '@/components/geral/Comments.vue'

export default {
  components: {
    ResourceHeader,
    Comments,
    ResourceInfos,
    EvaluateArea,
    CommentsArea
  }
}
</script>
