<template>
  <v-card id="resource-header" width="100%" elevation="0" color="grey6Joca">
    <v-row>
      <v-col cols="12" sm="12" md="6" lg="4">
        <v-img
          class="image"
          width="100%"
          src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
        ></v-img>

        <!-- <img
          class="image w-100"
          src="~/assets/imgs/default/blue-light-default.svg"
          alt="Ilustração de uma mulher jovem, branca, com cabelos ao vento, coçando a cabeça e com um balãozinho de interrogação saindo da cabeça."
        /> -->
      </v-col>

      <v-col cols="12" sm="12" md="6" lg="6">
        <v-row align="center">
          <v-col cols="12" sm="12" md="12">
            <h2 class="text-body-joca lato-black info--text">TEXTO</h2>
          </v-col>
          <v-col class="pt-0" cols="12" sm="12" md="12">
            <h1 class="text-h5-joca lato-black primary--text">
              O uso de frutas silvestres na cozinha contemporânea lore
            </h1>
          </v-col>
          <v-col class="pt-0" cols="12" sm="8" md="6" lg="8">
            <span class="text-caption-2-joca primaryMid--text">
              Publicado em 01/01/2022
            </span>
            <div class="d-flex align-center">
              <v-rating
                :value="0"
                background-color="warningLight"
                color="warningLight"
                dense
                readonly
                size="23"
              ></v-rating>
              <span
                class="text-caption-2-joca grey3Joca--text open-sans-regular"
              >
                (0)
              </span>
            </div>
          </v-col>

          <v-col class="pt-0" cols="12" sm="4" md="6" lg="4">
            <div class="d-flex align-center">
              <!-- Favoritar -->
              <template>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      @click="$emit('favourite')"
                      icon
                      color="grey3Joca"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon>mdi-heart</v-icon>
                    </v-btn>
                  </template>
                  <span>Favoritar</span>
                </v-tooltip>

                <span
                  class="text-caption-2-joca grey3Joca--text open-sans-regular"
                >
                  (0)
                </span>
              </template>

              <!-- Salvar -->
              <template>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      @click="$emit('saveInTrail')"
                      icon
                      color="grey3Joca"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon>mdi-bookmark</v-icon>
                    </v-btn>
                  </template>
                  <span>Salvar</span>
                </v-tooltip>
              </template>

              <!-- Compartilhar -->
              <template>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      @click="$emit('shareRecourse')"
                      icon
                      color="grey3Joca"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon>mdi-share-variant</v-icon>
                    </v-btn>
                  </template>
                  <span>Compartilhar</span>
                </v-tooltip>
              </template>

              <!-- Denunciar -->
              <template>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      @click="$emit('denouceRecourse')"
                      icon
                      color="grey3Joca"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon>mdi-alert-circle</v-icon>
                    </v-btn>
                  </template>
                  <span>Denunciar</span>
                </v-tooltip>
              </template>
            </div>
          </v-col>

          <v-col cols="12" sm="12" md="12" lg="12">
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="12"
                lg="12"
                class="d-flex flex-column"
              >
                <p class="text-body-joca open-sans-regular">
                  <span class="primary--text open-sans-semibold">
                    Eixo temático:
                  </span>
                  Alimentos e Culinária
                </p>

                <p class="text-body-joca open-sans-regular">
                  <span class="primary--text open-sans-semibold">
                    Tipo de material:
                  </span>
                  Graduação
                </p>

                <p class="text-body-joca open-sans-regular">
                  <span class="primary--text open-sans-semibold">
                    Palavras-chave:
                  </span>
                  Frutas, Contemporâneo
                </p>
              </v-col>
              <v-col cols="12" sm="6" md="8" lg="6">
                <v-btn
                  disabled
                  depressed
                  rounded
                  small
                  color="primaryMid"
                  class="btn-primary-joca"
                >
                  <span
                    class="text-caption-1-joca whiteJoca--text open-sans-bold"
                  >
                    downloads/links disponíveis
                  </span>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>

      <v-col class="px-0" cols="12" sm="12" md="12" lg="2">
        <div class="d-flex align-center justify-center fill-height full-width">
          <div class="py-8 px-5 avatar-content">
            <slot name="right-side"></slot>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<style>
#resource-header .avatar-content {
  border-left: 0.5px solid #1cc4bc;
}

#resource-header .image {
  border-radius: 5px;
}

@media (max-width: 1264px) {
  #resource-header .avatar-content {
    border-left: 0;
  }
}
</style>
