<template>
  <v-row class="pb-5" style="border-bottom: 2px solid #1CC4BC;">
    <v-col cols="12">
      <h5 class="text-h5-joca lato-black secondary--text">Descrição do recurso</h5>
      <p class="text-body-joca grey1Joca--text open-sans-regular mt-2">
        Esse parece ser apenas um nome diferente para as frutas que você já tem o hábito de consumir na rotina diária, não é?
        A diferença é que o morango que é comprado na feira ou no mercado, por exemplo, não é necessariamente uma fruta silvestre, ainda que seja orgânico.
        Isso porque as condições para se considerar um alimento selvático variam de acordo com a origem do fruto em questão.<br><br>

        Basicamente, frutas silvestres são aquelas advindas de plantações naturais, como em bosques ou florestas, sem qualquer tipo de interferência humana.
        Com clima e solo favoráveis, os pomos são capazes de se desenvolver em qualquer lugar sem que precisem ser cultivados intencionalmente.
        No geral, apresentam cores avermelhadas ou azuladas e não possuem caroços.
      </p>
    </v-col>

    <v-col cols="12">
      <h5 class="text-h5-joca lato-black secondary--text">Autoria</h5>
      <p class="text-body-3-joca grey1Joca--text open-sans-regular mt-2">
        Márcia Peixoto
      </p>
    </v-col>

    <v-col cols="12">
      <h5 class="text-h5-joca lato-black secondary--text">Licença de uso</h5>
      <v-container class="px-0">
        <v-row>
          <v-col cols="12" sm="2" md="2" lg="2" xl="1">
            <img width="100%" src="@/assets/imgs/licença-de-uso/CC-BY.png" alt="">
          </v-col>
          <v-col cols="12" sm="10" md="10" lg="10" xl="11">
            <div class="grey1Joca--text text-body-joca open-sans-regular">
              <span class="open-sans-bold">CC-BY</span> (Esta licença permite que outros distribuam, remixem, adaptem e criem a partir do seu trabalho, mesmo para fins comerciais, desde que lhe atribuam o devido crédito pela criação original)
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-col>

    <v-col cols="12">
      <h5 class="text-h5-joca lato-black secondary--text mb-2">Outras informações</h5>
      <div class="text-body-joca grey3Joca--text open-sans-regular mt-2">
        <span class="open-sans-bold primaryMid--text">Tamanho do arquivo:</span> 00 mb
      </div>
      <div class="text-body-joca grey3Joca--text open-sans-regular mt-2">
        <span class="open-sans-bold primaryMid--text">Idioma:</span> Português
      </div>
    </v-col>
  </v-row>
</template>
