<template>
  <div id="filtro_ordenar" class="d-inline-block">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn outlined rounded small color="primaryMid" v-bind="attrs" v-on="on">
          <span class="text-caption-1-joca open-sans-bold primaryMid--text"
            >{{ itemSelecionado }} <v-icon>mdi-chevron-down</v-icon>
          </span>
        </v-btn>
      </template>

      <v-list>
        <v-list-item v-for="(item, index) in items" :key="index">
          <v-list-item-title @click="selectItem(item.title)">
            <span class="text-caption-2-joca  cursor-pointer" :class="item.title == itemSelecionado ? 'primaryMid--text' : 'grey1Joca--text'">
              {{ item.title }}
            </span>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        { title: "Mais recentes" },
        { title: "Mais antigos" },
        { title: "Mais baixados" },
        { title: "Mais favoritos" },
        { title: "Mais visualizados" },
        { title: "Ordem alfabética" },
      ],

      itemSelecionado: "Mais recentes",
    };
  },

  methods: {
    selectItem(item) {
      this.itemSelecionado = item;
    },
  },
};
</script>
