<template>
  <div id="resource-table">
    <v-data-table
      flat
      :headers="headers"
      :items="desserts"
      item-key="id"
      hide-default-footer
      :page.sync="paginate.page"
      :items-per-page="paginate.itemsPerPage"
      :search="search"
    >
      <template v-slot:item.title="{ item }">
        <span class="text-caption-1-joca">
          {{ item.title | truncate(30) }}
        </span>
      </template>

      <template v-slot:item.date="{ item }">
        <span class="text-caption-1-joca">{{ item.date }}</span>
      </template>

      <template v-slot:item.type="{ item }">
        <span class="accent--text text-caption-1-joca">{{ item.type }}</span>
      </template>

      <template v-slot:item.status="{ item }">
        <v-chip
          :color="item.status === 'RESOLVIDA' ? 'success' : 'warning'"
          outlined
        >
          <span class="text-caption-1-joca open-sans-semibold mr-2">
            {{ item.status }}
          </span>
        </v-chip>
      </template>

      <template v-slot:item.actions="{ item }">
        <template>
          <v-row class="py-5" justify="end">
            <!-- Abrir -->
            <v-tooltip bottom v-if="!isAprovalTeacher">
              <template v-slot:activator="{ on, attrs }">
                <nuxt-link
                  :to="'/painel-de-controle/denuncias/ver-detalhes/' + item.id"
                >
                  <v-btn
                    icon
                    small
                    class="mx-1"
                    color="grey3Joca"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon small>mdi-arrow-top-right-bold-box-outline</v-icon>
                  </v-btn>
                </nuxt-link>
              </template>
              <span>Abrir</span>
            </v-tooltip>

            <!-- Excluir -->
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  small
                  color="grey3Joca"
                  v-bind="attrs"
                  v-on="on"
                  @click="deleteDenounce(item.id)"
                >
                  <v-icon small>mdi-delete</v-icon>
                </v-btn>
              </template>
              <span>Excluir</span>
            </v-tooltip>
          </v-row>
        </template>
      </template>
    </v-data-table>

    <!-- Footer/Paginação -->
    <slot name="footer"> </slot>
  </div>
</template>

<script>
import Filters from '@/mixins/Filters.vue'

export default {
  mixins: [Filters],
  props: ['search', 'paginate', 'isAprovalTeacher'],

  data() {
    return {
      showTooltip: false,
      headers: [
        { text: 'DENUNCIADO POR', value: 'title', sortable: false, width: 300 },
        { text: 'DATA', value: 'date', sortable: false },
        { text: 'TIPO DE PERFIL', value: 'type', sortable: false },
        { text: 'STATUS', value: 'status', sortable: false },
        { text: '', value: 'actions', sortable: false, width: 100 },
      ],

      desserts: [
        {
          id: '1',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'DISCENTE',
          status: 'EM ABERTO',
        },

        {
          id: '2',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'DISCENTE',
          status: 'EM ABERTO',
        },

        {
          id: '3',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'DISCENTE',
          status: 'EM ABERTO',
        },

        {
          id: '4',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'DOCENTE',
          status: 'EM ABERTO',
        },

        {
          id: '5',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'GERAL',
          status: 'RESOLVIDA',
        },

        {
          id: '6',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'GERAL',
          status: 'RESOLVIDA',
        },

        {
          id: '7',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'DOCENTE',
          status: 'RESOLVIDA',
        },

        {
          id: '8',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'DOCENTE',
          status: 'RESOLVIDA',
        },

        {
          id: '9',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'GERAL',
          status: 'RESOLVIDA',
        },

        {
          id: '10',
          title: 'Márcia Peixoto',
          date: '20/10/2021',
          type: 'GERAL',
          status: 'RESOLVIDA',
        },
      ],
    }
  },

  methods: {
    deleteDenounce(id) {
      console.log(id)

      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir a denúncia selecionada? Essa ação não poderá ser desfeita.',
        title: 'Deseja excluir a denúncia selecionada?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'error', key: false },
          { text: 'SIM, EXCLUIR', color: 'errorLight', key: false },
        ],
      })
    },
  },
}
</script>

<style>
#resource-table .v-data-table-header th {
  color: var(--primaryMid) !important;
  text-transform: uppercase;
}

#resource-table .v-data-table tbody {
  color: var(--grey2Joca) !important;
  font-size: var(--size-body-4) !important;
}
</style>
