<template>
  <div id="footer-copy">
    <div class="text-center d-flex justify-center">
      <nuxt-link
        v-for="(item, index) in navigationItens.busyness"
        :key="index"
        :to="'/' + item.to"
        class="whiteJoca--text text-caption-2-joca mr-10 py-3 open-sans-semibold"
      >
        {{ item.name }}
      </nuxt-link>

      <a
        href="https://politicasestudantis.ufrj.br/index.php/equipe/equipe-da-divisao-de-integracao-pedagogica-diped"
        target="_blank"
        class="whiteJoca--text text-caption-2-joca mr-10 py-3 open-sans-semibold"
      >
        Apoio Pedagógico UFRJ
      </a>
    </div>

    <p class="whiteJoca--text text-center pb-2">
      <span class="text-caption-2-joca"> 2022© PLATAFORMA JOCA </span>
      <span class="text-caption-2-joca">
        - Desenvolvido com carinho por Levante Lab
      </span>
    </p>
  </div>
</template>
<script>
import navigation from '@/utils/json/navigation'
const navigationItens = navigation

export default {
  data() {
    return {
      navigationItens,
    }
  },
}
</script>

<style>
@media (max-width: 425px) {
  #footer-copy {
    flex-direction: column !important;
  }
}
</style>
