<template>
  <div id="footer-nav">
    <v-container class="py-0">
      <v-row>
        <v-col cols="12" sm="12" md="4">
          <v-container class="py-0">
            <v-row>
              <!-- Joca -->
              <v-col cols="6" sm="6" md="6" class="align-center-mobile-sm">
                <h4 class="text-body-4-joca secondary--text mb-3">Joca</h4>

                <nav>
                  <ul>
                    <li
                      v-for="(item, index) in navigationItens.jocaNav"
                      :key="index"
                      class="mb-4"
                    >
                      <nuxt-link
                        :to="item.to"
                        class="text-caption-2-joca primary--text"
                      >
                        {{ item.name }}
                      </nuxt-link>
                    </li>
                  </ul>
                </nav>
              </v-col>

              <!-- Ajuda -->
              <v-col cols="6" sm="6" md="6" class="align-center-mobile-sm">
                <h4 class="text-body-4-joca secondary--text mb-3">Ajuda</h4>

                <nav>
                  <ul>
                    <li
                      v-for="(item, index) in navigationItens.helpNav"
                      :key="index"
                      class="mb-4"
                    >
                      <nuxt-link
                        :to="item.to"
                        class="text-caption-2-joca primary--text"
                      >
                        {{ item.name }}
                      </nuxt-link>
                    </li>
                  </ul>
                </nav>
              </v-col>
            </v-row>
          </v-container>
        </v-col>

        <v-col cols="12" sm="12" md="8" class="d-flex align-center">
          <v-container class="py-0">
            <v-row>
              <v-col
                :md="index === 0 || index === 4 ? 3 : 2"
                sm="6"
                xs="6"
                cols="6"
                v-for="(item, index) in logos"
                :key="index"
                class="d-flex align-center justify-center"
              >
                <nav>
                  <a :href="item.url" v-if="item.url" target="_blank">
                    <img
                      max-width="100px"
                      :src="require(`~/static/images/logos/${item.src}`)"
                      :alt="item.alt"
                      :class="
                        index === 0 || index === 4 ? '' : 'logo-pacemaker'
                      "
                    />
                  </a>

                  <nuxt-link :to="item.to" v-else>
                    <img
                      max-width="100px"
                      :src="require(`~/static/images/logos/${item.src}`)"
                      :alt="item.alt"
                      :class="
                        index === 0 || index === 4 ? '' : 'logo-pacemaker'
                      "
                    />
                  </nuxt-link>
                </nav>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import navigation from '@/utils/json/navigation'
const navigationItens = navigation

import pacemaker from '@/utils/json/pacemaker'
const logos = pacemaker

export default {
  data() {
    return {
      navigationItens,
      logos,
    }
  },
}
</script>

<style>
#footer-nav .logo-pacemaker {
  max-width: 100px;
}

#footer-nav a:hover {
  text-decoration: underline;
}
</style>
