<template>
  <v-form
    id="form-submit-email"
    ref="formSubmitEmail"
    @submit.prevent="submitEmail()"
    lazy-validation
  >
    <label for="email" class="primaryMid--text lato-bold text-body-joca">
      E-mail
    </label>
    <v-text-field
      v-model="email"
      id="email"
      color="info"
      class="mt-1"
      type="email"
      label="Digite o e-mail cadastrado"
      outlined
      :rules="[verifyDataRequired, verifyIfEmail]"
    >
    </v-text-field>
    <div class="text-center">
      <v-btn type="submit" depressed rounded color="primaryMid" class="btn-primary-joca" :loading="enviando">
        <span
          class="text-caption-1-joca whiteJoca--text open-sans-bold"
          type="submit"
        >
          Enviar link
        </span>
      </v-btn>
    </div>
  </v-form>
</template>
<script>
import ValidationForm from '@/mixins/ValidationForm.vue'
export default {
  mixins: [ValidationForm],
  data () {
    return {
      email: null,
      enviando: false
    }
  },
  created () {
    
  },
  methods: {
    submitEmail () {
      if (this.$refs.formSubmitEmail.validate()) {
        this.enviando = true
        this.$axios.$post('/auth/alter-password', {
          email: this.email
        }).then((r) => {
          if (r.status) {
            this.$dialog.confirm({
              text: 'Siga as orientações para redefinir sua senha.',
              title: 'Confira sua caixa de entrada!',
              icon: 'mdi-checkbox-marked-circle',
              width: '800px',
              actions: [{ text: 'Fechar', color: 'grey', key: false }],
            })
          }
          this.enviando = false
        }).catch((e) => {
          this.$dialog.error({
            text: 'Verifique se o email digitado está correto e tente novamente.',
            title: 'Não encontramos seu cadastro.',
            icon: 'mdi-close-circle',
            width: '800px',
            actions: [{ text: 'Fechar', color: 'grey', key: false }],
          })
          this.enviando = false
        })
      }
    }
  }
}
</script>
