<template>
  <div>
    <h1 class="text-h4-joca lato-bold secondary--text mb-2 lato-bold">
      Entrar na JOCA
    </h1>
    <p class="text-body-joca mb-10 d-flex">
      Não tem uma conta?

      <span
        @click="$emit('register')"
        class="ml-1 text-decoration-underline text-body-4-joca primaryMid--text cursor-pointer"
      >
        Cadastre-se!
      </span>
    </p>

    <LoginForm />
  </div>
</template>

<script>
import LoginForm from '@/components/forms/platform/login/LoginForm.vue'

export default {
  components: { LoginForm },
}
</script>
