<template>
  <div>
    <div v-highlight class="h-100">
      <pre class="language-javascript">
        <code>
          {{code}}

          <slot name="blockCode">
          </slot>
        </code>
      </pre>
    </div>

    <v-btn
      v-if="code"
      depressed
      small
      dark
      class="btn-success-joca mb-2"
      @click="copyCode(code, 'Código')"
    >
      <v-icon left> mdi-file-code-outline </v-icon>
      <span class="text-caption-1-joca open-sans-bold"> Copiar </span>
    </v-btn>
  </div>
</template>
<script>
import copyCode from '@/mixins/CopyCode.vue'

export default {
  mixins: [copyCode],
  props: ['code'],
}
</script>
