<template>
  <div id="page-recourse-single" class="whiteJoca">
    <!-- Header -->
    <div class="grey6Joca py-16">
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12">
            <ResourceHeader
              @favourite="favourite"
              @saveInTrail="saveInTrail"
              @shareRecourse="dialogShareRecourse = true"
              @denouceRecourse="dialogDenounceRecourse = true"
            >
              <template slot="right-side">
                <AvatarFollow title="Enviado por" />
              </template>
            </ResourceHeader>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <!-- Conteúdo -->
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="11" md="10" lg="10">
          <!-- area de informações do recurso -->
          <section>
            <v-container>
              <ResourceInfos class="pt-5" />
            </v-container>
          </section>

          <!-- area de avaliar o recurso -->
          <section>
            <v-container>
              <EvaluateArea
                type="resource"
                class="pt-5"
                @registerAccount="dialogRegister = true"
              />
            </v-container>
          </section>

          <!-- area de comentarios do recurso -->
          <section>
            <v-container>
              <CommentsArea>
                <!-- slot para exibição dos comentarios -->
                <div slot="comments">
                  <template>
                    <Comments class="mb-3">
                      <!-- slot das ações dos comentarios -->
                      <div slot="actions">
                        <template>
                          <div class="d-flex align-center mt-2">
                            <div class="d-flex align-center mr-2">
                              <v-icon color="grey3Joca">mdi-thumb-up</v-icon>
                              <span
                                class="text-caption-2-joca grey3Joca--text open-sans-regular ml-1"
                                >(0)</span
                              >
                            </div>

                            <v-icon color="grey3Joca">mdi-alert-circle</v-icon>

                            <span
                              class="text-caption-2-joca primaryMid--text open-sans-regular ml-4"
                              >comentário realizado dia 19/11/21 às 15:30</span
                            >

                            <v-icon class="ml-2" color="grey3Joca"
                              >mdi-delete</v-icon
                            >
                          </div>
                        </template>
                      </div>
                    </Comments>
                  </template>
                </div>
              </CommentsArea>
            </v-container>
          </section>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="modalViewProfileOpened" persistent max-width="1207px">
      <ViewProfileModal @close="modalViewProfileOpened = false" />
    </v-dialog>

    <!-- Dialog Shared -->
    <v-dialog v-model="dialogShareRecourse" width="500">
      <v-card class="py-8">
        <v-card-text>
          <ShareMidiasSocialCard title="Compartilhe na sua rede!" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog Register -->
    <v-dialog v-model="dialogRegister" width="800">
      <RegisterOptionsTypesUser @closeDialogRegister="dialogRegister = false" />
    </v-dialog>

    <!-- Dialog Denounce Divulgation -->
    <v-dialog v-model="dialogDenounceRecourse" persistent max-width="800">
      <v-card class="pb-4">
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon color="grey3Joca" @click="dialogDenounceRecourse = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>

        <v-card-text>
          <ReportDenounceForm>
            <template slot="action-secondary">
              <v-btn
                @click="dialogDenounceRecourse = false"
                outlined
                rounded
                color="primaryMid"
                class="btn-primary-outlined-joca mr-2"
              >
                <span class="text-caption-1-joca open-sans-bold">
                  CANCELAR
                </span>
              </v-btn>
            </template>
          </ReportDenounceForm>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ResourceHeader from '@/components/Partials/Recursos/ResourceHeader.vue'
import AvatarFollow from '@/components/avatar/global/AvatarFollow.vue'
import ShareMidiasSocialCard from '@/components/cards/global/ShareMidiasSocialCard.vue'
import ResourceInfos from '@/components/Partials/Recursos/ResourceInfos.vue'
import EvaluateArea from '@/components/Partials/EvaluateArea.vue'
import CommentsArea from '@/components/Partials/CommentsArea.vue'
import ReportDenounceForm from '@/components/forms/global/denuncias/ReportDenounceForm.vue'
import RegisterOptionsTypesUser from '@/components/modals/global/cadastro-de-usuario/RegisterOptionsTypesUser.vue'

import Comments from '@/components/geral/Comments.vue'

import ViewProfileModal from '@/components/modals/global/ViewProfileModal.vue'

export default {
  layout: 'control-panel',
  components: {
    ResourceHeader,
    ReportDenounceForm,
    ShareMidiasSocialCard,
    ResourceInfos,
    EvaluateArea,
    CommentsArea,
    RegisterOptionsTypesUser,

    Comments,

    ViewProfileModal,
    AvatarFollow,
  },

  data() {
    return {
      modalViewProfileOpened: false,
      dialogShareRecourse: false,
      dialogDenounceRecourse: false,
      dialogRegister: false,

      items: [
        {
          text: 'Recursos',
          disabled: false,
          exact: true,
          to: '/painel-de-controle-docente/recursos',
          color: 'primaryMid',
        },
        {
          text: 'Visualização',
          disabled: true,
          exact: true,
          to: '/painel-de-controle/recursos/ver-detalhes',
          color: '',
        },
      ],
    }
  },

  methods: {
    favourite() {
      console.log('favoritar')
    },

    saveInTrail() {
      console.log('saveInTrail')
    },
  },
}
</script>
