<template>
<div>
  <v-form
    id="form-reset-password"
    ref="formResetPassword"
    @submit.prevent="resetPassword()"
    lazy-validation
    v-if="!carregando && verify">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
          <label for="email" class="grey3Joca--text lato-bold text-body-joca">
            E-mail
          </label>
          <v-text-field
            :value="data.email"
            id="email"
            color="info"
            class="mt-1"
            type="email"
            label="Valor do email"
            outlined
            disabled
          >
          </v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
          <label
            for="password"
            class="primaryMid--text lato-bold text-body-joca"
          >
            Senha
          </label>
          <v-text-field
            v-model="password"
            outlined
            :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show3 ? 'text' : 'password'"
            id="password"
            label="Insira sua nova senha"
            class="input-group--focused"
            @click:append="show3 = !show3"
            :rules="[verifyDataRequired, verifyMinLengthPassword]"
          ></v-text-field>
        </v-col>

        <v-col cols="12" sm="12" md="6" lg="6" xl="6">
          <label
            for="passwordConfirm"
            class="primaryMid--text lato-bold text-body-joca"
          >
            Confirmar senha
          </label>
          <v-text-field
            v-model="password_confirmation"
            outlined
            :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show4 ? 'text' : 'password'"
            id="passwordConfirm"
            label="Confirme sua nova senha"
            class="input-group--focused"
            @click:append="show4 = !show4"
            :rules="[verifyDataRequired, verifyMinLengthPassword, compareValues(password_confirmation, password)]"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-container>

    <div class="text-center">
      <v-btn depressed rounded color="primaryMid" class="btn-primary-joca" type="submit" :disabled="recuperando" :loading="recuperando">
        <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
          Redefinir senha
        </span>
      </v-btn>
    </div>
  </v-form>

  <div v-if="carregando">
    <v-progress-circular indeterminate color="green"></v-progress-circular>
  </div>

  <div v-if="!carregando && !verify">
    <h3>{{ msg }}</h3>
    <v-btn depressed rounded color="primaryMid" class="btn-primary-joca" to="/esqueci-minha-senha">
        <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
          Tentar novamente
        </span>
      </v-btn>
  </div>
</div>
</template>

<script>
import ValidationForm from '@/mixins/ValidationForm.vue'
export default {
  mixins: [ValidationForm],
  data() {
    return {
      password: null,
      password_confirmation: null,
      show3: false,
      show4: false,
      carregando: false,
      veriry: true,
      data: null,
      msg: '',
      recuperando: false
    }
  },
  created () {
    this.verifyToken()
  },
  methods: {
    async resetPassword () {
      if (this.$refs.formResetPassword.validate()) {
        this.recuperando = true
        await this.$axios.post('/auth/confirmar-reset-senha', {
          email: this.data.email,
          token: this.data.token,
          password: this.password,
          password_confirmation: this.password_confirmation
        }).then((r) => {
          const data = r.data
          if (data) {
            this.$dialog.confirm({
              text: '',
              title: data.msg,
              icon: 'mdi-checkbox-marked-circle',
              width: '800px',
              actions: [{ text: 'Fechar', color: 'grey', key: false }],
            })
            this.$router.push('/login')
          }
          this.recuperando = false
        }).catch((e) => {
          this.$dialog.error({
            text: e.response.data.msg,
            title: 'Erro',
            icon: 'mdi-close-circle',
            width: '800px',
            actions: [{ text: 'Fechar', color: 'grey', key: false }],
          })
          this.recuperando = false
        })
      }
    },
    async verifyToken () {
      this.carregando = true
      const token = this.$route.params.index

      await this.$axios.post('/auth/verifica-link-recuperacao-senha', {
        token: token
      }).then((r) => {
        const data = r.data
        if (data) {
          this.data = data.data
          this.verify = true
        }
        this.carregando = false
      }).catch((e) => {
        this.carregando = false
        this.verify = false
        this.msg = e.response.data.msg
      })
    }
  }
}
</script>
