<template>
  <div id="pagina-favoritos-area-usuario">
    <div class="container">
      <v-row>
        <v-col cols="12" md="12" sm="12">
          <h5 class="text-h5-joca lato-bold secondary--text mb-4">
            Recursos favoritos ({{ "0" }})
          </h5>
          <!-- ESTADO DE LOADER -->
          <template v-if="loader.recursos">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </template>
          <template v-else>
            <!-- COM DADOS  -->
            <template v-if="recursosFavoritos.length">
              <CarouselRecursos class="mb-5 pb-5"></CarouselRecursos>
            </template>
            <!-- NENHUM DADO ENCONTRADO -->
            <template v-else>
              <p class="text-body-1-joca grey4Joca--text mt-5">
                Ops, parece que não encontramos nenhum recurso favoritado.
              </p>
            </template>
          </template>

          <!-- ------------------------------------------------------------------------------------------------------------ -->

          <h5 class="text-h5-joca lato-bold secondary--text mt-6 pt-9 mb-4">
            Trilhas favoritas ({{ "0" }})
          </h5>

          <!-- ESTADO DE LOADER -->
          <template v-if="loader.trilhas">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </template>
          <template v-else>
            <!-- COM DADOS  -->
            <template v-if="trilhasFavoritas.length">
              <CarouselGlobal class="mb-5 pb-5">
                <template slot="content">
                  <CardTrilha v-for="i in 10" :key="i"></CardTrilha>
                </template>
              </CarouselGlobal>
            </template>
            <!-- NENHUM DADO ENCONTRADO -->
            <template v-else>
              <p class="text-body-1-joca grey4Joca--text mt-5">
                Ops, parece que não encontramos nenhuma trilha favoritada.
              </p>
            </template>
          </template>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import CarouselRecursos from "../../../components/carousels/CarouselRecursos";
import CarouselGlobal from "../../../components/carousels/CarouselGlobal";
import CardTrilha from "../../../components/cards/platform/Trilhas/CardTrilha";

export default {
  // layout: 'control-panel',
  components: {
    CarouselRecursos,
    CarouselGlobal,
    CardTrilha,
  },

  data() {
    return {
      loader: {
        recursos: false,
        trilhas: false,
      },
      recursosFavoritos: [],
      trilhasFavoritas: [],
    };
  },
};
</script>
