/* Breadcrumb */
.panel-breadcrumbs .v-breadcrumbs__item {
  line-height: var(--line-caption-2);
  font-size: var(--size-caption-2);
  color: var(--primaryMid);
}

.panel-breadcrumbs .v-breadcrumbs__item--disabled {
  color: var(--secondary) !important;
}

.panel-breadcrumbs .v-breadcrumbs__divider {
  padding: 0px 5px !important;
}
