.btn-primary-joca:focus,
.btn-info-joca:focus {
  border: solid 2px var(--secondary);
}

.btn-secondary-joca:focus,
.btn-error-joca:focus {
  border: solid 2px var(--accent);
}

.btn-primary-outlined-joca:focus,
.btn-secondary-outlined-joca:focus,
.btn-info-outlined-joca:focus,
.btn-error-outlined-joca:focus {
  border: solid 2px;
}

.btn-error-joca:active,
.btn-primary-joca:active,
.btn-info-joca:active,
.btn-secondary-joca:active,
.btn-error-joca:active,
.btn-primary-outlined-joca:active,
.btn-secondary-outlined-joca:active,
.btn-info-outlined-joca:active,
.btn-error-outlined-joca:active {
  border: solid 1px;
}
