.vuedl-layout .v-dialog-wrapper .v-card {
  padding: 30px 0px 20px 10px;
}

.vuedl-layout .v-dialog-wrapper .v-toolbar--flat {
  padding: 10px;
  height: 70px !important;
  background-color: transparent !important;
}

.vuedl-layout
  .v-dialog-wrapper
  .v-toolbar
  .v-toolbar__content
  .v-toolbar__title {
  line-height: var(--line-h4);
  font-size: var(--size-h4);
  font-family: 'Lato Bold', sans-serif;
}

.vuedl-layout .v-dialog-wrapper .body-1 {
  text-align: center;
  line-height: var(--line-body-4);
  font-size: var(--size-body-4);
}

.v-dialog-wrapper .spacer {
  flex-grow: 0 !important;
}
.v-dialog-wrapper .v-card__actions {
  justify-content: center !important;
}

.v-dialog-wrapper .v-card__actions button {
  border: solid 2px;
  border-radius: 20px;
}
