.select-filter-primary fieldset,
.input-search-primary fieldset {
  border-color: var(--primaryMid) !important;
}

.select-filter-primary .v-input__append-inner .v-input__icon .v-icon,
.input-search-primary .v-input__append-inner .v-input__icon i {
  color: var(--primaryMid) !important;
}

.select-filter-primary .v-label {
  line-height: var(--line-caption-1);
  font-size: var(--size-caption-1);
  text-transform: uppercase;
  font-family: 'Open Sans SemiBold', sans-serif;

  color: var(--primaryMid) !important;
}

.input-search-primary .v-text-field__slot input {
  line-height: var(--line-caption-1);
  font-size: var(--size-caption-1);
}
