<template>
  <div>
    <v-list-item class="d-flex justify-end mt-2">
      <v-icon color="grey3Joca" @click.stop.prevent="$emit('close')"
        >mdi-close</v-icon
      >
    </v-list-item>

    <v-list dense>
      <v-list-item>
        <v-list-item-content>
          <span class="text-body-3-joca open-sans-bold secondary--text"
            >Sobre</span
          >
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text">A plataforma</span>
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text"
            >Josué de Castro</span
          >
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-list dense>
      <v-list-item>
        <v-list-item-content>
          <span class="text-body-3-joca open-sans-bold secondary--text"
            >Ajuda</span
          >
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text"
            >Dúvidas Frequentes</span
          >
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text">Contato</span>
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text">Termos de Uso</span>
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text"
            >Políticas de Privacidade</span
          >
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text">Acessibilidade</span>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-list dense>
      <v-list-item>
        <v-list-item-content>
          <span class="text-body-3-joca open-sans-bold secondary--text"
            >Outros</span
          >
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text">Mural</span>
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text"
            >Pesquisar na JOCA</span
          >
        </v-list-item-content>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <span class="text-body-4-joca grey1Joca--text"
            >Apoio Pedagógico UFRJ</span
          >
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  props: ['drawerOptions']
}
</script>
