<template>
  <div>
    <v-list-item class="d-flex justify-end mt-2">
      <v-icon color="grey3Joca" @click.stop.prevent="$emit('close')"
        >mdi-close</v-icon
      >
    </v-list-item>

    <v-list dense>
      <v-list-item>
        <v-list-item-content>
          <span class="text-body-3-joca open-sans-bold secondary--text"
            >Olá, Márcia!</span
          >
        </v-list-item-content>
      </v-list-item>

      <v-list-item v-for="option in drawerOptions" :key="option.label" link :to="option.link">
        <v-list-item-content>
          <span
            class="text-body-4-joca"
            :class="option.label !== 'Sair' ? 'grey1Joca--text' : 'error--text'"
          >
            {{option.label}}
          </span>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  // props com as opções do menu direito, label e link
  props: ['drawerOptions']
}
</script>
