<template>
  <v-card
    width="100%"
    height="100%"
  >
    <v-row>

      <v-col cols="12" class="text-center">
        <slot name="image"> </slot>
      </v-col>
      <v-col cols="12" class="text-center">
        <h3 class="text-h3-joca lato-bold accent--text">{{value}}</h3>
        <p class="my-3 text-body-3-joca grey1Joca--text open-sans-regular">{{text}}</p>
        <div class="pb-5">
          <v-icon v-if="decrement"  color="error" size="15px">mdi-arrow-down</v-icon>
          <v-icon v-else color="success" size="15px">mdi-arrow-up</v-icon>
          <span class="text-caption-2-joca" :class="decrement ? 'error--text' : 'success--text'">{{decrement ? '-' : '+'}}{{percentage}}% / mês</span>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  props: ['value', 'text', 'percentage', 'to', 'decrement']
}
</script>
