<template>
  <div id="trails-table">
    <v-data-table
      style="border-bottom: 1px solid #E9ECEF !important;"
      flat
      :headers="headers"
      :items="desserts"
      item-key="name"
      class="elevation-0"
      hide-default-footer
    >
      <template v-slot:item.quantity="{ item }">
        <span class="info--text text-caption-1-joca">{{item.quantity}}</span>
      </template>

      <template v-slot:item.status>
        <v-btn outlined rounded color="info" class="btn-info-outlined-joca">
          <span class="text-caption-1-joca open-sans-bold mr-2"> Público </span>
          <v-icon color="info" right> mdi-eye </v-icon>
        </v-btn>
      </template>

      <template v-slot:item.actions>
        <v-row class="py-5" justify="end">

          <v-tooltip
            bottom
          >
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                @click.stop.prevent="$router.push('/painel-de-controle/trilhas/editar')"
                small
                class="mr-2"
                color="grey3Joca"
                v-bind="attrs"
                v-on="on"
              >
                mdi-pencil
              </v-icon>
            </template>
            <span class="text-caption-2-joca">Editar</span>
          </v-tooltip>

          <v-tooltip
            bottom
          >
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                @click.stop.prevent="$router.push('/painel-de-controle/trilhas/ver-detalhes/1')"
                small
                color="grey3Joca"
                v-bind="attrs"
                v-on="on"
              >
                mdi-arrow-top-right-bold-box-outline
              </v-icon>
            </template>
            <span>Abrir</span>
          </v-tooltip>


          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                v-on="on"
                color="grey3Joca"
              >
                <v-icon size="18px">mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list class="text-caption-2-joca">
              <v-list-item @click.stop.prevent="openDialogInfo()">
                <v-list-item-title class="grey1Joca--text">
                  <span class="text-caption-2-joca">Privar trilha</span>
                </v-list-item-title>
              </v-list-item>

              <v-list-item @click.stop.prevent="openDialogError()">
                <v-list-item-title class="error--text">
                  <span class="text-caption-2-joca">Excluir trilha</span>
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-row>
      </template>
    </v-data-table>
    <!-- Footer/Paginação -->
    <slot name="footer"> </slot>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showTooltip: false,
      headers: [
        { text: 'TÍTULO', value: 'title', sortable: false },
        { text: 'DATA', value: 'date', sortable: false },
        { text: 'AUTOR(A)', value: 'author', sortable: false },
        { text: 'QUANTIDADE', value: 'quantity', sortable: false },
        { text: 'STATUS', value: 'status', sortable: false },
        { text: '', value: 'actions', sortable: false,  width: 85 },
      ],
      desserts: [
        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },

        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },

        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },
        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },
        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },
        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },
        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },
        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },
        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },
        {
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          author: 'Márcia Peixoto',
          quantity: '10 RECURSOS',
        },

      ],
    }
  },

  methods: {
    openDialogError() {
      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir a trilha selecionada? Essa ação não poderá ser desfeita e a pessoa perderá o acesso à trilha.',
        title: 'Deseja excluir a trilha selecionada?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'error', key: false, rounded: true},
          { text: 'SIM, EXCLUIR', color: 'error', key: true, rounded: true},
        ],
      })
    },

    openDialogInfo() {
      this.$dialog.info({
        text: 'Ao tornar público, qualquer pessoa que acessar a plataforma poderá visualizar o recurso selecionado.',
        title: 'Deseja tornar esse recurso público?',
        icon: false,
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'info', key: false, rounded: true},
          { text: 'SIM, TORNAR PÚBLICO', color: 'info', key: true, rounded: true},
        ],
      })
    },
  }
}
</script>


<style>
  #trails-table .v-data-table-header th {
    color: var(--primaryMid) !important;
    text-transform: uppercase;
  }

  #trails-table .v-data-table tbody {
    color: var(--grey2Joca) !important;
    font-size: var(--size-body-4) !important;
  }
</style>
