<template>
  <v-tooltip
    bottom
    content-class="text-center primary"
    internal-activator
    max-width="229px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-icon
        color="grey3Joca"
        class="cursor-pointer"
        style="font-size: 20px"
        v-bind="attrs"
        v-on="on"
      >
        {{ icon }}
      </v-icon>
    </template>
    <span>{{ informacao }}</span>
  </v-tooltip>
</template>
<script>
export default {
  props: ['icon', 'informacao'],
}
</script>
