<template>
  <div id="page-denounce" class="grey6Joca pb-16">
    <!-- Header page -->
    <v-container class="mb-5">
      <v-row>
        <v-col cols="12" md="12" lg="5">
          <v-breadcrumbs
            :items="items"
            class="panel-breadcrumbs pb-0"
          ></v-breadcrumbs>

          <h2 class="text-body-joca grey2Joca--text font-weight-regular">
            Todas as denúncias relacionadas à plataforma
          </h2>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="7">
          <div class="h-100 d-flex justify-end mobile-xs-column align-center">
            <SearchInput
              color="primaryMid"
              placeholder="Busque denúncias no painel"
              style="max-width: 322px"
              class="mt-4 input-search-primary w-100"
            />

            <v-btn
              outlined
              rounded
              color="info"
              class="btn-info-outlined-joca ml-4 mt-4"
              @click="exportPeoples()"
            >
              <v-icon left> mdi-file-export-outline </v-icon>
              <span class="text-caption-1-joca open-sans-bold">
                EXPORTAR DADOS
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- Order -->
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12" lg="3">
          <div class="pt-3">
            <h4 class="text-body-joca lato-black info--text">
              Exibindo 10 de 500 denúncias
            </h4>
          </div>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="9">
          <div class="d-flex align-center justify-end mobile-xs-column">
            <span class="text-caption-1-joca primary--text mr-4">
              Ordenar por
            </span>

            <v-select
              label="MAIS RECENTES"
              class="select-filter-primary w-100 mr-4 mb-1 select-more-new"
              dense
              rounded
              hide-details
              :items="[
                'Mais recentes',
                'Mais antigos',
                'Mais visualizados',
                'Ordem alfabética',
              ]"
              outlined
            ></v-select>

            <v-select
              label="TIPO DE DENÚNCIA"
              dense
              rounded
              hide-details
              :items="['Ordem alfabética', 'Autores recentes']"
              color="primaryMid"
              class="select-filter-primary w-100 mr-4 mb-1 select-type-profile"
              outlined
            ></v-select>

            <v-select
              label="STATUS"
              dense
              rounded
              class="select-filter-primary w-100 mb-1 select-status"
              hide-details
              :items="['Público', 'Privado', 'Rascunho', 'Removido']"
              color="primaryMid"
              outlined
            ></v-select>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- Table -->
    <v-container class="px-0">
      <v-col cols="12" sm="12" md="12" lg="12">
        <v-card class="shadow-joca">
          <v-card-text>
            <DenounceTable
              :search="search"
              :paginate="paginate"
              :isAprovalTeacher="false"
            >
              <div class="text-center pt-4" slot="footer">
                <v-pagination
                  depressed
                  v-model="paginate.page"
                  :length="paginate.last_page"
                  color="secondary"
                >
                </v-pagination>
              </div>
            </DenounceTable>
          </v-card-text>
        </v-card>
      </v-col>
    </v-container>
  </div>
</template>

<script>
import SearchInput from '@/components/geral/SearchInput.vue'
import DenounceTable from '@/components/tables/painel-de-controle/denuncias/DenounceTable.vue'

export default {
  components: {
    SearchInput,
    DenounceTable,
  },

  data() {
    return {
      search: '',

      paginate: {
        page: 1,
        last_page: 0,
        total_items: 0,
      },

      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Denúncias',
          disabled: true,
          to: '/painel-de-controle/denuncias',
          color: '',
        },
      ],
    }
  },

  methods: {
    exportPeoples() {
      console.log('exportar')
    },
  },
}
</script>

<style>
#page-denounce .select-more-new {
  max-width: 180px;
}
#page-denounce .select-type-profile {
  max-width: 202px;
}

#page-denounce .select-status {
  max-width: 130px;
}

@media (max-width: 425px) {
  #page-denounce .select-status,
  #page-denounce .select-type-profile,
  #page-denounce .select-more-new {
    max-width: none;
    margin: 0px 16px 10px 16px !important;
  }
}
</style>
