<template>
  <div id="card-people">
    <!-- Avatar -->
    <v-card-actions class="pt-10">
      <v-list-item class="grow">
        <v-btn
          @click="$emit('openDialogPeople', 'people.id')"
          fab
          color="whiteJoca"
          class="mx-auto"
          elevation="0"
          height="140"
          width="140"
        >
          <template>
            <v-list-item-avatar size="140" color="grey darken-3" class="mr-0">
              <v-img
                class="elevation-6"
                alt=""
                src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
              ></v-img>
            </v-list-item-avatar>

            <!-- <v-avatar color="infoLight" size="140">
              <v-icon size="70" color="info"> mdi-account </v-icon>
            </v-avatar> -->
          </template>
        </v-btn>
      </v-list-item>
    </v-card-actions>

    <!-- Title -->
    <v-card-title>
      <v-list-item-content class="py-0 text-center">
        <span class="info--text text-caption-1-joca mb-3"> DISCENTE </span>
        <h4 class="text-body-joca lato-bold">Daniela Torres</h4>
      </v-list-item-content>
    </v-card-title>

    <!-- Text -->
    <v-card-text
      class="d-flex justify-space-between mx-auto card-content-text primaryMid--text mb-2"
    >
      <span class="text-caption-1-joca text-capitalize">
        {{ '1500' }} Recursos
      </span>
      <span class="text-caption-1-joca text-capitalize">
        {{ '2000' }} Trilhas
      </span>
    </v-card-text>

    <v-divider></v-divider>

    <!-- Footer -->
    <v-card-actions>
      <v-spacer></v-spacer>

      <slot name="footer-actions"> </slot>
    </v-card-actions>
  </div>
</template>

<style>
#card-people .card-content-text {
  max-width: 220px;
  width: 100%;
}
</style>
