<template>
  <div id="page-criar">
    <v-row>
      <v-col class="pb-0" cols="12" sm="12" md="12" lg="12">
        <section>
          <v-container class="pb-5 pt-0">
            <v-row>
              <v-col cols="12" sm="6" md="6" lg="5">
                <v-breadcrumbs
                  :items="items"
                  class="panel-breadcrumbs pb-0"
                ></v-breadcrumbs>

                <h2 class="text-body-joca grey2Joca--text font-weight-regular">
                  Altere as informações da trilha selecionada
                </h2>
              </v-col>

              <v-col cols="12" sm="6" md="6" lg="7">
                <div class="h-100 d-flex justify-end mobile-xs-column align-center">
                  <v-btn @click.stop.prevent="$router.push('/painel-de-controle/trilhas')" depressed rounded color="primary" class="btn-primary-joca mt-4">
                    <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                      VOLTAR
                    </span>
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </section>
      </v-col>

      <v-col class="whiteJoca pt-5" cols="12" sm="12" md="12" lg="12">
        <section>
          <v-container>
            <v-row justify="center">
              <v-col
                cols="12" sm="9" md="9" lg="9"
              >
                <CreateTrailForm @openResource="$emit('openResource')" :updating="true" />
              </v-col>
            </v-row>
          </v-container>

        </section>
      </v-col>

    </v-row>
  </div>
</template>
<script>
  import CreateTrailForm from '@/components/forms/painel-de-controle/trilhas/CreateTrailForm.vue'

export default {
  layout: 'control-panel',
  data() {
    return {
      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          exact: true,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },

        {
          text: 'Trilhas',
          disabled: false,
          exact: true,
          to: '/painel-de-controle/trilhas',
          color: 'primaryMid',
        },

        {
          text: 'Edição',
          disabled: true,
          exact: true,
          to: '/painel-de-controle/trilhas/editar',
          color: '',
        },
      ],
    }
  },

  components: {
    CreateTrailForm
  },

}
</script>
