<template>
  <div id="page-sd">
    <!-- Tabela: Content -->
    <div class="grey6Joca">
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12">
            <section class="pb-10 pt-5">
              <v-row>
                <v-col cols="12" md="12" lg="5">
                  <v-breadcrumbs
                    :items="items"
                    class="panel-breadcrumbs pb-0"
                  ></v-breadcrumbs>

                  <h2 class="text-body-joca grey2Joca--text font-weight-regular">
                    Todas as trilhas da plataforma
                  </h2>
                </v-col>

                <v-col cols="12" sm="12" md="12" lg="7">
                  <div class="h-100 d-flex justify-end mobile-xs-column align-center">
                    <SearchInput
                      color="primaryMid"
                      placeholder="Busque por trilhas no painel"
                      style="max-width: 322px"
                      class="mt-4 input-search-primary w-100"
                    />

                    <v-btn
                      outlined
                      rounded
                      color="info"
                      class="btn-info-outlined-joca mx-4 mt-4"
                    >
                      <v-icon left> mdi-file-export-outline </v-icon>
                      <span class="text-caption-1-joca open-sans-bold">
                        EXPORTAR DADOS
                      </span>
                    </v-btn>

                    <v-btn
                      @click.stop.prevent="modalCreateTrailOpened = true"
                      depressed
                      rounded
                      color="primaryMid"
                      class="btn-primary-joca mt-4"
                    >
                      <v-icon left class="whiteJoca--text"> mdi-plus </v-icon>
                      <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                        CRIAR TRILHA
                      </span>
                    </v-btn>
                  </div>
                </v-col>

                <!-- Sessão de ordenação -->
                <v-col class="pb-7 pt-10" cols="12">
                  <v-row align="center">
                    <v-col order="2" order-sm="2" order-md="2" order-lg="1" cols="12" sm="12" md="12" lg="3">
                      <span class="text-body-joca lato-black info--text">Exibindo 10 de 500 recursos</span>
                    </v-col>
                    <v-col order="1" order-sm="1" order-md="1" order-lg="2" cols="12" sm="12" md="12" lg="9">
                      <v-row align="center" justify="start">
                        <v-col class="text-lg-right" cols="12" sm="12" md="3">
                          <span class="text-caption-1-joca primary--text">Ordenar por</span>
                        </v-col>
                        <v-col cols="12" sm="4" md="3">
                          <v-select
                            label="RECURSOS"
                            dense
                            rounded
                            hide-details
                            :items="['Mais recentes', 'Mais antigos', 'Mais visualizados', 'Ordem alfabética']"
                            color="primaryMid"
                            outlined
                            class="select-filter-primary"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4" md="3">
                          <v-select
                            label="AUTHOR(A)"
                            dense
                            rounded
                            hide-details
                            :items="['Ordem alfabética', 'Autores recentes']"
                            color="primaryMid"
                            outlined
                            class="select-filter-primary"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4" md="3">
                          <v-select
                            label="STATUS"
                            dense
                            rounded
                            hide-details
                            :items="['Público', 'Privado', 'Rascunho', 'Removido']"
                            color="primaryMid"
                            outlined
                            class="select-filter-primary"
                          ></v-select>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>

                <v-col cols="12">
                  <v-card elevation="0">
                    <!-- Tabela das trilhas -->
                    <TrailsTable
                      @privateToggle="openDialogInfo()"
                      @deleteTrail="openDialogError()"
                    >
                      <div class="py-10" slot="footer">
                        <template>
                          <v-pagination
                            v-model="page"
                            :length="3"
                            color="infoLight"
                          ></v-pagination>
                        </template>
                      </div>
                    </TrailsTable>
                  </v-card>
                </v-col>
              </v-row>
            </section>

            <v-dialog
              v-model="modalViewProfileOpened"
              persistent
              max-width="1207px"
            >
              <ViewProfileModal @close="modalViewProfileOpened = false" />
            </v-dialog>

            <v-dialog
              v-model="modalCreateTrailOpened"
              persistent
              max-width="936px"
            >
              <CreateTrailModal @cancel="modalCreateTrailOpened = false" @openResource="modalViewResourceOpened = true" />
            </v-dialog>

            <v-dialog
              v-model="modalViewTrailOpened"
              persistent
              max-width="1207px"
            >
              <ViewTrailModal @close="modalViewTrailOpened = false" @viewProfile="modalViewProfileOpened = true" />
            </v-dialog>

            <v-dialog
              v-model="modalViewResourceOpened"
              persistent
              max-width="1207px"
            >
              <ViewResourceModal @close="modalViewResourceOpened = false" @viewProfile="modalViewProfileOpened = true" />
            </v-dialog>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>

import SearchInput from '@/components/geral/SearchInput.vue'
import TrailsTable from '@/components/tables/painel-de-controle/trilhas/TrailsTable.vue'
import ViewProfileModal from '@/components/modals/global/ViewProfileModal.vue'
import CreateTrailModal from '@/components/modals/painel-de-controle/trilhas/CreateTrailModal.vue'
import ViewTrailModal from '@/components/modals/painel-de-controle/trilhas/ViewTrailModal.vue'
import ViewResourceModal from '@/components/modals/painel-de-controle/recursos/ViewResourceModal.vue'


export default {
  layout: 'control-panel',

  data() {
    return {
      modalViewProfileOpened: false,
      modalCreateTrailOpened: false,
      modalViewTrailOpened: false,
      modalViewResourceOpened: false,
      page: 1,
      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Trilhas',
          disabled: true,
          to: '/painel-de-controle/trilhas',
          color: '',
        },
      ],
    }
  },

  components: {
    SearchInput,
    TrailsTable,
    ViewProfileModal,
    CreateTrailModal,
    ViewTrailModal,
    ViewResourceModal
  },

  methods: {
    async openDialogError() {
      const dialogInstance = await this.$dialog.error({
        text: 'Você tem certeza que deseja excluir a trilha selecionada? Essa ação não poderá ser desfeita e a pessoa perderá o acesso à trilha.',
        title: 'Deseja excluir a trilha selecionada?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'error', key: false, rounded: true},
          { text: 'SIM, EXCLUIR', color: 'error', key: true, rounded: true},
        ],
      })
    },

    async openDialogInfo() {
      const dialogInstance = await this.$dialog.info({
        text: 'Ao tornar público, qualquer pessoa que acessar a plataforma poderá visualizar o recurso selecionado.',
        title: 'Deseja tornar esse recurso público?',
        icon: false,
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'info', key: false, rounded: true},
          { text: 'SIM, TORNAR PÚBLICO', color: 'info', key: true, rounded: true},
        ],
      })
    },
  }
}
</script>
