<template>
  <div>
    <v-row>
      <v-col cols="12" sm="2" md="1" lg="1">
        <v-avatar
          color="accent"
          size="56"
        ></v-avatar>
      </v-col>
      <v-col class="pl-5" cols="12" sm="10" md="11" lg="11">
        <div class="d-flex flex-column">
          <div class="greyJoca--text text-body-4-joca open-sans-regular">
            <span class="secondary--text open-sans-semibold">Márcia Peixoto:</span>  Recurso muito útil para minhas aulas! Utilizei o texto do recurso para apresentar o tema aos meus alunos da terceira fase,
            possui uma linguagem acessível. Só não dou 5 estrelas porque poderia ser mais completo.
          </div>
          <slot name="actions"></slot>
        </div>
      </v-col>
    </v-row>
  </div>
</template>
