<template>
  <div id="inputSearch">
    <v-text-field solo placeholder="O que procura?" rounded>
      <template v-slot:append>
        <span style="border-left: 1px solid #ced4da"></span>
        <v-select
          style="max-width: 150px; height: 48px"
          offset-y
          :items="items"
          v-model="select_item"
          solo
          dense
        >
          <template v-slot:append>
            <v-icon class="pr-4 pt-1" color="primaryMid" size="20px"
              >mdi-chevron-down
            </v-icon>
          </template>
        </v-select>
        <span style="border-right: 1px solid #ced4da"></span>
        <v-icon
          @click="pesquisar"
          class="px-5 cursor-pointer estilo-botao-search"
          color="white"
          size="27px"
          >mdi-magnify</v-icon
        >
      </template>
    </v-text-field>
  </div>
</template>

<script>
export default {
  props: ["page"],
  data() {
    return {
      items: ["Recursos", "Trilhas", "Pessoas"],
      select_item: "Recursos",
    };
  },

  mounted() {
    if (this.page) {
      this.select_item = this.page;
    }
  },

  watch: {
    select_item(val) {
      if (val == "Pessoas") {
        this.$router.push("pessoas");
      } else if (val == "Trilhas") {
        this.$router.push("trilhas");
      } else if (val == "Recursos") {
        this.$router.push("recursos");
      }
    },
  },

  methods: {
    pesquisar() {
      console.log("pesquisar");
    },
  },
};
</script>

<style>
#inputSearch .v-text-field.v-text-field--solo .v-input__control input {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
}
#inputSearch ::-webkit-input-placeholder {
  color: var(--grey3Joca);
}
#inputSearch .v-input__slot {
  box-shadow: none !important;
  padding-right: 0px;
  height: 10px;
  top: 5px;
}

#inputSearch > div > div > div.v-input__slot {
  border: 2px solid #45e18d;
}
#inputSearch .estilo-botao-search {
  background: var(--primaryMid);
  border-radius: 0px 25px 25px 0px;
  border-top: 2px solid #45e18d;
  border-bottom: 2px solid #45e18d;
}

/* Tive que usar essas classes forçadas pq nao tava pegando no componente */
#inputSearch .v-select.v-input--dense .v-select__selection--comma {
  font-family: "Lato Regular", sans-serif;
  color: var(--primaryMid);
}
</style>
