<template>
  <v-text-field
    append-icon="mdi-magnify"
    :placeholder="placeholder"
    rounded
    :color="color"
    dense
    outlined
    hide-details
  >
  </v-text-field>
</template>

<script>
export default {
  props: ['color', 'placeholder']
}
</script>
