<template>
  <v-form id="form-login" ref="formLogin" @submit.prevent="login()" lazy-validation>
    <label for="email" class="primaryMid--text lato-bold text-body-joca">
      E-mail
    </label>
    <v-text-field
      v-model="email"
      id="email"
      color="info"
      class="mt-1"
      type="email"
      label="Digite o e-mail cadastrado"
      outlined
      :rules="[verifyDataRequired, verifyIfEmail]"
    >
    </v-text-field>

    <label for="password" class="primaryMid--text lato-bold text-body-joca">
      Senha
    </label>
    <v-text-field
      v-model="password"
      outlined
      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
      :type="showPassword ? 'text' : 'password'"
      id="password"
      label="Digite sua senha"
      class="input-group--focused"
      @click:append="showPassword = !showPassword"
      :rules="[verifyDataRequired]"
    ></v-text-field>

    <v-btn text class="text-none mb-9" to="/esqueci-minha-senha">
      <span class="text-decoration-underline text-body-4-joca primaryMid--text">
        Esqueci minha senha
      </span>
    </v-btn>

    <div class="text-center">
      <v-btn type="submit" depressed rounded color="primaryMid" class="btn-primary-joca" :disabled="carregando" :loading="carregando">
        <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
          FAZER LOGIN
        </span>
      </v-btn>
    </div>
  </v-form>
</template>
<script>
import ValidationForm from '@/mixins/ValidationForm.vue'
export default {
  mixins: [ValidationForm],
  data() {
    return {
      email: null,
      password: null,
      showPassword: false,
      carregando: false
    }
  },
  methods: {
    async login () {
      if (this.$refs.formLogin.validate()) {
        this.carregando = true
        await this.$auth.loginWith('local', {
          data: {
            email: this.email,
            password: this.password
          }
        }).catch((e) => {
          this.$dialog.error({
            text: '',
            title: e.response.data.msg,
            icon: 'mdi-close-circle',
            width: '800px',
            actions: [{ text: 'Fechar', color: 'grey', key: false }],
          })
          this.carregando = false
        })
      }
    }
  }
}
</script>
