<template>
  <v-card
    width="100%"
    elevation="1"
    color="whiteJoca"
  >
    <v-container>
      <v-row>
        <v-col class="py-0 px-0" cols="12" sm="3" md="2" lg="2">
          <v-img
            width="100%"
            height="100%"
            src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
            style="border-radius: 4px 0px 0px 4px"
          ></v-img>
        </v-col>

        <v-col class="py-0" style="border-right: 1px solid rgba(118, 117, 131, 0.3)" cols="12" sm="5" md="7" lg="7">
          <div class="d-flex flex-column pt-6 pl-3">
            <span class="text-caption-2-joca info--text open-sans-regular">VÍDEO</span>
            <span class="text-caption-2-joca grey2Joca--text open-sans-bold">Frutas na salada e seus benefícios</span>
          </div>
        </v-col>



        <v-col class="py-0" cols="12" sm="4" md="3" lg="3">
          <v-container class="fill-height">
             <v-row justify="center" align="center">

              <v-col cols="4">
                <v-icon
                  @click.stop.prevent="$emit('openResource')"
                  color="secondary"
                  size="33px"
                >
                  mdi-arrow-top-right-bold-box-outline
                </v-icon>
              </v-col>

              <v-col v-if="adicionando" cols="4">
                <v-icon
                  color="error"
                  size="33px"
                >
                  mdi-delete
                </v-icon>
              </v-col>

              <v-col v-else cols="4">
                <v-icon
                  color="info"
                  size="33px"
                >
                  mdi-plus
                </v-icon>
              </v-col>

              <v-col v-if="adicionando" cols="4">
                <v-text-field
                  style="min-width: 33px;"
                  hide-details
                  dense
                  outlined
                  v-model="order"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>

        </v-col>
      </v-row>
    </v-container>

  </v-card>
</template>

<script>
export default {
  data() {
    return {
      order: 1
    }
  },
  props: ['adicionando']
}
</script>
