<template>
  <v-card
    id="resource-header-card"
    width="100%"
    elevation="0"
    color="grey6Joca"
  >
    <v-row>
      <v-col cols="12" sm="12" md="6" lg="4">
        <v-img
          class="image"
          width="100%"
          :src="dados_gerais.previewMiniature ? dados_gerais.previewMiniature : 'https://cdn.vuetifyjs.com/images/cards/cooking.png'"
        ></v-img>
      </v-col>

      <v-col class="resource-content" cols="12" sm="12" md="6" lg="6">
        <v-row align="center">
          <v-col cols="12" sm="12" md="12">
            <span class="text-body-joca lato-black info--text">TEXTO</span>
          </v-col>
          <v-col class="pt-0" cols="12" sm="12" md="12">
            <span class="text-h5-joca lato-black primary--text">
              {{ dados_gerais.title }}
            </span>
          </v-col>
          <v-col class="pt-0" cols="6" sm="4" md="6" lg="4">
            <span class="text-caption-2-joca primaryMid--text">Publicado em 01/01/2022</span>
          </v-col>
          <v-col class="pt-0 pr-0" cols="6" sm="4" md="6" lg="4">
            <div class="d-flex align-center">
              <v-rating
                :value="0"
                background-color="warningLight"
                color="warningLight"
                dense
                readonly
                size="23"
              ></v-rating>
              <span class="text-caption-2-joca grey3Joca--text open-sans-regular">0 (0)</span>
            </div>
          </v-col>
          <v-col class="pt-0" cols="12" sm="4" md="6" lg="4">
            <div class="d-flex align-center">
              <div class="d-flex align-center mr-2">
                <v-icon color="grey3Joca">mdi-heart</v-icon>
                <span class="text-caption-2-joca grey3Joca--text open-sans-regular">(0)</span>
              </div>

              <v-icon color="grey3Joca" class="mr-2">mdi-bookmark</v-icon>

              <v-icon color="grey3Joca" class="mr-2">mdi-share-variant</v-icon>

              <v-icon color="grey3Joca">mdi-alert-circle</v-icon>
            </div>
          </v-col>

          <v-col class="pt-0" cols="12" sm="12" md="12" lg="12">
            <v-row>
              <v-col cols="12" sm="6" md="12" lg="12" class="d-flex flex-column text-body-joca open-sans-regular grey3Joca--text">
                <div><span class="primary--text open-sans-semibold">Eixo temático:</span> 
                  <span v-for="(eixo, i) in dados_especificacoes.eixos" :key="i">{{ getEixo(eixo) }}</span>
                </div>
                <div class="pt-1"><span class="primary--text open-sans-semibold">Tipo de material:</span>
                  <span v-for="(area, i) in dados_especificacoes.areas" :key="i">{{ getArea(area) }}</span>
                </div>
                <div class="pt-1"><span class="primary--text open-sans-semibold">Palavras-chave:</span> {{ dados_gerais.keyword }}</div>
              </v-col>
              <v-col cols="12" sm="6" md="12" lg="12">
                <div>
                  <v-btn disabled depressed rounded color="primaryMid" class="btn-primary-joca">
                    <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> downloads/links disponíveis </span>
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" sm="12" md="12" lg="2">
        <div class="d-flex flex-column justify-center align-center fill-height">
          <v-avatar
            @click.stop.prevent="$emit('viewProfile')"
            color="primary"
            size="56"
            class="cursor-pointer"
          ></v-avatar>
          <span class="text-caption-2-joca primaryMid--text open-sans-regular">Enviado por</span>
          <span class="primary--text open-sans-semibold text-body-4-joca">{{ $auth.user.name }} {{ $auth.user.sobrenome }}</span>
          <v-btn disabled depressed rounded color="primaryMid" class="btn-primary-joca mt-3">
            <v-icon>mdi-account-plus</v-icon>
            <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> Seguir </span>
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
export default {
  props: ['dados_gerais', 'dados_especificacoes', 'eixos_tematicos'],
  methods: {
    getEixo (e){
      const eixo = this.eixos_tematicos.find(item => parseInt(item.id) === parseInt(e))
      if(eixo){
        return eixo.titulo + ', '
      }
    },
    getArea(e){
      const area = this.$store.state.config.areas.find(item => item.value === e)
      if(area){
        return area.text + ', '
      }
    }
  }
}
</script>

<style>
  #resource-header-card .resource-content {
    border-right: 0.5px solid #1CC4BC;
  }

  #resource-header-card .image {
    border-radius: 5px;
  }

  @media (max-width: 1264px) {
    #resource-header-class .resource-content {
      border-right: 0;
    }
  }
</style>
