<template>
  <v-card
    max-width="254px"
  >
    <v-img
      height="159"
      src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
    >
    </v-img>
    <div style="margin-top: -25px" class="d-flex justify-end mr-2">
      <v-avatar  size="49px" color="info"></v-avatar>
    </div>
    <v-card-title class="py-0 text-text-caption-2-joca info--text">VÍDEO</v-card-title>

    <v-card-text>

      <div class="lato-black text-body-joca grey2Joca--text">O que é a Nutrição? O que são alimentos saudáveis...</div>
      <v-row
        align="center"
        class="mx-0 mt-2 mb-1"
      >
        <v-rating
          :value="3"
          background-color="warningLight"
          color="warningLight"
          dense
          readonly
          size="23"
        ></v-rating>

        <div class="grey--text ms-4">
          4.2 (551)
        </div>
      </v-row>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions class="d-flex justify-end">
      <div class="d-flex align-center mr-2">
        <span class="text-caption-2-joca grey3Joca--text open-sans-regular mr-1">(0)</span>
        <v-icon color="grey3Joca">mdi-heart</v-icon>
      </div>

      <v-icon color="grey3Joca">mdi-bookmark</v-icon>

      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
            color="grey3Joca"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-list class="text-caption-2-joca">
          <v-list-item @click.stop.prevent="$emit('viewResource')">
            <v-list-item-title class="grey1Joca--text ">
              <span class="text-caption-2-joca">Ver recurso</span>
            </v-list-item-title>
          </v-list-item>

          <v-list-item @click.stop.prevent="$emit('privateToggle')">
            <v-list-item-title class="grey1Joca--text">
              <span class="text-caption-2-joca">Privar recurso</span>
            </v-list-item-title>
          </v-list-item>

          <v-list-item @click.stop.prevent="$emit('deleteResource')">
            <v-list-item-title class="errorLight--text">
              <span class="text-caption-2-joca">Excluir recurso</span>
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-card-actions>
  </v-card>
</template>
