<template>
  <v-container>
    <v-form ref="form" lazy-validation>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <div class="text-h6-joca lato-black secondary--text">1. Selecione os filtros do recurso</div>
          <div class="text-caption-2-joca primaryMid--text pt-4">
            <span class="text-body-joca open-sans-bold mr-1">Eixo temático</span>
            (pode ser escolhido mais de um)
          </div>
          <template v-for="(eixo, i) in eixos_tematicos">
            <v-checkbox :key="i" :label="eixo.titulo" hide-details :value="eixo.id" v-model="especificacoes.eixos" :rules="[verifyDataRequired]"></v-checkbox>
          </template>
        </v-col>

        <v-col cols="12" sm="12" md="12">
          <div class="text-caption-2-joca primaryMid--text pt-4">
            <span class="text-body-joca open-sans-bold mr-1">Sugerido para</span>
            (pode ser escolhido mais de um)
          </div>
          
          <template v-for="(area, i) in $store.state.config.areas">
            <v-checkbox :key="i" :label="area.text" hide-details :value="area.value" v-model="especificacoes.areas" :rules="[verifyDataRequired]"></v-checkbox>
          </template>
        </v-col>

        <v-col cols="12" sm="12" md="12">
          <div class="text-caption-2-joca primaryMid--text pt-4">
            <span class="text-body-joca open-sans-bold mr-1">Idioma</span>
            (escolha um)
          </div>

          <v-radio-group v-model="especificacoes.language" :rules="[verifyDataRequired]">
            <v-radio v-for="(idioma, i) in $store.state.config.idiomas" :key="i" :value="idioma.value" :label="idioma.text"></v-radio>
          </v-radio-group>
        </v-col>

        <v-col cols="12" sm="12" md="12" class="pb-0">
          <div class="text-caption-2-joca primaryMid--text">
            <span class="text-body-joca open-sans-bold mr-1">Tipo de recurso</span>
            (pode ser escolhido mais de um)
          </div>
        </v-col>
        
        <v-col cols="6" sm="4" md="3" lg="3" v-for="(tipo, i) in $store.state.config.recurso_tipos" :key="i">
          <v-checkbox :label="tipo.description" :value="tipo.id" hide-details v-model="especificacoes.tipos" :rules="[verifyDataRequired]"></v-checkbox>
        </v-col>

        <v-col cols="12" sm="12" md="12" class="mt-2">
          <div class="text-h6-joca lato-black secondary--text">2. Seleção de trilha <span class="text-body-3-joca open-sans-regular">(opcional)</span></div>
          <div class="text-caption-2-joca pt-1">
            <span class="text-body-joca open-sans-regular">
              Adicione o recurso a uma ou mais trilhas existentes ou crie uma trilha. Trilhas ajudam a organizar um conjunto de recursos.
              Exemplo: Uma trilha chamada “Frutas” com recursos que se relacionem ao tema.
            </span>
          </div>
          <v-row class="mt-1">
            <v-col cols="12" sm="6" md="6" lg="6">
              <v-select
                v-model="especificacoes.trilha"
                label="Selecione a trilha do recurso"
                dense
                hide-details
                :items="trilhas"
                color="primaryMid"
                outlined
                multiple
              ></v-select>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="12" md="12">
          <div class="text-h6-joca lato-black secondary--text">3. Visiblidade do recurso</div>
          <div class="text-caption-2-joca pt-1">
            <span class="text-body-joca open-sans-regular">
              Ao escolher “Público” você estará permitindo que todas as pessoas, cadastradas ou não, visualizem seu recurso. “Privado” permitirá que apenas você visualize.
            </span>
          </div>

          <v-radio-group v-model="especificacoes.visibility" :rules=[verifyDataRequired]>
            <v-radio value="1" label="Público"></v-radio>
            <v-radio class="mt-2" value="2" label="Privado"></v-radio>
          </v-radio-group>
        </v-col>

        <v-col class="pt-8" cols="12">
          <v-row justify="center">
              <v-col cols="6" sm="2" md="2" lg="2">
                <v-btn @click.stop.prevent="$emit('back')" width="100%" outlined rounded color="primaryMid" class="btn-primary-outlined-joca mr-3 mb-3">
                  <span class="text-caption-1-joca open-sans-bold"> Voltar </span>
                </v-btn>
              </v-col>
              <v-col cols="6" sm="3" md="2" lg="2">
                <v-btn @click.stop.prevent="$emit('cancel')" width="100%" outlined rounded color="primaryMid" class="btn-primary-outlined-joca mr-3 mb-3">
                  <span class="text-caption-1-joca open-sans-bold"> Cancelar </span>
                </v-btn>
              </v-col>

              <v-col v-if="updating" cols="6" sm="4" md="3" lg="2">
                <v-btn @click.stop.prevent="$emit('deleteResource')" width="100%" outlined rounded color="error" class="btn-error-outlined-joca mb-3">
                  <span class="text-caption-1-joca open-sans-bold"> EXCLUIR RECURSO </span>
                </v-btn>
              </v-col>

              <v-col cols="6" sm="3" md="2" lg="2">
                <v-btn @click.stop.prevent="next" width="100%" depressed rounded color="primaryMid" class="btn-primary-joca mr-3 mb-3">
                  <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> Avançar </span>
                </v-btn>
              </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import ValidationForm from '@/mixins/ValidationForm.vue'
export default {
  mixins: [ValidationForm],
  data() {
    return {
      especificacoes: {
        eixos: [],
        areas: [],
        tipos: [],
        language: null,
        visibility: null,
        trilha: []
      }
    }
  },

  props: ['updating', 'dados_especificacoes', 'trilhas', 'eixos_tematicos'],
  created () {
    if (this.dados_especificacoes){
      this.especificacoes = this.dados_especificacoes
    }
  },
  methods: {
    next () {
      if (this.$refs.form.validate()) {
        this.$emit('nextStep', {
          tipo: 'especificacoes',
          dados: this.especificacoes
        })
      }
    }
  }
}
</script>
