<template>
    <v-container>
      <v-form ref="form" lazy-validation>
        <v-row>
          <v-col cols="12" sm="12" md="12">
            <div class="text-h6-joca lato-bold secondary--text">1. Defina o arquivo do seu recurso</div>
            <div v-for="(val,input) in dados.files" :key="input">
              <div class="text-caption-2-joca primaryMid--text pt-4">
                <span class="text-body-joca open-sans-bold mr-1">Envie o arquivo</span>
                (máximo de 1 por vez)
              </div>
              
              <v-file-input
                class="mt-2 mb-1"
                accept="image/*"
                outlined
                v-model="dados.files[input]"
                hide-details
                :id="'file'+[input]"
                append-icon="mdi-close"
                @click:append="removeFile(input)"
              >
                <template v-slot:prepend-inner>
                  <v-row align="center" class="pl-4" style="height: 50px">
                    <v-icon color="grey3Joca">mdi-paperclip</v-icon>
                    <v-btn outlined rounded color="info" class="btn-primary-outlined-joca ml-4">
                      <label :for="'file'+[input]" class="text-caption-1-joca open-sans-bold full-width cursor-pointer pa-2 "> Escolher arquivo </label>
                    </v-btn>

                    <div class="d-md-flex d-lg-flex align-center d-none">
                      <v-icon color="grey3Joca" class="ml-3">mdi-upload</v-icon>
                      <span class="ml-4 grey3Joca--text text-caption-2-joca open-sans-regular">
                        Ou arraste da pasta e solte o arquivo aqui
                      </span>
                    </div>
                  </v-row>
                </template>
              </v-file-input>
            </div>
            <span @click.stop.prevent="dados.files.push(null)" class="text-caption-2-joca info--text open-sans-bold cursor-pointer">+ Adicionar mais um arquivo</span>
          </v-col>

          <v-col cols="12" class="text-center">
            <span class="accent--text open-sans-bold text-body-3-joca">e/ou</span>
          </v-col>

          <v-col  cols="12" sm="12">
            <div v-for="(v, input) in dados.externalLinks" :key="input">
              <div class="text-caption-2-joca primaryMid--text pt-4">
                <span class="text-body-joca open-sans-bold mr-1">Link do recurso</span>
                (máximo de 1 por vez)
              </div>

              <v-text-field
                v-model="dados.externalLinks[input]"
                :rules="[verifyDataRequired]"
                class="mt-2"
                type="link"
                outlined
                hide-details
                append-icon="mdi-close"
                @click:append="removeLink(input)"
              >
              </v-text-field>

            </div>
            <span @click.stop.prevent="dados.externalLinks.push('')" class="text-caption-2-joca info--text open-sans-bold cursor-pointer">+ Adicionar mais um link</span>
          </v-col>

          <v-col cols="12" sm="12" md="12" class="pt-8">
            <div class="text-h6-joca lato-bold secondary--text">2. Escolha uma miniatura para seu recurso</div>
            <div class="text-caption-2-joca primaryMid--text pt-4">
              <span class="text-body-joca open-sans-bold mr-1">Envie o arquivo</span>
              (opcional, uma imagem padrão será utilizada caso não seja escolhida uma imagem)
            </div>

            <v-file-input
              class="mt-2 mb-1"
              prepend-icon=""
              accept="image/*"
              outlined
              v-model="dados.miniature"
              hide-details
              id="miniature"
              @change="previewMiniature"
            >
              <template v-slot:prepend-inner>
                <v-row align="center" class="pl-4" style="height: 50px">
                  <v-icon color="grey3Joca">mdi-paperclip</v-icon>
                  <v-btn outlined rounded color="info" class="btn-primary-outlined-joca ml-4">
                    <label for="miniature" class="text-caption-1-joca open-sans-bold full-width cursor-pointer pa-2 "> Escolher arquivo </label>
                  </v-btn>

                  <div class="d-md-flex d-lg-flex align-center d-none">
                    <v-icon color="grey3Joca" class="ml-3">mdi-upload</v-icon>
                    <span class="ml-4 grey3Joca--text text-caption-2-joca open-sans-regular">
                      Ou arraste da pasta e solte o arquivo aqui
                    </span>
                  </div>
                </v-row>
              </template>
            </v-file-input>
          </v-col>

          <v-col cols="12" sm="12" md="12" class="pt-8">
            <div class="text-h6-joca lato-bold secondary--text">3. Informações do recurso</div>
            <div class="text-caption-2-joca primaryMid--text pt-4">
              <span class="text-body-joca open-sans-bold mr-1">Título</span>
              (o nome que será visível para todas pessoas e que define o recurso)
            </div>
            <v-text-field v-model="dados.title" class="mt-2" type="text" outlined :rules="[verifyDataRequired, verifyMaxLength(dados.title, 180)]">
              <template v-slot:append>
                <span class="grey3Joca--text text-caption-2-joca open-sans-semi-bold">
                  {{dados.title.length}}/180
                </span>
              </template>
            </v-text-field>
          </v-col>

          <v-col cols="12" sm="12" md="12">
            <div class="text-caption-2-joca primaryMid--text">
              <span class="text-body-joca open-sans-bold mr-1">Descrição</span>
              (um texto descritivo sobre o recurso)
            </div>
            <v-textarea
              v-model="dados.description"
              :rules="[verifyDataRequired]"
              class="mt-2"
              outlined
              auto-grow
              hide-details
              placeholder="Insira uma descrição sobre o recurso, falando sobre o que ele é e para quem se destina"
            ></v-textarea>
          </v-col>

          <v-col cols="12" sm="12" md="12">
            <div class="text-caption-2-joca primaryMid--text pt-4">
              <span class="text-body-joca open-sans-bold mr-1">Palavras-chave</span>
              (palavras que ajudem as pessoas a encontrar o seu recurso)
            </div>

            <v-text-field v-model="dados.keyword" class="mt-2" type="text" outlined  :rules="[verifyDataRequired]">
              <template v-slot:append>
                <span class="grey3Joca--text text-caption-2-joca open-sans-semi-bold">
                  {{dados.keyword.length}}
                </span>
              </template>
            </v-text-field>
          </v-col>

          <v-col cols="12" sm="12" md="12">
            <div class="text-caption-2-joca primaryMid--text pt-4">
              <span class="text-body-joca open-sans-bold mr-1">Autoria do recurso</span>
            </div>

            <v-radio-group v-model="dados.author" :rules="[verifyDataRequired]" >
              <v-radio value="1" label="Sou autor(a) do recurso e elaborei o recurso sozinho(a)."></v-radio>
              <v-radio class="mt-2" value="2" label="Sou autor(a) do recurso, mas outras pessoas contribuíram. Coautores:"></v-radio>
              <v-text-field
                v-if="dados.author == 2"
                v-model="dados.co_author"
                :rules="[verifyDataRequired]"
                type="text"
                outlined
                placeholder="Insira o nome dos coautores do recurso separando por vírgula ou aperte enter"
                hide-details
              ></v-text-field>

              <v-radio class="mt-2" value="3" label="Não sou o autor(a) do recurso. A autoria do recurso é de:"></v-radio>
              <v-text-field
                v-if="dados.author == 3"
                v-model="dados.co_author"
                :rules="[verifyDataRequired]"
                type="text"
                outlined
                placeholder="Insira o nome dos autores do recurso separando por vírgula ou aperte enter"
                hide-details
              ></v-text-field>
            </v-radio-group>
          </v-col>

          <v-col cols="12" sm="12" md="12">
            <div class="text-h6-joca lato-bold secondary--text">4. Licença do uso do conteúdo</div>
            <div class="text-caption-2-joca pt-1">
              <span class="text-body-joca open-sans-regular">Selecione a licença de uso do conteúdo que esse recurso já possui.</span>
            </div>

            <v-radio-group v-model="dados.license" :rules="[verifyDataRequired]">
              <v-row>
                <v-col cols="12" class="d-flex align-start" v-for="(licence, i) in $store.state.config.licencas" :key="i">
                  <v-radio :value="licence.value" :id="`licence${i}`"></v-radio>
                  <label class="d-flex" :for="`licence${i}`">
                    <span>
                      <v-img class="mr-2" :src="licence.icon" alt=""></v-img>
                    </span>
                    <span class="grey1Joca--text text-body-joca open-sans-regular">
                      <span class="open-sans-bold">{{licence.sigla}}</span> {{ licence.text }}
                    </span>
                  </label>
                </v-col>
              </v-row>

            </v-radio-group>
          </v-col>

          <v-col class="pt-8" cols="12">
            <v-row justify="center">
                <v-col cols="6" sm="3" md="2" lg="2">
                  <v-btn @click.stop.prevent="$emit('cancel')" width="100%" outlined rounded color="primaryMid" class="btn-primary-outlined-joca mr-3 mb-3">
                    <span class="text-caption-1-joca open-sans-bold"> Cancelar </span>
                  </v-btn>
                </v-col>
                <v-col v-if="updating" cols="6" sm="4" md="3" lg="2">
                  <v-btn @click.stop.prevent="$emit('deleteResource')" width="100%" outlined rounded color="error" class="btn-error-outlined-joca mb-3">
                    <span class="text-caption-1-joca open-sans-bold"> EXCLUIR RECURSO </span>
                  </v-btn>
                </v-col>
                <v-col cols="6" sm="3" md="2" lg="2">
                  <v-btn @click.stop.prevent="next" width="100%" depressed rounded color="primaryMid" class="btn-primary-joca mr-3 mb-3">
                    <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> Avançar </span>
                  </v-btn>
                </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-container>
</template>

<script>
import ValidationForm from '@/mixins/ValidationForm.vue'
export default {
  mixins: [ValidationForm],
  name: 'CcreateResourceStep1',
  data() {
    return {
      dados: {
        title: '',
        description:null,
        keyword: '',
        author: null,
        co_author: null,
        license: null,
        externalLinks: [''],
        files: [],
        miniature: null,
        previewMiniature: ''
      },
    }
  },
  props: {
    updating: Boolean,
    dados_gerais: Object
  },
  created () {
    if (this.dados_gerais){
      this.dados = this.dados_gerais
    }
  },
  methods: {
    removeLink (key){
      this.dados.externalLinks.splice(key, 1)
    },
    removeFile (key){
      this.dados.files.splice(key, 1)
    },
    previewMiniature(e){
      console.log(e)
      this.dados.previewMiniature = URL.createObjectURL(this.dados.miniature)
    },
    next () {
      if (this.$refs.form.validate()) {
        this.$emit('nextStep', {
          tipo: 'dados_gerais',
          dados: this.dados
        })
      }
    }
  }
}
</script>
