<template>
  <v-form ref="form" @submit.prevent="save">
    <v-row>
      <v-col class="text-center py-5" cols="12">
        <span v-if="updating" class="text-h6-joca lato-black accent--text">
          Confira como o recurso está sendo visualizado:
        </span>
        <span v-else class="text-h6-joca lato-black accent--text">
          Está quase no final! Confira como o seu recurso será publicado:
        </span>
      </v-col>

      <v-col class="grey6Joca" cols="12">
        <v-container>
          <ResourceHeaderCard class="py-3" :dados_gerais="dados_gerais" :dados_especificacoes="dados_especificacoes" :eixos_tematicos="eixos_tematicos"/>
        </v-container>
      </v-col>

      <v-col cols="12">
        <v-container>
          <v-row justify="center">
            <v-col cols="12" sm="10" md="10" lg="10">
              <div class="d-flex flex-column pb-8" style="border-bottom: 2px solid #1CC4BC;">
                <div>
                  <span class="text-h5-joca lato-black secondary--text">Descrição do recurso</span>
                  <p class="text-body-joca grey1Joca--text open-sans-regular mt-2">{{ dados_gerais.description }}</p>
                </div>

                <div class="mt-7">
                  <span class="text-h5-joca lato-black secondary--text">Autoria</span>
                  <p class="text-body-3-joca grey1Joca--text open-sans-regular mt-2">
                    {{ (dados_gerais.author === 1 ? dados_gerais.co_author : $auth.user.sobrenome + ' ' + $auth.user.name) }}
                  </p>
                </div>

                <div class="mt-7">
                  <span class="text-h5-joca lato-black secondary--text">Licença de uso</span>
                  <div class="d-flex mt-2">
                    <span>
                      <img class="mr-2" :src="licenca ? licenca.icon : ''" alt="">
                    </span>
                    <span class="grey1Joca--text text-body-joca open-sans-regular">
                      <span class="open-sans-bold">{{licenca ? licenca.sigla : ''}}</span> {{ licenca ? licenca.text : '' }}
                    </span>
                  </div>
                </div>

                <div class="mt-7">
                  <span class="text-h5-joca lato-black secondary--text mb-2">Outras informações</span>
                  <div class="text-body-joca grey3Joca--text open-sans-regular mt-2">
                    <span class="open-sans-bold primaryMid--text">Tamanho do arquivo:</span> 00 mb
                  </div>
                  <div class="text-body-joca grey3Joca--text open-sans-regular mt-2">
                    <span class="open-sans-bold primaryMid--text">Idioma:</span> {{ getIdioma() }}
                  </div>
                </div>
              </div>
              <v-row class="pt-13" justify="center">
                <v-col cols="6" sm="3" md="2" lg="2">
                  <v-btn @click.stop.prevent="$emit('back')" width="100%" outlined rounded color="primaryMid" class="btn-primary-outlined-joca mr-3 mb-3">
                    <span class="text-caption-1-joca open-sans-bold"> Voltar </span>
                  </v-btn>
                </v-col>
                <v-col cols="6" sm="3" md="2" lg="2">
                  <v-btn @click.stop.prevent="$emit('cancel')" width="100%" outlined rounded color="primaryMid" class="btn-primary-outlined-joca mr-3 mb-3">
                    <span class="text-caption-1-joca open-sans-bold"> Cancelar </span>
                  </v-btn>
                </v-col>
                <v-col v-if="updating" cols="6" sm="4" md="3" lg="3">
                  <v-btn @click.stop.prevent="$emit('deleteResource')" width="100%" outlined rounded color="error" class="btn-error-outlined-joca mb-3">
                    <span class="text-caption-1-joca open-sans-bold"> EXCLUIR RECURSO </span>
                  </v-btn>
                </v-col>
                <v-col v-else cols="7" sm="5" md="4" lg="3">
                  <v-btn width="100%" outlined rounded color="primaryMid" class="btn-primary-outlined-joca mr-3 mb-3">
                    <span class="text-caption-1-joca open-sans-bold"> Salvar rascunho </span>
                  </v-btn>
                </v-col>
                <v-col cols="6" :sm="updating ? '5' : '3'" :md="updating ? '4' : '3'" :lg="updating ? '3' : '2'">
                  <v-btn type="submit" width="100%" depressed rounded color="primaryMid" class="btn-primary-joca mr-3 mb-3">
                    <span v-if="updating" class="text-caption-1-joca whiteJoca--text open-sans-bold"> APLICAR ALTERAÇÕES </span>
                    <span v-else class="text-caption-1-joca whiteJoca--text open-sans-bold"> Publicar </span>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import ResourceHeaderCard from '@/components/cards/painel-de-controle/recursos/ResourceHeaderCard.vue'
export default {
  data() {
    return {
      data: new FormData()
    }
  },

  props: ['updating', 'dados_gerais', 'dados_especificacoes', 'eixos_tematicos'],

  components: {
    ResourceHeaderCard
  },
  created () {
    this.getLicenca()
  },
  methods: {
    save () {
      this.tratarDados()
      if(this.updating){
        this.update()
      }else{
        this.create()
      }
    },
    async create () {
      await this.$axios.post('/recursosses', this.data).then((r) => {
        if(r.data){

        }
      }).catch((e) => {
        console.log(e)
      })
    },
    async update (){
      await this.$axios.post(`/recursosses/${this.$route.params.criar}`, this.data, {
        params: {
          _method: 'PUT'
        }
      }).then((r) => {
        if(r.data){

        }
      }).catch((e) => {
        console.log(e)
      })
    },
    tratarDados (){
      this.data.append('title', this.dados_gerais.title)
      this.data.append('descricao', this.dados_gerais.description)
      this.data.append('palavras_chave', this.dados_gerais.keyword)
      this.data.append('autoria', this.dados_gerais.author)
      this.data.append('co_autoria', this.dados_gerais.co_author ? this.dados_gerais.co_author : '')
      this.data.append('licenca', this.dados_gerais.license)
      this.data.append('miniature', this.dados_gerais.miniature)

      this.data.append('idioma', this.dados_especificacoes.language)
      this.data.append('sugerido_para', JSON.stringify(this.dados_especificacoes.areas))
      this.data.append('visibility', this.dados_especificacoes.visibility)
      this.data.append('user_id', this.$auth.user.id)

      if(this.dados_especificacoes.eixos.length){
        this.dados_especificacoes.eixos.forEach((v, i) => {
          this.data.append(`eixos[${i}]`, v)
        })
      }

      if(this.dados_gerais.externalLinks.length){
        this.dados_gerais.externalLinks.forEach((v, i) => {
          this.data.append(`links[${i}]`, v)
        })
      }

      if(this.dados_especificacoes.tipos.length){
        this.dados_especificacoes.tipos.forEach((v, i) => {
          this.data.append(`tipos[${i}]`, v)
        })
      }

      if(this.dados_especificacoes.trilha.length){
        this.dados_especificacoes.trilha.forEach((v, i) => {
          this.data.append(`trilhas[${i}]`, v.value)
        })
      }

    },
    getIdioma(){
      const idioma = this.$store.state.config.idiomas.find(item => item.value === this.dados_especificacoes.language)
      return idioma.text
    },
    getLicenca(){
      const licenca = this.$store.state.config.licencas.find(item => parseInt(item.value) === parseInt(this.dados_gerais.license))
      if(licenca){
        this.licenca = licenca
      }
    }
  }
}
</script>

