<template>
  <v-form
    id="formMural"
    ref="formMural"
    @submit.prevent="formMural"
    lazy-validation
  >
    <v-container class="px-0">
      <v-row>
        <!-- Título da divulgação -->
        <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
          <label for="title" class="primaryMid--text lato-bold text-body-joca">
            Título da divulgação
          </label>

          <v-text-field
            id="title"
            color="info"
            class="mt-1"
            type="text"
            label="Insira o título da divulgação"
            outlined
            :rules="[verifyDataRequired, verifyMaxLength]"
          >
          </v-text-field>
        </v-col>

        <!-- Divulgação -->
        <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0 mb-8">
          <div class="d-flex">
            <label
              for="divulgation"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Divulgação
            </label>
          </div>

          <v-textarea
            id="divulgation"
            color="info"
            counter="255"
            outlined
            class="mt-1"
            type="text"
            name="input-7-4"
            label="Escreva a divulgação aqui..."
            :rules="[verifyDataRequired, verifyMaxLength]"
          ></v-textarea>
        </v-col>

        <!-- Botões -->
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12" xl="12">
            <div class="text-center">
              <slot name="action-secondary"> </slot>
              <v-btn
                depressed
                rounded
                color="primaryMid"
                class="btn-primary-joca mb-2"
                type="submit"
              >
                <span
                  class="text-caption-1-joca whiteJoca--text open-sans-bold"
                >
                  publicar
                  <!-- salvar alterações -->
                </span>
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-row>
    </v-container>
  </v-form>
</template>
<script>
import DetailsTooltip from '@/components/tooltips/global/DetailsTooltip.vue'
import ValidationForm from '@/mixins/ValidationForm.vue'

export default {
  mixins: [ValidationForm],

  components: {
    DetailsTooltip,
  },

  data() {
    return {}
  },

  methods: {
    formMural() {
      if (this.$refs.formMural.validate()) {
        console.log('Alterações efetuadas com sucesso!')
        console.log('Sua divulgação foi publicada com sucesso!')
      } else {
        this.$vuetify.goTo('#formMural')
      }
    },
  },
}
</script>
