<template>
  <v-form
    id="formReporPublication"
    ref="formReporPublication"
    @submit.prevent="formReporPublication"
    lazy-validation
  >
    <v-container class="px-0">
      <v-row>
        <!-- Denuncia divulgação -->
        <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="mb-4">
          <h5 class="primaryMid--text lato-bold text-body-joca">
            Denúncia de divulgação
          </h5>

          <v-checkbox
            v-for="(item, index) in optionDenunciation"
            :key="index"
            :label="item.name"
            :value="item.value"
            :color="item.color"
            hide-details
          ></v-checkbox>
        </v-col>

        <!-- Divulgação -->
        <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
          <p class="primaryMid--text lato-bold text-body-joca mb-2">
            Informações adicionais
            <span class="lato-regular"> (opcional) </span>
          </p>
          <p class="text-body-joca mb-3">
            Caso necessário, utilize o campo abaixo para descrever melhor a
            situação da denúncia:
          </p>

          <v-textarea
            id="divulgation"
            color="info"
            counter="255"
            outlined
            class="mt-1"
            type="text"
            name="input-7-4"
            label="Utilize este espaço para descrever com mais detalhes sua denúncia"
            :rules="[verifyMaxLength]"
          ></v-textarea>
        </v-col>

        <!-- Botões -->
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12" xl="12">
            <div class="text-center">
              <slot name="action-secondary"> </slot>
              <v-btn
                depressed
                rounded
                color="error"
                class="btn-primary-joca"
                type="submit"
              >
                <span
                  class="text-caption-1-joca whiteJoca--text open-sans-bold"
                >
                  DENUNCIAR DIVULGAÇÃO
                </span>
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-row>
    </v-container>
  </v-form>
</template>
<script>
import DetailsTooltip from '@/components/tooltips/global/DetailsTooltip.vue'
import ValidationForm from '@/mixins/ValidationForm.vue'

export default {
  mixins: [ValidationForm],

  components: {
    DetailsTooltip,
  },

  data() {
    return {
      optionDenunciation: [
        {
          name: 'A divulgação contém conteúdo ofensivo/abusivo',
          value: 'A divulgação contém conteúdo ofensivo/abusivo',
          color: 'info',
        },
        {
          name: 'A divulgação contém conteúdo comercial indesejado ou spam',
          value: 'A divulgação contém conteúdo comercial indesejado ou spam',
          color: 'info',
        },
        {
          name: 'Outros',
          value: 'Outros',
          color: 'info',
        },
      ],
    }
  },

  methods: {
    formReporPublication() {
      if (this.$refs.formReporPublication.validate()) {
        // verificar se foi marcado alguma das opções acima
        console.log('POST LIBERADO')
      } else {
        this.$vuetify.goTo('#formReporPublication')
      }
    },
  },
}
</script>
