<template>
  <div class="py-16" id="page-reset-password">
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="12" md="12" lg="12" xl="12">
          <v-card class="mx-auto shadow-joca py-10 rounded-lg" max-width="1216">
            <v-card-text class="card-content mx-auto">
              <h1
                class="text-h4-joca lato-bold secondary--text mb-2 lato-bold mb-10"
              >
                Redefina sua senha
              </h1>

              <ResetPassword />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import ResetPassword from '@/components/forms/platform/redefinir-senha/ResetPasswordForm.vue'

export default {
  components: { ResetPassword },
  head: {
    title: 'Joca - Redefinir senha',
  }
}
</script>

<style>
#page-reset-password .card-content {
  max-width: 1004px;
}
</style>
