<template>
  <div id="page-my-configuration">
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="12" md="10" lg="10">
          <RegisterAndEditUser :isMyArea="true">
            <template slot="action-secondary">
              <v-btn
                outlined
                rounded
                color="info"
                class="btn-primary-outlined-joca mr-2"
                @click="exportData"
              >
                <span class="text-caption-1-joca open-sans-bold">
                  EXPORTAR DADOS
                </span>
              </v-btn>

              <v-btn
                outlined
                rounded
                color="error"
                class="btn-primary-outlined-joca mr-2"
                @click="deleteAccount"
              >
                <span class="text-caption-1-joca open-sans-bold">
                  EXCLUIR CONTA
                </span>
              </v-btn>
            </template>
          </RegisterAndEditUser>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import RegisterAndEditUser from '@/components/forms/global/user/RegisterAndEditUserForm.vue'

export default {
  components: {
    RegisterAndEditUser,
  },

  methods: {
    exportData() {
      console.log('exportar dados')
    },

    deleteAccount() {
      console.log('deletar conta')

      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir sua conta? Essa ação não poderá ser desfeita e você perderá o acesso à sua conta assim como suas informações.',
        title: 'Deseja excluir sua conta da JOCA?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'error', key: false },
          { text: 'SIM, EXCLUIR', color: 'errorLight', key: false },
        ],
      })
    },
  },
}
</script>
