<template>
  <div id="pagina-geral-area-usuario">
    <div class="container">
      <v-row>
        <v-col cols="12" md="12" sm="12">
          <h3 class="accent--text text-h3-joca lato-bold">Novidades para você</h3>
          <h5 class="text-h5-joca lato-bold secondary--text mt-6 pt-5 mb-4">
            Últimos recursos visualizados
          </h5>

          <!-- ESTADO DE LOADER -->
          <template v-if="loader.recursosVisu">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </template>
          <template v-else>
            <!-- COM DADOS  -->
            <template v-if="recursosVisualizados.length">
              <!-- passar dados pra fazer o loop dentro do carousel -->
              <CarouselRecursos class="mb-5 pb-5"></CarouselRecursos>
            </template>
            <!-- NENHUM DADO ENCONTRADO -->
            <template v-else>
              <p class="text-body-1-joca grey4Joca--text mt-5">
                Ops, parece que não encontramos nenhum recurso visualizado por você.
              </p>
            </template>
          </template>

          <!-- ------------------------------------------------------------------------------------------------------------ -->

          <h5 class="text-h5-joca lato-bold secondary--text mt-6 pt-9 mb-4">
            Últimos recursos da sua rede
          </h5>

          <!-- ESTADO DE LOADER -->
          <template v-if="loader.recursosRede">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </template>
          <template v-else>
            <!-- COM DADOS  -->
            <template v-if="recursosDaRede.length">
              <!-- passar dados pra fazer o loop dentro do carousel -->
              <CarouselRecursos class="mb-5 pb-5"></CarouselRecursos>
            </template>
            <!-- NENHUM DADO ENCONTRADO -->
            <template v-else>
              <p class="text-body-1-joca grey4Joca--text mt-5">
                Ops, parece que não encontramos nenhum recurso publicado pela sua rede.
              </p>
            </template>
          </template>

          <!-- ------------------------------------------------------------------------------------------------------------ -->

          <h5 class="text-h5-joca lato-bold secondary--text mt-6 pt-9 mb-4">
            Últimas trilhas organizadas pela sua rede
          </h5>

          <!-- ESTADO DE LOADER -->
          <template v-if="loader.trilhasRede">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </template>
          <template v-else>
            <!-- COM DADOS  -->
            <template v-if="trilhasDaRede.length">
              <CarouselGlobal class="mb-5 pb-5">
                <template slot="content">
                  <CardTrilha v-for="(item, i) in trilhasDaRede" :key="i"></CardTrilha>
                </template>
              </CarouselGlobal>
            </template>
            <!-- NENHUM DADO ENCONTRADO -->
            <template v-else>
              <p class="text-body-1-joca grey4Joca--text mt-5">
                Ops, parece que não encontramos nenhuma trilha publicada pela sua rede.
              </p>
            </template>
          </template>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import CarouselRecursos from "../../components/carousels/CarouselRecursos";
import CarouselGlobal from "../../components/carousels/CarouselGlobal";
import CardTrilha from "../../components/cards/platform/Trilhas/CardTrilha";

export default {
  // layout: 'control-panel',
  components: {
    CarouselRecursos,
    CarouselGlobal,
    CardTrilha,
  },

  data() {
    return {
      loader: {
        recursosVisu: false,
        recursosRede: false,
        trilhasRede: false,
      },
      recursosVisualizados: [],
      recursosDaRede: [],
      trilhasDaRede: [],
    };
  },
};
</script>
