<template>
  <div id="page-sd">
    <!-- Tabela: Content -->
    <div class="grey6Joca">
      <v-container>
        <v-row>
          <v-col cols="12" md="12" lg="6">
            <v-breadcrumbs
              :items="items"
              class="panel-breadcrumbs pb-0"
            ></v-breadcrumbs>

            <h2 class="text-body-joca grey2Joca--text font-weight-regular">
              Todos os recursos publicados pelas seus discentes publicadores
            </h2>
          </v-col>

          <v-col cols="12" sm="12" md="12" lg="6">
            <div class="h-100 d-flex justify-end mobile-xs-column align-center">
              <SearchInput
                color="primaryMid"
                placeholder="Busque por recursos no painel"
                style="max-width: 322px"
                class="mt-4 input-search-primary w-100"
              />

              <v-btn
                outlined
                rounded
                color="info"
                class="btn-info-outlined-joca mx-4 mt-4"
              >
                <v-icon left> mdi-file-export-outline </v-icon>
                <span class="text-caption-1-joca open-sans-bold">
                  EXPORTAR DADOS
                </span>
              </v-btn>
            </div>
          </v-col>

          <!-- Botao ver filtros -->
          <v-col cols="12" class="pb-5">
            <v-row justify="start" justify-lg="end">
              <v-btn
                depressed
                @click.stop.prevent="showFilters = !showFilters"
                class="text-transform-none"
                text
              >
                <span
                  class="primaryMid--text open-sans-regular text-body-3-joca"
                >
                  Ver filtros
                </span>
                <v-icon color="info">
                  {{ showFilters ? ' mdi-chevron-up' : 'mdi-chevron-down' }}
                </v-icon>
              </v-btn>
            </v-row>
          </v-col>

          <!-- filtros -->
          <v-col class="pb-7" v-if="showFilters" cols="12">
            <FiltersSection />
          </v-col>

          <!-- Sessão de ordenação -->
          <v-col class="pb-7" cols="12">
            <v-row align="center">
              <v-col cols="12" sm="12" md="12" lg="3">
                <span class="text-body-joca lato-black info--text">
                  Exibindo 10 de 500 recursos
                </span>
              </v-col>

              <v-col cols="12" sm="12" md="12" lg="9">
                <div class="d-flex align-center justify-end mobile-xs-column">
                  <span class="text-caption-1-joca primary--text mr-4">
                    Ordenar por
                  </span>

                  <v-select
                    label="RECURSOS"
                    dense
                    rounded
                    hide-details
                    :items="[
                      'Mais recentes',
                      'Mais antigos',
                      'Mais visualizados',
                      'Ordem alfabética',
                    ]"
                    color="primaryMid"
                    outlined
                    class="select-filter-primary select-filter-width mr-4"
                  ></v-select>

                  <v-select
                    label="AUTHOR(A)"
                    dense
                    rounded
                    hide-details
                    :items="['Ordem alfabética', 'Autores recentes']"
                    color="primaryMid"
                    outlined
                    class="select-filter-primary select-filter-width mr-4"
                  ></v-select>

                  <v-select
                    label="STATUS"
                    dense
                    rounded
                    hide-details
                    :items="['Público', 'Privado', 'Rascunho', 'Removido']"
                    color="primaryMid"
                    outlined
                    class="select-filter-primary select-filter-width"
                  ></v-select>
                </div>
              </v-col>
            </v-row>
          </v-col>

          <v-col cols="12">
            <v-card elevation="0">
              <v-card-text>
                <!-- Tabela dos recursos -->
                <ResourceTable :isPanelTeacher="true">
                  <div class="pt-8 mb-3" slot="footer">
                    <v-pagination
                      v-model="page"
                      :length="6"
                      color="infoLight"
                      :total-visible="4"
                    ></v-pagination>
                  </div>
                </ResourceTable>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>
import SearchInput from '@/components/geral/SearchInput.vue'
import ResourceTable from '@/components/tables/painel-de-controle/recursos/ResourceTable.vue'

import FiltersSection from '@/components/sections/global/FiltersSection.vue'

export default {
  layout: 'control-panel',
  components: {
    SearchInput,
    ResourceTable,
    FiltersSection,
  },

  data() {
    return {
      page: 1,
      showFilters: false,

      items: [
        // {
        //   text: 'Painel de controle',
        //   disabled: false,
        //   to: '/painel-de-controle/geral',
        //   color: 'primaryMid',
        // },
        {
          text: 'Recursos',
          disabled: true,
          to: '/painel-de-controle-docente/recursos',
          color: '',
        },
      ],
    }
  },
}
</script>

<style>
#page-sd .select-filter-width {
  max-width: 150px;
}

@media (max-width: 425px) {
  #page-sd .select-filter-width {
    max-width: none;
    margin: 0px 16px 10px 16px !important;
  }
}
</style>
