<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="12" md="12">
      <HeaderHome></HeaderHome>
      <sectionOqueSaoRecursos
        class="pb-7 pt-8 mt-9 mb-3"
      ></sectionOqueSaoRecursos>
      <sectionQuemFoiJosue class="mb-5 pb-4"></sectionQuemFoiJosue>

      <!-- section Explore Recursos -->
      <div id="sectionExploreRecursos" class="grey6Joca pt-5 pb-9">
        <div class="container">
          <v-row>
            <v-col cols="12">
              <h3 class="accent--text text-h3-joca lato-bold pt-3">
                Explore os recursos
              </h3></v-col
            >
            <v-col cols="12">
              <h4 class="text-h5-joca lato-bold primaryMid--text my-5 pt-4">
                Novidades pra você
              </h4>
              <carouselRecursos></carouselRecursos>
            </v-col>

            <v-col cols="12">
              <h4 class="text-h5-joca lato-bold primaryMid--text my-5 pt-5">
                Os mais visualizados
              </h4>
              <carouselRecursos></carouselRecursos>
            </v-col>

            <v-col cols="12" class="mb-6 pb-5">
              <h4 class="text-h5-joca lato-bold primaryMid--text my-5 pt-5">
                Os melhores avaliados
              </h4>
              <carouselRecursos></carouselRecursos>
            </v-col>
          </v-row>
        </div>
      </div>
      <!-- / -->

      <!-- section acontecendo na joca -->
      <div id="section_acontecendo_na_joca" class="my-5 py-5">
        <div class="container">
          <v-row>
            <v-col cols="12" class="text-center mb-5">
              <h3 class="text-h3-joca lato-bold secondary--text">
                Veja o que está acontecendo na JOCA
              </h3>
            </v-col>
            <v-col
              cols="12"
              md="3"
              sm="12"
              class="text-center"
              v-for="(info, i) in infos"
              :key="i"
            >
              <cardNumeros :info="info"></cardNumeros>
            </v-col>
          </v-row>
        </div>
      </div>
      <!-- / -->

      <!-- deletar codigo abaixo: -->
      <v-card class="mt-7">
        <v-card-title class="headline"> Navegação </v-card-title>
        <v-card-text>
          <hr class="my-3" />
          <nuxt-link
            to="/login"
            class="text-accent ml-3 decoration-none body-2-IDDH"
          >
            Login
          </nuxt-link>
          <br />
          <nuxt-link
            to="/system-design/tipografia"
            class="text-accent ml-3 decoration-none body-2-IDDH"
          >
            Design System
          </nuxt-link>
          <br />
          <nuxt-link
            to="/painel-de-controle/geral"
            class="text-accent ml-3 decoration-none body-2-IDDH"
          >
            Painel de controle
          </nuxt-link>
          <br />
        </v-card-text>
      </v-card>
      <!-- / -->
    </v-col>
  </v-row>
</template>

<script>
import HeaderHome from '../components/header/home/HeaderHome'
import sectionOqueSaoRecursos from '../components/sections/home/QueSaoRecursos'
import sectionQuemFoiJosue from '../components/sections/home/QuemFoiJosue'
import carouselRecursos from '../components/carousels/CarouselRecursos'
import cardNumeros from '../components/cards/home/CardNumeros'

export default {
  name: 'IndexPage',
  components: {
    HeaderHome,
    sectionOqueSaoRecursos,
    sectionQuemFoiJosue,
    carouselRecursos,
    cardNumeros,
  },

  data() {
    return {
      infos: [
        {
          img: 'ilu-recursos.png',
          numero: '1.000',
          text: 'Total de recursos subidos',
        },
        {
          img: 'ilu-trilhas.png',
          numero: '100',
          text: 'Total de trilhas publicadas',
        },
        {
          img: 'ilu-pessoas.png',
          numero: '200',
          text: 'Total de pessoas cadastradas',
        },
        {
          img: 'ilu-mural.png',
          numero: '50',
          text: 'Total de divulgações no mural',
        },
      ],
    }
  },
}
</script>
