<template>
  <div id="template-my-configuration">
    <div class="grey6Joca pt-11 pb-2">
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12">
            <profileHeader :area_user="true">
              <template slot="tab">
                <v-tabs
                  color="secondary"
                  v-model="tab"
                  background-color="transparent"
                  show-arrows
                >
                  <v-tabs-slider color="secondary"></v-tabs-slider>

                  <v-tab
                    v-for="(item, index) in items"
                    :key="index"
                    :to="'/minha-area/' + item.to"
                    exact
                  >
                    <span
                      class="open-sans-bold text-body-3-joca"
                      style="text-transform: initial"
                    >
                      {{ item.name }}
                    </span>
                  </v-tab>
                </v-tabs>
              </template>
            </profileHeader>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <div class="py-16">
      <nuxt-child />
    </div>
  </div>
</template>

<script>
import profileHeader from "@/components/header/global/ProfileHeader.vue";

export default {
  components: { profileHeader },
  // descomentar isso aqui depois:
  // middleware: ['auth'],
  data() {
    return {
      tab: null,

      items: [
        { name: "Geral", to: "" },
        { name: "Favoritos", to: "favoritos" },
        { name: "Recursos", to: "recursos" },
        { name: "Trilhas", to: "trilhas" },
        { name: "Pessoas", to: "pessoas" },
        { name: "Configurações", to: "configuracoes" },
      ],
    };
  },

  mounted() {},
};
</script>
