<template>
  <div id="template-panel-control-teacher">
    <div class="whiteJoca pt-16 pb-5">
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12">
            <NavigationHeader :items="items" />
          </v-col>
        </v-row>
      </v-container>
    </div>

    <div>
      <nuxt-child />
    </div>
  </div>
</template>
<script>
import NavigationHeader from '@/components/layouts/header/painel-de-controle/NavigationControlPanelHeader.vue'

export default {
  layout: 'control-panel',
  components: {
    NavigationHeader,
  },
  data() {
    return {
      items: [
        {
          name: 'Recursos',
          router: 'painel-de-controle-docente/recursos',
        },
        {
          name: 'Pessoas',
          router: 'painel-de-controle-docente/pessoas',
        },
      ],
    }
  },
}
</script>
