<template>
  <div id="template-panel-control">
    <div class="whiteJoca pt-16 pb-5">
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12">
            <NavigationHeader :items="items" />
          </v-col>
        </v-row>
      </v-container>
    </div>

    <div>
      <nuxt-child />
    </div>
  </div>
</template>
<script>
import NavigationHeader from '@/components/layouts/header/painel-de-controle/NavigationControlPanelHeader.vue'

export default {
  layout: 'control-panel',
  components: {
    NavigationHeader,
  },
  data() {
    return {
      items: [
        { name: 'Geral', router: 'painel-de-controle/geral' },
        {
          name: 'Aprovação de docentes',
          router: 'painel-de-controle/aprovacao-de-docentes',
        },
        { name: 'Recursos', router: 'painel-de-controle/recursos' },
        { name: 'Trilhas', router: 'painel-de-controle/trilhas' },
        { name: 'Pessoas', router: 'painel-de-controle/pessoas' },
        { name: 'Mural', router: 'painel-de-controle/mural' },
        { name: 'Denúncias', router: 'painel-de-controle/denuncias' },
        { name: 'Termos de Uso', router: 'painel-de-controle/termos-de-uso' },
        {
          name: 'Política de Privacidade',
          router: 'painel-de-controle/politica-de-privacidade',
        },
      ],
    }
  },
}
</script>
