<template>
  <div>
    <v-container fluid class="whiteJoca">
      <section>
        <v-row class="grey6Joca">
          <v-col class="py-0" cols="12">
            <v-container>
              <v-row align="center">
                <v-col cols="12" sm="6" md="6" lg="5">
                  <v-breadcrumbs
                    :items="items"
                    class="panel-breadcrumbs pb-0"
                  ></v-breadcrumbs>

                  <h2 class="text-body-joca grey2Joca--text font-weight-regular">
                    Visão da trilha selecionada
                  </h2>
                </v-col>

                <v-col cols="12" sm="12" md="12" lg="7">
                  <div class="h-100 d-flex justify-end mobile-xs-column align-center">


                    <v-btn
                      outlined
                      rounded
                      color="primaryMid"
                      @click.stop.prevent="$router.push('/painel-de-controle/trilhas')"
                      class="btn-primary-outlined-joca mx-4 mt-4"
                    >
                      <span class="text-caption-1-joca open-sans-bold">
                        Voltar
                      </span>
                    </v-btn>

                    <v-btn
                      @click.stop.prevent="$router.push('/painel-de-controle/trilhas/editar')"
                      depressed
                      rounded
                      color="primaryMid"
                      class="btn-primary-joca mt-4"
                    >
                      <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                        Editar Trilha
                      </span>
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
          <v-col cols="12">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <TrailHeader>
                    <template slot="right-side">
                      <div class="d-flex flex-column justify-center align-center fill-height">
                        <v-avatar
                          @click.stop.prevent="$emit('viewProfile')"
                          color="primary"
                          size="56"
                          class="cursor-pointer"
                        ></v-avatar>
                        <span class="text-caption-2-joca primaryMid--text open-sans-regular mt-3">Organizada por</span>
                        <span class="primary--text open-sans-semibold text-body-4-joca">Márcia Peixoto</span>
                        <v-btn disabled depressed rounded color="primaryMid" class="btn-primary-joca mt-3">
                          <v-icon>mdi-account-plus</v-icon>
                          <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> Seguir </span>
                        </v-btn>
                      </div>
                    </template>
                  </TrailHeader>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </section>

      <v-row>
        <v-container>
          <v-row justify="center">
            <v-col cols="12" sm="11" md="10" lg="10">
              <!-- area de informações do recurso -->
              <v-container class="px-0" style="border-bottom: 2px solid #1CC4BC;">
                <section>
                  <v-row class="pb-13 pt-4">
                    <v-col cols="12">
                      <span class="text-body-joca lato-black info--text">
                        Exibindo 3 recursos
                      </span>
                    </v-col>
                    <v-col cols="12" sm="6" md="4" lg="4">
                      <CardRecurso />
                    </v-col>

                    <v-col cols="12" sm="6" md="4" lg="4">
                      <CardRecurso />
                    </v-col>

                    <v-col cols="12" sm="6" md="4" lg="4">
                      <CardRecurso />
                    </v-col>
                  </v-row>
                </section>
              </v-container>

              <!-- area de avaliar a trilha -->
              <v-conteiner class="px-0">
                <section>
                  <EvaluateArea type="trail" class="pt-5" />
                </section>
              </v-conteiner>

              <!-- area de comentarios do recurso -->
              <v-container>
                <section>
                  <CommentsArea>
                    <!-- slot para exibição dos comentarios -->
                    <div slot="comments">
                      <template>
                        <Comments class="mb-3" >
                          <!-- slot das ações dos comentarios -->
                          <div slot="actions">
                            <template>
                              <div class="d-flex align-center mt-2">
                                <div class="d-flex align-center mr-2">
                                  <v-icon color="grey3Joca">mdi-thumb-up</v-icon>
                                  <span class="text-caption-2-joca grey3Joca--text open-sans-regular ml-1">(0)</span>
                                </div>

                                <v-icon color="grey3Joca">mdi-alert-circle</v-icon>

                                <span class="text-caption-2-joca primaryMid--text open-sans-regular ml-4">comentário realizado dia 19/11/21 às 15:30</span>

                                <v-icon class="ml-2" color="grey3Joca">mdi-delete</v-icon>

                              </div>
                            </template>
                          </div>
                        </Comments>
                      </template>
                    </div>
                  </CommentsArea>
                </section>
              </v-container>
            </v-col>
          </v-row>
        </v-container>
      </v-row>
    </v-container>

    <v-dialog
      v-model="modalViewProfileOpened"
      persistent
      max-width="1207px"
    >
      <ViewProfileModal @close="modalViewProfileOpened = false" />
    </v-dialog>
  </div>
</template>

<script>
import TrailHeader from '@/components/Partials/Trilhas/TrailHeader.vue'
import CardRecurso from '@/components/cards/global/CardRecurso.vue'

import EvaluateArea from '@/components/Partials/EvaluateArea.vue'
import CommentsArea from '@/components/Partials/CommentsArea.vue'

import Comments from '@/components/geral/Comments.vue'

import ViewProfileModal from '@/components/modals/global/ViewProfileModal.vue'

export default {
  layout: 'control-panel',
  components: {
    TrailHeader,
    CardRecurso,
    EvaluateArea,
    CommentsArea,

    Comments,

    ViewProfileModal
  },

  data() {
    return {
      modalViewProfileOpened: false,

      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          exact: true,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Trilhas',
          disabled: false,
          exact: true,
          to: '/painel-de-controle/trilhas',
          color: 'primaryMid',
        },
        {
          text: 'Visualização',
          disabled: true,
          exact: true,
          to: '/painel-de-controle/trilhas/ver-detalhes',
          color: '',
        },
      ],
    }
  }
}
</script>
