<template>
  <div id="cardTrilha">
    <v-card>
      <div class="py-5" style="display: flex; justify-content: center">
        <img
          height="150"
          class="estilo-img-card-fundo"
          src="~static/images/img-fundo-card-trilha.png"
        />

        <!-- deixar essa imagem padrao se nao tiver foto do recurso -->
        <img
          height="150"
          class="estilo-img-card"
          src="~static/images/thumbnail-card.jpg"
        />
      </div>

      <div class="container" style="position: relative">
        <v-avatar size="59" style="position: absolute; top: -40px; right: 30px">
          <!-- deixar essa imagem padrao se nao tiver foto de usuario -->
          <img alt="user" src="~static/images/avatar-card.png" />
        </v-avatar>
        <p class="text-caption-2-joca info--text text-uppercase">
          {{ "15" + " Recursos" }}
        </p>
        <h6
          class="grey2Joca--text text-body-joca lato-bold my-2"
          style="letter-spacing: 0.06em !important"
        >
          {{ "O uso de frutas silvestres na cozinha contemporânea" }}
        </h6>
        <v-rating
          empty-icon="mdi-star-outline"
          full-icon="mdi-star"
          half-icon="mdi-star-half-full"
          background-color="warning"
          color="warning"
          readonly
          length="5"
          size="16"
          :value="3"
          class="d-inline"
        ></v-rating>
        <span class="text-caption-2-joca grey3Joca--text"
          >{{ "4.2" }} ({{ "551" }})
        </span>
      </div>
      <hr />
      <v-row>
        <v-col cols="12" class="text-right">
          <div class="container">
            <span class="text-caption-2-joca grey3Joca--text mr-2">({{ "15" }}) </span>
            <v-icon class="mr-2 cursor-pointer">mdi-heart</v-icon>
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-icon class="mr-2" v-bind="attrs" v-on="on">mdi-dots-vertical </v-icon>
              </template>
              <v-list>
                <v-list-item class="cursor-pointer">
                  <v-list-item-title
                    ><span class="text-caption-2-joca grey1Joca--text"
                      >Abrir</span
                    ></v-list-item-title
                  >
                </v-list-item>
                <v-list-item>
                  <v-list-item-title class="cursor-pointer">
                    <span class="text-caption-2-joca grey1Joca--text"
                      >Abrir em nova aba</span
                    >
                  </v-list-item-title>
                </v-list-item>
                <v-list-item>
                  <v-list-item-title class="cursor-pointer">
                    <span class="text-caption-2-joca grey1Joca--text">Compartilhar</span>
                  </v-list-item-title>
                </v-list-item>
                <v-list-item>
                  <v-list-item-title class="cursor-pointer">
                    <span class="text-caption-2-joca error--text">Reportar trilha</span>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {};
  },
};
</script>

<style>
#cardTrilha .v-card {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px 8px 0px 0px;
}
#cardTrilha .estilo-img-card {
  position: relative;
  object-fit: cover;
  width: 80%;
  border-radius: 7px;
  /* transition: transform 0.3s; */
}

/* #cardTrilha .estilo-img-card:hover{
 transform: scale(1.1);
} */

#cardTrilha .estilo-img-card-fundo {
  position: absolute;
  width: 80%;
  left: 20px;
  top: 0px;
   /* transition: transform 0.3s; */
}

/* #cardTrilha .estilo-img-card-fundo:hover {
  transform: scale(1.1);
} */
</style>
