<template>
  <div id="page-mural" class="grey6Joca pb-16">
    <!-- Header page -->
    <v-container class="mb-5">
      <v-row>
        <v-col cols="12" md="12" lg="5">
          <v-breadcrumbs
            :items="items"
            class="panel-breadcrumbs pb-0"
          ></v-breadcrumbs>

          <h2 class="text-body-joca grey2Joca--text font-weight-regular">
            Todos os pedidos de cadastro de docentes do INJC - UFRJ
          </h2>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="7">
          <div class="h-100 d-flex justify-end mobile-xs-column align-center">
            <SearchInput
              color="primaryMid"
              placeholder="Busque por pedidos no painel"
              style="max-width: 322px"
              class="mt-4 input-search-primary w-100"
            />

            <v-btn
              outlined
              rounded
              color="info"
              class="btn-info-outlined-joca mx-4 mt-4"
              @click="exportMurals()"
            >
              <v-icon left> mdi-file-export-outline </v-icon>
              <span class="text-caption-1-joca open-sans-bold">
                EXPORTAR DADOS
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- Order -->
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12" lg="3">
          <div class="pt-3">
            <h4 class="text-body-joca lato-black info--text">
              Exibindo 10 de 500 pedidos
            </h4>
          </div>
        </v-col>
        <v-col cols="12" sm="12" md="12" lg="9">
          <div class="d-flex align-center justify-end mobile-xs-column">
            <span class="text-caption-1-joca primary--text mr-4">
              Ordenar por
            </span>

            <v-select
              label="MAIS RECENTES"
              class="select-filter-primary w-100 mb-1 select-more-new"
              dense
              rounded
              hide-details
              :items="[
                'Mais recentes',
                'Mais antigos',
                'Mais visualizados',
                'Ordem alfabética',
              ]"
              outlined
            ></v-select>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- Table -->
    <v-container class="px-0">
      <v-col cols="12" sm="12" md="12" lg="12">
        <v-card>
          <v-card-text>
            <PeopleTable
              :search="search"
              :paginate="paginate"
              :isAprovalTeacher="true"
            >
              <div class="text-center pt-4" slot="footer">
                <v-pagination
                  depressed
                  v-model="paginate.page"
                  :length="paginate.last_page"
                  color="secondary"
                >
                </v-pagination>
              </div>
            </PeopleTable>
          </v-card-text>
        </v-card>
      </v-col>
    </v-container>
  </div>
</template>

<script>
import SearchInput from '@/components/geral/SearchInput.vue'
import PeopleTable from '@/components/tables/painel-de-controle/pessoas/PeopleTable.vue'

export default {
  components: {
    SearchInput,
    PeopleTable,
  },

  data() {
    return {
      search: '',

      paginate: {
        page: 1,
        last_page: 0,
        total_items: 0,
      },

      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Aprovação de docentes',
          disabled: true,
          to: '/painel-de-controle/aprovacao-de-docentes',
          color: '',
        },
      ],
    }
  },

  methods: {
    exportMurals() {
      console.log('exportar')
    },
  },
}
</script>

<style>
#page-mural .select-more-new {
  max-width: 180px;
}
#page-mural .select-type-profile {
  max-width: 175px;
}
#page-mural .select-permission {
  max-width: 150px;
}
#page-mural .select-status {
  max-width: 130px;
}

@media (max-width: 425px) {
  #page-mural .select-status,
  #page-mural .select-permission,
  #page-mural .select-type-profile,
  #page-mural .select-more-new {
    max-width: none;
    margin: 0px 16px 10px 16px !important;
  }
}
</style>
