<template>
  <div id="page-faqs">
    <div class="bg-header"></div>
    <div style="min-height: 700px; width: 100%; position: relative">
      <v-card class="px-7 py-4 posicionamento-card">
        <v-row>
          <v-col cols="12" md="12" sm="12">
            <h1 class="primaryMid--text text-h1-joca lato-bold">Dúvidas Frequentes</h1>
            <p class="text-body-3-joca grey1Joca--text mt-3 mb-7">
              Texto explicativo sobre as dúvidas frequentes.
            </p>

            <template v-if="loader">
              <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
            </template>
            <template v-else>
              <p v-if="faqs.length" class="text-body-2-joca grey1Joca--text">
                <v-expansion-panels class="mb-5">
                  <!-- fazer loop com o array de faqs -->
                  <v-expansion-panel v-for="(item, i) in 5" :key="i">
                    <v-expansion-panel-header>
                      <span class="text-body-3-joca open-sans-bold secondary--text">{{
                        "Pergunta"
                      }}</span>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <span class="text-body-joca grey1Joca--text">{{
                        "Resposta resposta resposta resposta"
                      }}</span>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </p>
              <p v-else class="text-body-2-joca grey3Joca--text pt-5 my-5">
                Ops, ainda não cadastramos nossas FAQs.
              </p>
            </template>
          </v-col>
        </v-row>
      </v-card>
    </div>
  </div>
</template>
<script>
export default {
  layout: "default",
  components: {},
  data() {
    return {
      loader: false,
      faqs: [],
    };
  },
  mounted() {
    this.getFaqs();
  },
  methods: {
    getFaqs() {
      //fazer get faqs e alimentar variavel
    },
  },
};
</script>

<style>
#page-faqs .bg-header {
  background-image: url("../../static/images/bg-faq.jpg");
  background-size: cover;
  min-height: 369px;
}

#page-faqs .v-card {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

#page-faqs .posicionamento-card {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

@media (max-width: 500px) {
  #page-faqs .posicionamento-card {
    top: -300px;
    left: 5px;
    right: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
</style>
