<template>
  <v-row id="form-create-trail">
    <v-col
      cols="12"
    >
      <div>
        <span class="secondaryMid--text text-h6-joca lato-black">1. Informações</span>
      </div>

      <div class="mt-2">
        <span class="primaryMid--text text-body-joca lato-black">Título da trilha</span>
      </div>

      <v-text-field
        class="mt-2"
        type="link"
        outlined
        placeholder="Insira o título da trilha"
        v-model="title"
      >
        <template v-slot:append>
          <span class="grey3Joca--text text-caption-2-joca open-sans-semi-bold">
            {{title.length}}
          </span>
        </template>
      </v-text-field>
    </v-col>

    <v-col
      class="pt-0"
      cols="12"
    >
      <div>
        <span class="primaryMid--text text-body-joca lato-black">Visibilidade da trilha</span>
      </div>

      <v-radio-group v-model="privacy">
        <v-radio
          value="1"
          label="Pública"
        ></v-radio>
        <v-radio
          class="mt-2"
          value="2"
          label="Privada"
        ></v-radio>
      </v-radio-group>
    </v-col>

    <v-col class="pt-0" cols="12">
      <div>
        <span class="secondaryMid--text text-h6-joca lato-black">2. Adicione recursos</span>
      </div>

      <div class="mt-2">
        <v-btn @click.stop.prevent="modalAddResourceOpened = true" outlined rounded color="info" class="btn-info-outlined-joca">
          <span class="text-caption-1-joca open-sans-bold"> Adicionar recursos </span>
        </v-btn>
      </div>
    </v-col>

    <v-col cols="12">
      <div class="text-h6-joca lato-black secondaryMid--text">
        3. Recursos
        <span class="text-caption-2-joca open-sans-regular">(troque os números para alterar a ordem)</span>
      </div>

      <!-- Mensagem para quando n tiver adicionado recurso a trilha -->
      <div v-if="1 > 2" class="no-resource-content my-8 mx-auto">
        <p class="text-body-1-joca grey4Joca--text open-sans-semibold text-center">
          Ops, parece que ainda não há nenhum recurso
        </p>
      </div>

      <div v-else>
        <HorizontalResourceCard class="mt-5" :adicionando="true" @openResource="$emit('openResource')" />
      </div>

    </v-col>

    <v-col class="pb-10 mt-8" cols="12">
      <v-row v-if="updating" justify="center">
        <v-col class="pt-0" cols="5" sm="3" md="2" lg="2">
          <v-btn @click.stop.prevent="$emit('cancel')" width="100%" outlined rounded color="primaryMid" class="btn-primary-outlined-joca">
            <span class="text-caption-1-joca open-sans-bold"> Cancelar </span>
          </v-btn>
        </v-col>

        <v-col class="pt-0" cols="7" sm="4" md="3" lg="3">
          <v-btn @click.stop.prevent="$emit('deleteResource')" width="100%" outlined rounded color="error" class="btn-error-outlined-joca mb-3">
            <span class="text-caption-1-joca open-sans-bold"> EXCLUIR TRILHA </span>
          </v-btn>
        </v-col>

        <v-col class="pt-0" cols="8" sm="4" md="4" lg="3">
          <v-btn width="100%" depressed rounded color="primaryMid" class="btn-primary-joca">
            <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> salvar alterações </span>
          </v-btn>
        </v-col>
      </v-row>

      <v-row v-else justify="center">
        <v-col class="pt-0" cols="5" sm="3" md="2" lg="2">
          <v-btn @click.stop.prevent="$emit('cancel')" width="100%" outlined rounded color="primaryMid" class="btn-primary-outlined-joca">
            <span class="text-caption-1-joca open-sans-bold"> Cancelar </span>
          </v-btn>
        </v-col>

        <v-col class="pt-0" cols="7" sm="4" md="3" lg="3">
          <v-btn width="100%" depressed rounded color="primaryMid" class="btn-primary-joca">
            <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> Criar trilha </span>
          </v-btn>
        </v-col>
      </v-row>
    </v-col>

    <v-dialog
      v-model="modalAddResourceOpened"
      persistent
      max-width="936px"
    >
      <AddResourceModal @back="modalAddResourceOpened = false" @openResource="$emit('openResource')" />
    </v-dialog>
  </v-row>
</template>

<script>

import AddResourceModal from '@/components/modals/painel-de-controle/trilhas/AddResourceModal.vue'
import HorizontalResourceCard from '@/components/cards/painel-de-controle/recursos/HorizontalResourceCard.vue'

export default {
  data() {
    return {
      modalAddResourceOpened: false,
      title: '',
      privacy: null
    }
  },

  props: ['updating'],

  components: {
    HorizontalResourceCard,
    AddResourceModal,
  }
}
</script>


<style>
  #form-create-trail .no-resource-content {
    max-width: 424px;
  }
</style>
