<template>
  <section class="d-flex flex-column">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h5 class="text-h5-joca lato-black secondaryMid--text">
            {{title}}
          </h5>
          <p class="text-body-4-joca open-sans-regular grey3Joca--text">{{subtitle}}</p>
        </v-col>
        <v-col cols="12">
          <v-card elevation="0">
            <slot name="table"> </slot>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  props: ['title', 'subtitle']
}
</script>
