<template>
  <section id="section-nav">
    <v-card class="whiteJoca">
      <v-container>
        <v-row align="center">
          <v-col cols="4">
            <span class="info--text text-h5-joca lato-black">Ir para ultimas atualizações de:</span>
          </v-col>

          <v-col cols="8">
            <v-tabs background-color="transparent" v-model="tab" hide-slider show-arrows color="accent">
              <v-tab
                v-for="(item, index) in navItems"
                :key="index"
                :to="'/painel-de-controle/' + item.router"
              >
                <span class="open-sans-regular info--text tab-item">
                  {{ item.name }}
                </span>
              </v-tab>
            </v-tabs>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </section>
</template>

<script>
export default {
  data() {
    return {
      tab: null,
      navItems: [
        { name: 'Aprovação de docentes', router: 'aprovacao-de-docentes' },
        { name: 'Recursos', router: 'recursos' },
        { name: 'Trilhas', router: 'trilhas' },
        { name: 'Pessoas', router: 'pessoas' },
        { name: 'Mural', router: 'mural' },
        { name: 'Denúncias', router: 'denuncias' },
      ],
    }
  }
}
</script>

<style>
  #section-nav .tab-item {
    text-decoration: underline;
    text-transform: none !important;
  }
</style>
