<template>
  <section>
    <v-slide-group>
      <v-slide-item class="mb-1 px-0">
        <InfoCard
          value="1.000"
          text="Total de recursos subidos"
          percentage="10"
          class="mr-2 pt-5"
        >
          <div slot="image">
            <template>
              <img
                class="cursor-pointer"
                src="@/static/images/home/ilu-recursos.png"
                @click.stop.prevent="$router.push('/painel-de-controle/recursos')"
                alt=""
              />
            </template>
          </div>

        </InfoCard>
      </v-slide-item>

      <v-slide-item class="mb-1 px-0">
        <InfoCard
          value="100"
          text="Total de trilhas publicadas"
          percentage="10"
          class="mr-2 pt-5"
        >
          <div slot="image">
            <template>
              <img
                class="cursor-pointer"
                src="@/static/images/home/ilu-trilhas.png"
                @click.stop.prevent="$router.push('/painel-de-controle/trilhas')" alt=""
              />
            </template>
          </div>

        </InfoCard>
      </v-slide-item>

      <v-slide-item class="mb-1 px-0">
        <InfoCard
          class="mr-2 pt-5"
          value="200"
          text="Total de pessoas cadastradas"
          percentage="0,2"
          :decrement="true"
        >
          <div slot="image">
            <template>
              <img
                class="cursor-pointer"
                src="@/static/images/home/ilu-pessoas.png"
                @click.stop.prevent="$router.push('/painel-de-controle/pessoas')"
                alt=""
              />
            </template>
          </div>

        </InfoCard>
      </v-slide-item>

      <v-slide-item class="mb-1 px-0">
        <InfoCard
          class="mr-2 pt-5"
          value="50"
          text="Total de divulgações no mural"
          percentage="10"
        >
          <div slot="image">
            <template>
              <img
                class="cursor-pointer"
                src="@/static/images/home/ilu-mural.png"
                @click.stop.prevent="$router.push('/painel-de-controle/mural')"
                alt=""
              />
            </template>
          </div>

        </InfoCard>
      </v-slide-item>
    </v-slide-group>
  </section>
</template>

<script>
import InfoCard from '@/components/cards/painel-de-controle/geral/InfoCard.vue'

export default {
  components: {
    InfoCard
  }
}
</script>
