<template>
  <div id="page-mural" class="grey6Joca pb-16">
    <!-- Header page -->
    <v-container class="mb-5">
      <v-row>
        <v-col cols="12" md="12" lg="4">
          <v-breadcrumbs
            :items="items"
            class="panel-breadcrumbs pb-0"
          ></v-breadcrumbs>

          <h2 class="text-body-joca grey2Joca--text font-weight-regular">
            Todas as divulgações feitas na plataforma
          </h2>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="8">
          <div class="h-100 d-flex justify-end mobile-xs-column align-center">
            <SearchInput
              color="primaryMid"
              placeholder="Busque divulgações no painel"
              style="max-width: 322px"
              class="mt-4 input-search-primary w-100"
            />

            <v-btn
              outlined
              rounded
              color="info"
              class="btn-info-outlined-joca mx-4 mt-4"
              @click="exportMurals()"
            >
              <v-icon left> mdi-file-export-outline </v-icon>
              <span class="text-caption-1-joca open-sans-bold">
                EXPORTAR DADOS
              </span>
            </v-btn>

            <v-btn
              depressed
              rounded
              color="primaryMid"
              class="btn-primary-joca mt-4"
              @click="dialogAddMural = true"
            >
              <v-icon left class="whiteJoca--text"> mdi-plus </v-icon>
              <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                PUBLICAR DIVULGAÇÃO
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- Order -->
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12" lg="3">
          <div class="pt-3">
            <h4 class="text-body-joca lato-black info--text">
              Exibindo 10 de 500 recursos
            </h4>
          </div>
        </v-col>
        <v-col cols="12" sm="12" md="12" lg="9">
          <div class="d-flex align-center justify-end mobile-xs-column">
            <span class="text-caption-1-joca primary--text mr-4">
              Ordenar por
            </span>

            <v-select
              label="MAIS RECENTES"
              class="select-filter-primary w-100 mb-1 select-more-new"
              dense
              rounded
              hide-details
              :items="[
                'Mais recentes',
                'Mais antigos',
                'Mais visualizados',
                'Ordem alfabética',
              ]"
              outlined
            ></v-select>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- Table -->
    <v-container class="px-0">
      <v-col cols="12" sm="12" md="12" lg="12">
        <v-card class="shadow-joca mx-auto">
          <v-card-text>
            <MuralTable :search="search" :paginate="paginate">
              <div class="text-center pt-4" slot="footer">
                <v-pagination
                  depressed
                  v-model="paginate.page"
                  :length="paginate.last_page"
                  color="secondary"
                >
                </v-pagination>
              </div>
            </MuralTable>
          </v-card-text>
        </v-card>
      </v-col>
    </v-container>

    <!-- Dialog Cadastro -->
    <v-dialog v-model="dialogAddMural" width="828">
      <v-card class="pb-4">
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon color="grey3Joca" @click="dialogAddMural = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>

        <v-card-text> <RegisterAndEditMural /></v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SearchInput from '@/components/geral/SearchInput.vue'
import MuralTable from '@/components/tables/painel-de-controle/mural/MuralTable.vue'
import RegisterAndEditMural from '@/components/forms/global/mural/RegisterAndEditMural.vue'

export default {
  components: {
    SearchInput,
    MuralTable,
    RegisterAndEditMural,
  },

  data() {
    return {
      dialogAddMural: false,
      search: '',

      paginate: {
        page: 1,
        last_page: 0,
        total_items: 0,
      },

      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Mural',
          disabled: true,
          to: '/painel-de-controle/mural',
          color: '',
        },
      ],
    }
  },

  methods: {
    exportMurals() {
      console.log('exportar')
    },
  },
}
</script>

<style>
#page-mural .select-more-new {
  max-width: 180px;
}
#page-mural .select-type-profile {
  max-width: 175px;
}
#page-mural .select-permission {
  max-width: 150px;
}
#page-mural .select-status {
  max-width: 130px;
}

@media (max-width: 425px) {
  #page-mural .select-status,
  #page-mural .select-permission,
  #page-mural .select-type-profile,
  #page-mural .select-more-new {
    max-width: none;
    margin: 0px 16px 10px 16px !important;
  }
}
</style>
