<template>
  <v-form @submit.prevent="enviarForm" id="formContato" ref="formContato" lazy-validation>
    <p class="primaryMid--text text-body-joca lato-bold">Nome completo</p>
    <v-text-field
      outlined
      style="border-radius: 8px !important"
      placeholder="Insira seu primeiro nome"
      v-model="form.nome"
      :rules="[
        (v) => !!v || 'Por favor, preencha esse campo',
        (v) => (v ? v.length < 255 || 'Por favor, digite um nome menor' : true),
      ]"
    ></v-text-field>

    <p class="primaryMid--text text-body-joca lato-bold">E-mail</p>
    <v-text-field
      outlined
      style="border-radius: 8px !important"
      placeholder="Insira seu e-mail"
      v-model="form.email"
      :rules="[
        (v) => !!v || 'Por favor, informe um e-mail',
        (v) => /.+@.+/.test(v) || 'E-mail inválido',
      ]"
    ></v-text-field>

    <p class="primaryMid--text text-body-joca lato-bold">Assunto</p>
    <v-text-field
      outlined
      style="border-radius: 8px !important"
      placeholder="Insira o assunto da sua mensagem"
      v-model="form.assunto"
      :rules="[
        (v) => !!v || 'Por favor, preencha esse campo',
        (v) => (v ? v.length < 255 || 'Por favor, digite um assunto menor' : true),
      ]"
    ></v-text-field>

    <p class="primaryMid--text text-body-joca lato-bold">Mensagem</p>
    <v-textarea
      outlined
      style="border-radius: 8px !important"
      placeholder="Escreva sua mensagem"
      v-model="form.mensagem"
      :rules="[(v) => !!v || 'Por favor, preencha esse campo']"
    ></v-textarea>

    <v-row>
      <v-col class="text-center">
        <v-btn
          :loading="loader"
          type="submit"
          color="primaryMid"
          elevation="0"
          large
          rounded
        >
          <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
            Enviar mensagem
          </span>
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      loader: false,
      form: {
        nome: "",
        email: "",
        assunto: "",
        mensagem: "",
      },
    };
  },

  methods: {
    enviarForm() {
      if (this.$refs.formContato.validate()) {
        console.log("POST LIBERADO");
      } else {
        this.$vuetify.goTo("#formContato");
      }
    },
  },
};
</script>
