<template>
  <div id="page-about-josue">
    <div class="bg-header py-5">
      <div class="container">
        <h1 class="text-h3-joca lato-bold primaryMid--text text-center py-4">
          Josué de Castro
        </h1>
      </div>
    </div>
    <div class="container py-7">
      <v-row>
        <v-col cols="12" md="8" sm="12">
          <h2 class="text-h2-joca lato-bold primaryMid--text my-5">Josué de Castro</h2>
          <p class="text-body-2-joca grey1Joca--text">
            Texto explicativo sobre o josué de castro. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi ultrices tincidunt quam a iaculis.
            Pellentesque quis leo porttitor, eleifend orci non, laoreet nunc.Texto
            explicativo sobre o josué de castro. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Morbi ultrices tincidunt quam a iaculis. Pellentesque quis
            leo porttitor, eleifend orci non, laoreet nunc.
          </p>

          <h5 class="grey1Joca--text text-h5-joca lato-bold mt-4 mb-2">Subtítulo</h5>
          <p class="text-body-2-joca grey1Joca--text">
            Texto explicativo sobre o josué de castro. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi ultrices tincidunt quam a iaculis.
            Pellentesque quis leo porttitor, eleifend orci non, laoreet nunc.Texto
            explicativo sobre o josué de castro. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Morbi ultrices tincidunt quam a iaculis. Pellentesque quis
            leo porttitor, eleifend orci non, laoreet nunc.
          </p>

          <h5 class="grey1Joca--text text-h5-joca lato-bold mt-4 mb-2">Subtítulo</h5>
          <p class="text-body-2-joca grey1Joca--text">
            Texto explicativo sobre o josué de castro. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi ultrices tincidunt quam a iaculis.
            Pellentesque quis leo porttitor, eleifend orci non, laoreet nunc.Texto
            explicativo sobre o josué de castro. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Morbi ultrices tincidunt quam a iaculis. Pellentesque quis
            leo porttitor, eleifend orci non, laoreet nunc.
          </p>
        </v-col>
       
        <v-col cols="12" md="4" sm="12" class="mt-7">
          <img src="~/static/images/josue.png" />
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
export default {
  layout: "default",
};
</script>

<style>
#page-about-josue .bg-header {
  background-image: url("../../static/images/bg-padrao-header.jpg");
  background-size: cover;
}
</style>
