<template>
  <div id="sectionQuemFoiJosue">
    <div class="container">
      <v-row>
        <v-col cols="12" md="6" sm="12">
          <img src="../../../static/images/home/quem-e-josue.png" />
        </v-col>
        <v-col cols="12" md="6" sm="12">
          <h3 class="text-h3-joca lato-bold primaryMid--text mb-5">
            Você sabe quem foi Josué de Castro?
          </h3>
          <p class="text-body-joca grey1Joca--text">
            Quando falamos que somos uma “Plataforma de Recursos Educacionais Digitais”,
            entendemos recurso como qualquer tipo de mídia digital utilizada para fins
            educacionais.
          </p>
          <p class="text-body-joca grey1Joca--text mt-4">
            <b>Tipos de recurso</b><br />
            Os recursos podem ter variados formatos ou tipos, na plataforma JOCA você vai
            encontrar: apresentações, artigos, áudios, imagens, livros digitais, PDFs,
            PowerPoint, textos, vídeos e muito mais!
          </p>
          <p class="text-body-joca grey1Joca--text mt-4">
            <b>Organização de recursos</b> <br />
            Além de visualizar e interagir com recursos individuais, você pode também
            organizá-los em uma trilha. Recursos em uma trilha ficam mais acessíveis e
            separados por tema, tanto para você, quanto <b>para outras pessoas</b> na
            plataforma.
          </p>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<style>
@media (max-width: 500px) {
  #sectionQuemFoiJosue img {
    width: 100%;
  }
}
</style>
