<template>
  <div id="bannerHome">
    <v-card class="px-3 py-4">
      <v-row>
        <v-col cols="12" md="3" sm="12">
          <v-row @click="$router.push('/recursos')" class="cursor-pointer">
            <v-col cols="4" class="text-center">
              <img src="../../../static/images/home/ilu-recursos.png" alt="" />
            </v-col>
            <v-col cols="5">
              <h6 class="d-inline primaryMid--text text-h6-joca lato-bold">Recursos</h6>
              <p class="text-body-joca grey2Joca--text">Encontre todo tipo de mídia</p>
            </v-col>
            <v-col cols="3" class="text-center mt-5">
              <img src="../../../static/images/home/dots_icon.png" alt="" />
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="3" sm="12">
          <v-row @click="$router.push('/trilhas')" class="cursor-pointer">
            <v-col cols="4" class="mt-1 text-center">
              <img src="../../../static/images/home/ilu-trilhas.png" alt="" />
            </v-col>
            <v-col cols="6">
              <h6 class="d-inline primaryMid--text text-h6-joca lato-bold">Trilhas</h6>
              <p class="text-body-joca grey2Joca--text">Organize recursos em trilhas</p>
            </v-col>
            <v-col cols="2" class="text-center mt-5">
              <img src="../../../static/images/home/dots_icon.png" alt="" />
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="3" sm="12">
          <v-row @click="$router.push('/pessoas')" class="cursor-pointer">
            <v-col cols="4" class="mt-1 text-center">
              <img src="../../../static/images/home/ilu-pessoas.png" alt="" />
            </v-col>
            <v-col cols="6">
              <h6 class="d-inline primaryMid--text text-h6-joca lato-bold">Pessoas</h6>
              <p class="text-body-joca grey2Joca--text">Siga professores e colegas</p>
            </v-col>
            <v-col cols="2" class="text-center mt-5">
              <img src="../../../static/images/home/dots_icon.png" alt="" />
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="3" sm="12">
          <v-row @click="$router.push('/mural')" class="cursor-pointer">
            <v-col cols="4" class="mt-1 text-center">
              <img src="../../../static/images/home/ilu-mural.png" alt="" />
            </v-col>
            <v-col cols="6">
              <h6 class="d-inline primaryMid--text text-h6-joca lato-bold">Mural</h6>
              <p class="text-body-joca grey2Joca--text">Divulgue informações</p>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<style>
#bannerHome .v-card {
  border-radius: 6px !important;
  box-shadow: 0px 0px 40px rgba(122, 119, 134, 0.1) !important;
}
</style>
