<template>
  <div v-if="info" id="card_numeros">
    <v-card class="px-3 py-5">
      <img :src="require(`../../../static/images/home/${info.img}`)" class="mt-4"  alt="" />
      <h3 class="accent--text text-h3-joca lato-bold mt-3">{{ info.numero }}</h3>
      <p class="text-body-3-joca grey1Joca--text mt-2 mb-4">{{ info.text }}</p>
    </v-card>
  </div>
</template>

<script>
export default {
    props: ["info"]
}
</script>

<style>
#card_numeros .v-card {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
</style>
