<template>
  <div id="page-my-area-people">
    <v-container>
      <v-row justify="center">
        <!-- Seguindo -->
        <v-col cols="12" sm="12" md="12" lg="12">
          <section class="mb-16">
            <h3 class="text-h5-joca lato-bold secondary--text mb-6">
              Seguindo
              <span class="text-h5-joca lato-bold"> {{ '(8)' }} </span>
            </h3>

            <CarouselGlobal>
              <template slot="content">
                <v-card
                  class="mx-auto"
                  outlined
                  max-width="385"
                  rounded="lg"
                  v-for="i in 10"
                  :key="i"
                >
                  <peopleCard @openDialogPeople="openDialogPeople">
                    <template slot="footer-actions">
                      <v-menu offset-y>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            icon
                            v-bind="attrs"
                            v-on="on"
                            color="grey3Joca"
                          >
                            <v-icon>mdi-dots-vertical</v-icon>
                          </v-btn>
                        </template>
                        <v-list class="text-caption-2-joca">
                          <v-list-item @click="openDialogPeople('item.id')">
                            <v-list-item-title class="grey1Joca--text">
                              <span class="text-caption-2-joca">
                                Ver pessoa
                              </span>
                            </v-list-item-title>
                          </v-list-item>

                          <v-list-item @click="followPeoplle('item.id')">
                            <v-list-item-title class="grey1Joca--text">
                              <span class="text-caption-2-joca">Seguir</span>
                            </v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </template>
                  </peopleCard>
                </v-card>
              </template>
            </CarouselGlobal>
          </section>
        </v-col>

        <!-- Seguidores -->
        <v-col cols="12" sm="12" md="12" lg="12">
          <section>
            <h3 class="text-h5-joca lato-bold secondary--text mb-6">
              Seguidores
              <span class="text-h5-joca lato-bold"> {{ '(10)' }} </span>
            </h3>

            <CarouselGlobal>
              <template slot="content">
                <v-card class="mx-auto" outlined max-width="385" rounded="lg">
                  <peopleCard @openDialogPeople="openDialogPeople">
                    <template slot="footer-actions">
                      <!-- Seguir -->
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            icon
                            small
                            class="mx-1"
                            color="grey3Joca"
                            v-bind="attrs"
                            v-on="on"
                            @click="followPeoplle('item.id')"
                          >
                            <v-icon> mdi-account-plus </v-icon>
                          </v-btn>
                        </template>
                        <span>Seguir</span>
                      </v-tooltip>

                      <!-- Deixar de seguir -->
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            icon
                            small
                            class="mx-1"
                            color="success"
                            v-bind="attrs"
                            v-on="on"
                            @click="unfollowPeople('item.id')"
                          >
                            <v-icon> mdi-account-check </v-icon>
                          </v-btn>
                        </template>
                        <span>Deixar de seguir</span>
                      </v-tooltip>

                      <!-- Ver pessoa -->
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            icon
                            small
                            class="mx-1"
                            color="grey3Joca"
                            v-bind="attrs"
                            v-on="on"
                            @click="openDialogPeople('item.id')"
                          >
                            <v-icon>
                              mdi-arrow-top-right-bold-box-outline
                            </v-icon>
                          </v-btn>
                        </template>
                        <span>Ver pessoa</span>
                      </v-tooltip>
                    </template>
                  </peopleCard>
                </v-card>
              </template>
            </CarouselGlobal>
          </section>
        </v-col>
      </v-row>
    </v-container>

    <!-- Dialog People -->
    <v-dialog v-model="dialogPeople" width="1206">
      <v-card>
        <v-card-text class="px-0">
          <ViewProfileModal @close="dialogPeople = false" />
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import CarouselGlobal from '@/components/carousels/CarouselGlobal'
import peopleCard from '@/components/cards/platform/people/PeopleCard'
import ViewProfileModal from '@/components/modals/global/ViewProfileModal.vue'

export default {
  components: { CarouselGlobal, peopleCard, ViewProfileModal },
  data() {
    return {
      dialogPeople: false,
    }
  },

  methods: {
    openDialogPeople(id) {
      console.log(id, 'open modal')
      this.dialogPeople = true
    },
    followPeoplle(id) {
      console.log(id)
    },
    unfollowPeople(id) {
      console.log(id)
    },
  },
}
</script>
