<template>
  <div id="page-geral">
    <!-- Tabela: Content -->
    <div class="grey6Joca">
      <v-container>
        <v-row class="pb-10">
          <v-col cols="12" sm="12" md="12" lg="12">
            <section>
              <v-row>
                <v-col cols="12" md="12" lg="12">
                  <v-breadcrumbs class="pb-0" :items="items">
                    <template v-slot:item="{ item }">
                      <v-breadcrumbs-item
                        :href="item.to"
                        :disabled="item.disabled"
                      >
                        <span
                          :class="
                            item.disabled
                              ? 'secondary--text'
                              : 'primaryMid--text'
                          "
                          >{{ item.text }}</span
                        >
                      </v-breadcrumbs-item>
                    </template>
                  </v-breadcrumbs>

                  <h2
                    class="text-body-joca grey2Joca--text font-weight-regular"
                  >
                    Visão geral sobre as últimas atualizações da JOCA
                  </h2>
                </v-col>
              </v-row>
            </section>
          </v-col>

          <v-col class="pt-5" cols="12">
            <SectionInfos />
          </v-col>

          <v-col class="my-3" cols="12">
            <SectionNav />
          </v-col>

          <v-col class="px-0" cols="12">
            <SectionTables
              title="Últimos pedidos de aprovação de docentes"
              subtitle="Lista de recursos publicados mais recentes, sejam eles visíveis ou não."
            >
              <div slot="table">
                <PeopleTable
                  :isAprovalTeacher="true"
                  @openTrail="modalViewTrailOpened = true"
                  @privateToggle="openDialogInfo()"
                  @deleteTrail="openDialogError()"
                  :paginate="{}"
                >
                  <div class="py-10 text-center" slot="footer">
                    <template>
                      <v-btn
                        depressed
                        rounded
                        color="info"
                        class="btn-info-joca mb-2"
                        to="/painel-de-controle/aprovacao-de-docentes"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          VER TODOS
                        </span>
                      </v-btn>
                    </template>
                  </div>
                </PeopleTable>
              </div>
            </SectionTables>
          </v-col>

          <v-col class="px-0" cols="12">
            <SectionTables
              title="Últimos recursos cadastrados"
              subtitle="Lista de recursos publicados mais recentes, sejam eles visíveis ou não."
            >
              <div slot="table">
                <ResourceTable>
                  <div class="py-10 text-center" slot="footer">
                    <template>
                      <v-btn
                        depressed
                        rounded
                        color="info"
                        class="btn-info-joca mb-2"
                        to="/painel-de-controle/recursos"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          VER TODOS
                        </span>
                      </v-btn>
                    </template>
                  </div>
                </ResourceTable>
              </div>
            </SectionTables>
          </v-col>

          <v-col class="px-0" cols="12">
            <SectionTables
              title="Últimas trilhas cadastradas"
              subtitle="Lista de trilhas publicadas mais recentes, sejam elas visíveis ou não."
            >
              <div slot="table">
                <TrailsTable>
                  <div class="py-10 text-center" slot="footer">
                    <template>
                      <v-btn
                        depressed
                        rounded
                        color="info"
                        class="btn-info-joca mb-2"
                        to="/painel-de-controle/trilhas"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          VER TODOS
                        </span>
                      </v-btn>
                    </template>
                  </div>
                </TrailsTable>
              </div>
            </SectionTables>
          </v-col>

          <v-col class="px-0" cols="12">
            <SectionTables
              title="Últimas divulgações publicadas"
              subtitle="Lista das últimas divulgações publicadas no mural."
            >
              <div slot="table">
                <MuralTable
                  @openTrail="modalViewTrailOpened = true"
                  @privateToggle="openDialogInfo()"
                  @deleteTrail="openDialogError()"
                  :paginate="{}"
                >
                  <div class="py-10 text-center" slot="footer">
                    <template>
                      <v-btn
                        depressed
                        rounded
                        color="info"
                        class="btn-info-joca mb-2"
                        to="/painel-de-controle/mural"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          VER TODOS
                        </span>
                      </v-btn>
                    </template>
                  </div>
                </MuralTable>
              </div>
            </SectionTables>
          </v-col>
          <v-col class="px-0" cols="12">
            <SectionTables
              title="Últimas pessoas cadastradas"
              subtitle="Lista das últimas pessoas cadastradas na plataforma."
            >
              <div slot="table">
                <PeopleTable
                  @openTrail="modalViewTrailOpened = true"
                  @privateToggle="openDialogInfo()"
                  @deleteTrail="openDialogError()"
                  :paginate="{}"
                >
                  <div class="py-10 text-center" slot="footer">
                    <template>
                      <v-btn
                        depressed
                        rounded
                        color="info"
                        class="btn-info-joca mb-2"
                        to="/painel-de-controle/pessoas"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          VER TODOS
                        </span>
                      </v-btn>
                    </template>
                  </div>
                </PeopleTable>
              </div>
            </SectionTables>
          </v-col>

          <v-col class="px-0" cols="12">
            <SectionTables
              title="Últimas denúncias recebidas"
              subtitle="Lista das últimas denúncias recebidas na plataforma."
            >
              <div slot="table">
                <DenounceTable
                  @openTrail="modalViewTrailOpened = true"
                  @privateToggle="openDialogInfo()"
                  @deleteTrail="openDialogError()"
                  :paginate="{}"
                >
                  <div class="py-10 text-center" slot="footer">
                    <template>
                      <v-btn
                        depressed
                        rounded
                        color="info"
                        class="btn-info-joca mb-2"
                        to="/painel-de-controle/denuncias"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          VER TODOS
                        </span>
                      </v-btn>
                    </template>
                  </div>
                </DenounceTable>
              </div>
            </SectionTables>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import TrailsTable from '@/components/tables/painel-de-controle/trilhas/TrailsTable.vue'
import PeopleTable from '@/components/tables/painel-de-controle/pessoas/PeopleTable.vue'
import ResourceTable from '@/components/tables/painel-de-controle/recursos/ResourceTable.vue'
import MuralTable from '@/components/tables/painel-de-controle/mural/MuralTable.vue'
import DenounceTable from '@/components/tables/painel-de-controle/denuncias/DenounceTable.vue'

import SectionInfos from '@/components/sections/painel-de-controle/geral/SectionInfos.vue'
import SectionNav from '@/components/sections/painel-de-controle/geral/SectionNav.vue'
import SectionTables from '@/components/sections/painel-de-controle/geral/SectionTables.vue'
export default {
  data() {
    return {
      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          to: '/painel-de-controle/geral',
        },
        {
          text: 'Geral',
          disabled: true,
          to: '/painel-de-controle/geral',
        },
      ],
    }
  },

  components: {
    TrailsTable,
    PeopleTable,
    ResourceTable,
    SectionInfos,
    SectionNav,
    SectionTables,
    MuralTable,
    DenounceTable,
  },
}
</script>
