<template>
  <div id="header-form">
    <v-container class="px-0 py-0" fluid>
      <v-row class="header-secao">
        <v-col class="text-center" cols="12">
          <h3 class="text-h3-joca lato-bold primaryMid--text">
            {{ title }}
          </h3>
          <slot name="stepper">
          </slot>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  props: ['title'],
}
</script>

<style>
#header-form .header-secao {
  background-image: url('@/assets/imgs/imagens-de-fundo/header-seção-publicar.png');
  background-position: center;
  background-size: cover;
  padding: 62px 0px;
}
</style>
