<template>
  <v-row id="profile_header">
    <v-col cols="12" sm="12" md="4" lg="4">
      <div
        @click="area_user ? $refs.imageProfile.click() : ''"
        class="d-flex justify-center align-center avatar-background pt-6 pb-6"
        :class="area_user ? 'cursor-pointer' : ''"
      >
        <template v-if="area_user">
          <v-badge bottom icon="mdi-camera" offset-x="50" offset-y="30">
            <v-avatar color="accent" size="123px" class="mr-5">
              <!-- deixar essa imagem padrao se nao tiver foto de usuario -->
              <img src="~static/images/avatar-perfil.png" />
            </v-avatar>
          </v-badge>

          <input
            type="file"
            accept="image/*"
            ref="imageProfile"
            hidden
            @change="changeimageProfile"
          />
        </template>
        <template v-else>
          <v-avatar color="accent" size="123px" class="mr-5">
            <!-- deixar essa imagem padrao se nao tiver foto de usuario -->
            <img src="~static/images/avatar-perfil.png" />
          </v-avatar>
        </template>
      </div>
    </v-col>
    <v-col class="pb-0" cols="12" sm="12" md="8" lg="7">
      <v-row>
        <v-col cols="12">
          <div class="d-flex flex-column">
            <span class="text-body-joca lato-black info--text"> {{ "DOCENTE" }}</span>
            <v-row>
              <v-col class="pn-0" cols="12" sm="9" md="9" lg="9">
                <div class="d-flex align-center">
                  <span class="lato-black primary--text text-h5-joca">{{
                    "Márcia Peixoto"
                  }}</span>
                  <v-icon v-if="!area_user" color="grey3Joca" class="ml-4 mr-2"
                    >mdi-share-variant</v-icon
                  >
                  <v-icon v-if="!area_user" color="grey3Joca">mdi-alert-circle</v-icon>
                </div>
              </v-col>
              <v-col class="pt-0" cols="6" sm="3" md="3" lg="3">
                <v-btn
                  v-if="!area_user"
                  width="100%"
                  rounded
                  depressed
                  color="primaryMid"
                  class="white--text"
                >
                  <v-icon left>mdi-account-plus</v-icon>s
                  <span class="text-caption-1-joca open-sans-bold">Seguir</span>
                </v-btn>

                <v-btn v-else rounded depressed outlined color="primaryMid">
                  <span class="text-caption-1-joca open-sans-bold"
                    >Ver perfil público</span
                  >
                </v-btn>
              </v-col>
              <v-col cols="12">
                <div
                  class="text-caption-1-joca primaryMid--text"
                  style="text-transform: initial"
                >
                  Participa da JOCA desde {{ "20/10/21" }}
                </div>
                <div
                  class="text-caption-1-joca open-sans-regular info--text mt-2"
                  style="text-transform: initial"
                >
                  {{ 0 }} seguidores {{ 12 }} seguindo
                </div>
              </v-col>

              <v-col class="pb-1" cols="12">
                <slot name="tab"> </slot>
              </v-col>
            </v-row>
          </div>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
export default {
  props: ["area_user"],

  methods: {
    changeimageProfile(image) {
      let form = new FormData();
      form.append("documents", image.target.files[0]);

      console.log(image.target.files[0], "fazer POST");
    },
  },
};
</script>
<style>
.avatar-background {
  background-image: url("@/assets/imgs/imagens-de-fundo/perfil-background.png");
  background-position: center;
}
</style>
