<template>
  <v-card id="trail-header" width="100%" elevation="0" color="grey6Joca">
    <v-row>
      <v-col cols="12" sm="5" md="4" lg="3">
        <v-img
          class="image"
          width="100%"
          src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
        ></v-img>
      </v-col>

      <v-col class="resource-content" cols="12" sm="7" md="5" lg="7">
        <v-row align="center">
          <v-col cols="12" sm="12" md="12">
            <span class="text-body-joca lato-black info--text">3 RECURSOS</span>
          </v-col>
          <v-col class="pt-0" cols="12" sm="12" md="12">
            <span class="text-h5-joca lato-black primary--text"> Frutas na cozinha </span>
          </v-col>
          <v-col class="pt-0" cols="12" sm="6" md="6" lg="4">
            <span class="text-caption-2-joca primaryMid--text"
              >Organizada em 01/01/2022</span
            >
          </v-col>
          <v-col class="pt-0 pr-0" cols="12" sm="6" md="6" lg="4">
            <div class="d-flex align-center">
              <v-rating
                :value="0"
                background-color="warningLight"
                color="warningLight"
                dense
                readonly
                size="23"
              ></v-rating>
              <span class="text-caption-2-joca grey3Joca--text open-sans-regular"
                >0 (0)</span
              >
            </div>
          </v-col>
          <v-col class="pt-0" cols="12" sm="4" md="6" lg="4">
            <div class="d-flex align-center">
              <div class="d-flex align-center mr-2">
                <v-icon color="grey3Joca">mdi-heart</v-icon>
                <span class="text-caption-2-joca grey3Joca--text open-sans-regular"
                  >(0)</span
                >
              </div>

              <v-icon color="grey3Joca" class="mr-2">mdi-bookmark</v-icon>

              <v-icon @click="$emit('shareTrail')" color="grey3Joca" class="mr-2 cursor-pointer">mdi-share-variant</v-icon>

              <v-icon color="grey3Joca">mdi-alert-circle</v-icon>
            </div>
          </v-col>
        </v-row>
      </v-col>

      <v-col class="px-0" cols="12" sm="12" md="3" lg="2">
        <div class="d-flex align-center justify-center fill-height full-width">
          <div class="px-5 avatar-content">
            <slot name="right-side"></slot>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style>
#trail-header .avatar-content {
  border-left: 0.5px solid #1cc4bc;
}

#trail-header .image {
  border-radius: 5px;
}

@media (max-width: 959px) {
  #trail-header .avatar-content {
    border-left: 0;
  }
}
</style>
