<template>
  <div>
    <v-form>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <span class="text-body-joca primaryMid--text lato-black"
            >Remoção de recurso</span
          >
          <v-checkbox
            label="O recurso viola os direitos autorais."
            color="info"
            value="info"
            hide-details
          ></v-checkbox>
          <v-checkbox
            label="O recurso contém conteúdo ofensivo/abusivo."
            color="info"
            value="info"
            hide-details
          ></v-checkbox>
          <v-checkbox
            label="A descrição do recurso não corresponde ao seu conteúdo."
            color="info"
            value="info"
            hide-details
          ></v-checkbox>
          <v-checkbox
            label="O arquivo está corrompido."
            color="info"
            value="info"
            hide-details
          ></v-checkbox>
          <v-checkbox
            label="Outros."
            color="info"
            value="info"
            hide-details
          ></v-checkbox>
        </v-col>

        <v-col cols="12" sm="12" md="12">
          <div class="text-body-joca primaryMid--text pb-2">
            <span class="lato-black mr-1">Informações adicionais</span>
            (opcional)
          </div>
          <span class="text-body-joca"
            >Caso necessário, utilize o campo abaixo para descrever melhor a
            situação da denúncia:</span
          >
          <v-textarea
            class="mt-2"
            color="grey3Joca"
            outlined
            auto-grow
            hide-details
          ></v-textarea>
        </v-col>

        <template v-if="isEdit">
          <v-col cols="12" sm="5" md="4" lg="4" class="pt-2">
            <div class="d-flex flex-column text-body-joca">
              <span class="primaryMid--text lato-black">Removido por</span>
              <div class="pt-2">
                Márcia Peixoto
                <v-icon size="24px" color="secondary"
                  >mdi-arrow-top-right-bold-box-outline</v-icon
                >
              </div>
            </div>
          </v-col>

          <v-col cols="12" sm="7" md="8" lg="8">
            <div class="d-flex flex-column text-body-joca">
              <span class="primaryMid--text lato-black">Data de remoção</span>
              <div class="pt-2">01/01/2022</div>
            </div>
          </v-col>

          <v-col cols="12">
            <div class="d-flex flex-column text-body-joca">
              <span class="primaryMid--text lato-black">Recurso removido</span>
              <div class="pt-2">
                O que é a Nutrição? O que são alimentos sauda...
                <v-icon size="24px" color="secondary"
                  >mdi-arrow-top-right-bold-box-outline</v-icon
                >
              </div>
            </div>
          </v-col>
        </template>
      </v-row>

      <v-row>
        <v-col cols="12" sm="12" md="12" class="text-center py-6">
          <slot name="action-secondary"> </slot>

          <v-btn
            depressed
            rounded
            color="error"
            class="btn-primary-joca mr-3 mb-3"
          >
            <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
              EXCLUIR RECURSO
            </span>
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>
<script>
export default {
  props: ['isEdit'],
}
</script>
