<template>
  <div id="page-people-detail">
    <!-- Header page -->
    <v-container class="mb-5">
      <v-row>
        <v-col cols="12" md="12" lg="5">
          <v-breadcrumbs
            :items="items"
            class="panel-breadcrumbs pb-0"
          ></v-breadcrumbs>

          <h2 class="text-body-joca grey2Joca--text font-weight-regular">
            Visão do perfil da pessoa selecionada
          </h2>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="7">
          <div class="h-100 d-flex justify-end mobile-xs-column align-center">
            <v-btn
              outlined
              rounded
              color="primaryMid"
              class="btn-info-outlined-joca mt-4"
              :to="'/painel-de-controle/pessoas/editar/' + paramsId"
              exact
            >
              <span class="text-caption-1-joca open-sans-bold"> Editar </span>
            </v-btn>

            <v-btn
              outlined
              rounded
              color="error"
              class="btn-info-outlined-joca mx-4 mt-4"
              @click="deletePeople(paramsId)"
              exact
            >
              <span class="text-caption-1-joca open-sans-bold"> Excluir </span>
            </v-btn>

            <v-btn
              @click="dialogRegister = true"
              depressed
              rounded
              color="primaryMid"
              class="btn-primary-joca mt-4"
              to="/painel-de-controle/pessoas"
              exact
            >
              <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                Voltar
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <v-container fluid class="px-0 pb-0">
      <v-row>
        <v-col cols="12" md="12" lg="12">
          <ViewProfileModal :isPage="true" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import ViewProfileModal from '@/components/modals/global/ViewProfileModal.vue'

export default {
  components: { ViewProfileModal },
  data() {
    return {
      paramsId: null,
      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          exact: false,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Pessoas',
          exact: true,
          disabled: false,
          to: '/painel-de-controle/pessoas',
          color: '',
        },
        {
          text: 'Visualização',
          exact: true,
          disabled: true,
          to: '/painel-de-controle/pessoas/ver-detalhes',
          color: '',
        },
      ],
    }
  },

  mounted() {
    this.paramsId = this.$route.params.id
  },

  methods: {
    deletePeople(id) {
      console.log(id)

      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir o perfil selecionado? Essa ação não poderá ser desfeita e a pessoa perderá o acesso à JOCA.',
        title: 'Deseja excluir o perfil selecionado?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'SIM, EXCLUIR', color: 'errorLight', key: false },
          { text: 'CANCELAR', color: 'error', key: false },
        ],
      })
    },
  },
}
</script>
