<template>
  <v-card elevation="0" class="pb-5">
    <v-card-text class="grey6Joca">
      <v-row justify="center">
        <v-col cols="12" sm="12" lg="12">
          <div class="d-flex justify-end pt-2">
            <v-icon
              v-if="!isPage"
              @click.stop.prevent="$emit('close')"
              color="grey3Joca"
              >mdi-close</v-icon
            >
          </div>
        </v-col>
        <v-col cols="12" sm="12" lg="10">
          <ProfileHeader>
            <div slot="tab">
              <template>
                <v-tabs
                  show-arrows
                  color="secondary"
                  v-model="tab"
                  background-color="transparent"
                >
                  <v-tabs-slider color="secondary"></v-tabs-slider>

                  <v-tab
                    v-for="item in items"
                    :key="item"
                    class="open-sans-bold px-0"
                  >
                    {{ item }}
                  </v-tab>
                </v-tabs>
              </template>
            </div>
          </ProfileHeader>
        </v-col>
      </v-row>
    </v-card-text>

    <v-card-text>
      <v-row class="pt-10" justify="center">
        <v-col cols="12" sm="11" md="10" lg="10">
          <v-tabs-items v-model="tab">
            <v-tab-item>
              <v-row>
                <v-col cols="12" lg="12">
                  <span class="text-h5-joca lato-black secondary--text"
                    >Sobre</span
                  >
                  <p
                    class="text-body-joca grey1Joca--text open-sans-regular mt-2"
                  >
                    Oi gente! Dou aula para a graduação e a pós da Nutrição.
                    Qualquer coisa enviem um e-mail com nome e assunto para
                    marcia@nutrição.ufrj.br. Abraços!
                  </p>
                </v-col>

                <v-col cols="12" lg="12">
                  <span class="text-h5-joca lato-black secondary--text">
                    Últimos recursos publicados
                  </span>
                  <v-slide-group class="mt-4">
                    <v-slide-item v-for="n in 5" :key="n" class="mb-1 px-0">
                      <ResourceCard
                        class="mr-2"
                        @viewResource="viewResource"
                        @privateToggle="privateToggle"
                        @deleteResource="deleteResource"
                      />
                    </v-slide-item>
                  </v-slide-group>
                </v-col>

                <v-col cols="12" lg="12">
                  <span class="text-h5-joca lato-black secondary--text">
                    Últimas trilhas organizadas
                  </span>
                  <v-slide-group class="mt-4">
                    <v-slide-item v-for="n in 5" :key="n" class="mb-1">
                      <TrailCard class="mr-2" />
                    </v-slide-item>
                  </v-slide-group>
                </v-col>
              </v-row>
            </v-tab-item>

            <v-tab-item> 2 </v-tab-item>
          </v-tabs-items>
        </v-col>
      </v-row>
    </v-card-text>

    <!-- Dialog - Ver recursos -->
    <v-dialog v-model="modalViewResourceOpened" persistent max-width="1207px">
      <ViewResourceModal
        @close="modalViewResourceOpened = false"
      />
    </v-dialog>
  </v-card>
</template>

<script>
import ResourceCard from '@/components/cards/painel-de-controle/recursos/ResourceCard.vue'
import TrailCard from '@/components/cards/painel-de-controle/trilhas/TrailCard.vue'
import ViewResourceModal from '@/components/modals/painel-de-controle/recursos/ViewResourceModal.vue'
import ProfileHeader from '@/components/header/global/ProfileHeader.vue'
export default {
  props: ['isPage'],
  components: {
    ResourceCard,
    TrailCard,
    ViewResourceModal,
    ProfileHeader
  },

  data() {
    return {
      model: null,
      selection: 1,
      modalViewResourceOpened: false,
      tab: null,
      items: ['Geral', 'Recursos', 'Trilhas', 'Pessoas'],
    }
  },

  methods: {
    viewResource() {
      this.modalViewResourceOpened = true
    },
    privateToggle() {
      console.log('privar recuros')
    },
    deleteResource() {
      console.log('deletar recurso')
    },
  },
}
</script>


