<template>
  <div id="page-criar">
    <v-row>
      <v-col class="pb-0" cols="12" sm="12" md="12" lg="12">
        <section>
          <v-container class="pb-5 pt-5">
            <v-row>
              <v-col cols="12" sm="6" md="6" lg="5">
                <v-breadcrumbs
                  :items="items"
                  class="panel-breadcrumbs pb-0"
                ></v-breadcrumbs>

                <h2 class="text-body-joca grey2Joca--text font-weight-regular">
                  Crie um novo recurso
                </h2>
              </v-col>

              <v-col cols="12" sm="6" md="6" lg="7">
                <div class="h-100 d-flex justify-end mobile-xs-column align-center">
                  <v-btn @click.stop.prevent="$router.push('/painel-de-controle/recursos')" depressed rounded color="primary" class="btn-primary-joca mt-4">
                    <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                      Voltar
                    </span>
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-container>
          <v-container class="px-0" fluid>
            <FormsHeader title="Publicação de Recurso">
              <template v-slot:stepper>
                <v-container>
                  <v-stepper v-model="stepper" alt-labels flat id="stepperElement" class="mt-2">
                    <v-stepper-header class="shadow-joca">
                      <v-stepper-step
                        :color="
                          stepper > 1 ? 'secondaryLight' : stepper === 1 ? 'secondary' : 'grey3Joca'
                        "
                        :complete="stepper > 1 ? true : false"
                        step="1"
                        id="step1"
                      >
                        <p
                          class="text-body-4 mb-0"
                          :class="
                            stepper > 1 ? 'secondaryLight--text' : stepper === 1 ? 'secondary--text' : 'grey3Joca--text'
                          "
                        >
                          Dados Gerais
                        </p>
                      </v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step
                        :color="
                          stepper > 2 ? 'secondaryLight' : stepper === 2 ? 'secondary' : 'grey3Joca'
                        "
                        step="2"
                        :complete="stepper > 2 ? true : false"
                      >
                        <p
                          class="text-body-4 mb-0"
                          :class="
                            stepper > 2 ? 'secondaryLight--text' : stepper === 2 ? 'secondary--text' : 'grey3Joca--text'
                          "
                        >
                          Especificações
                        </p>
                      </v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step
                        :color="
                          stepper > 3 ? 'secondaryLight' : stepper === 3 ? 'secondary' : 'grey3Joca'
                        "
                        step="3"
                        :complete="stepper > 3 ? true : false"
                      >
                        <p
                          class="text-body-4 mb-0"
                          :class="
                            stepper > 3 ? 'secondaryLight--text' : stepper === 3 ? 'secondary--text' : 'grey3Joca--text'
                          "
                        >
                          Prévia
                        </p>
                      </v-stepper-step>
                    </v-stepper-header>
                  </v-stepper>
                </v-container>
              </template>
            </FormsHeader>
          </v-container>
        </section>
      </v-col>

      <v-col class="whiteJoca pt-5" cols="12" sm="12" md="12" lg="12">
        <section><!-- step 1 criação de recurso -->
            <CreateResourceStep1 v-if="stepper === 1" @cancel="$router.push('/painel-de-controle/recursos')" @nextStep="next" :dados_gerais="dados_gerais" :updating="updating" @deleteResource="deleteResource"/>
            <CreateResourceStep2 v-if="stepper === 2" @cancel="$router.push('/painel-de-controle/recursos')" @back="stepper--" @nextStep="next" :dados_especificacoes="dados_especificacoes" :updating="updating" @deleteResource="deleteResource" :trilhas="trilhas" :eixos_tematicos="eixos_tematicos"/>
            <CreateResourceStep3 v-if="stepper === 3" @cancel="$router.push('/painel-de-controle/recursos')" @back="stepper--" :dados_gerais="dados_gerais" :dados_especificacoes="dados_especificacoes" :updating="updating" @deleteResource="deleteResource" :eixos_tematicos="eixos_tematicos"/>
        </section>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import FormsHeader from '@/components/header/global/FormsHeader.vue'
import CreateResourceStep1 from '@/components/steppers/painel-de-controle/Resource/CreateResourceStep1.vue'
import CreateResourceStep2 from '@/components/steppers/painel-de-controle/Resource/CreateResourceStep2.vue'
import CreateResourceStep3 from '@/components/steppers/painel-de-controle/Resource/CreateResourceStep3.vue'
export default {
  layout: 'control-panel',
  data() {
    return {
      stepper: 1,
      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          exact: true,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Recursos',
          disabled: false,
          exact: true,
          to: '/painel-de-controle/recursos',
          color: 'primaryMid',
        },
        {
          text: 'Criar recurso',
          disabled: true,
          exact: true,
          to: '/painel-de-controle/recursos/criar',
          color: '',
        },
      ]
    }
  },

  components: {
    FormsHeader,
    CreateResourceStep1,
    CreateResourceStep2,
    CreateResourceStep3
  },

  watch: {
    // sempre que alterar o stepper rola a pagina para o inicio do formulario
    stepper() {
      this.$vuetify.goTo('#stepperElement')
    }
  },
  async asyncData ({ app, params, redirect }) {
    let dados_gerais =  null
    let dados_especificacoes =  null
    let updating = false
    let trilhas = []
    let eixos_tematicos = []

    const getEixos = await app.$axios.get(`/eixos-tematicos?not_paginate=1`).catch(() => {
      console.log('cadastre eixos')
    })
    
    if(getEixos.data){
      eixos_tematicos = getEixos.data
    }

    const getTrilhas = await app.$axios.get(`/trilhas?not_paginate=1`).catch(() => {
      console.log('cadastre trilhas')
    })

    const listaTrilhas = getTrilhas.data
    if(listaTrilhas.data){
      trilhas = listaTrilhas.data.map((v) => {
        return {
          value: v.id,
          text: v.titulo
        }
      })
    }

    const tipo_de_recursos = app.store.getters['config/getTiposRecurso']
    if(!tipo_de_recursos.length){
      const getRecursos = await app.$axios.get(`/tipo-de-recursos?not_paginate=1`).catch(() => {
        console.log('cadastre tipo de recursos')
      })
      
      const tipos = getRecursos.data
      if(tipos.data){
        app.store.commit('config/addTiposRecurso', tipos.data)
      }
    }
    
    if (params.criar !== 'criar'){ // Puxando dados para edição
      const envio = await app.$axios.get(`/recursosses/${params.criar}`).catch(() => {
         redirect('/painel-de-controle/recursos')
      })
      const dados = envio.data
      if(dados.data){
        updating = true
        dados_gerais = {
          title: dados.data.title,
          description: dados.data.descricao,
          keyword: dados.data.palavras_chave,
          author: dados.data.autoria,
          co_author: dados.data.co_autoria,
          license: dados.data.licenca,
          externalLinks: dados.data.links,
          files: [],
          miniature: null,
          previewMiniature: dados.data.image
        }

        const tipos_recurso = dados.data.tipos_recurso.map((v) => {
          return v.id
        })

        const recursos_trilhas = dados.data.recursos_trilhas.map((v) => {
          return {
            value: v.id,
            text: v.titulo
          }
        })

        let eixos = []
        if(dados.data.eixo_tematicos){
          eixos = dados.data.eixo_tematicos.map((v) => {
            return v.id
          })
        }

        dados_especificacoes = {
          eixos: eixos,
          areas: dados.data.sugerido_para,
          tipos: tipos_recurso,
          language: dados.data.idioma,
          visibility: dados.data.visibility.toString(),
          trilha: recursos_trilhas
        }
      }
    }

    return {dados_gerais, dados_especificacoes, updating, trilhas, eixos_tematicos}
  },
  created () {
  },
  methods: {
    async deleteResource () {
      const res = await this.$dialog.confirm({
        text: '',
        title: 'Deseja realmente excluir este recurso?',
        icon: 'mdi-checkbox-marked-circle',
        width: '800px',
        actions: [
          { text: 'CANCELAR', color: 'grey', key: 0 },
          { text: 'SIM, EXCLUIR', color: 'info', key: 1 },
        ],
      })
      if(res === 1){
        this.$axios.delete(`/recursosses/${this.$route.params.criar}`).then((r) => {
          if (r.data){
            this.$dialog.confirm({
              text: '',
              title: 'Recurso excluído com sucesso!',
              icon: 'mdi-checkbox-marked-circle',
              width: '800px',
              actions: [
                { text: 'MAIS TARDE', color: 'grey', key: 0 },
                { text: 'SIM, COMPLETAR', color: 'info', key: 1 },
              ],
            })
            this.$router.push('/painel-de-controle/recursos')
          }
        }).catch((e) => {
          this.$dialog.error({
            text: '',
            title: e.response.data.msg,
            icon: 'mdi-close-circle',
            width: '800px',
            actions: [{ text: 'Fechar', color: 'grey', key: false }],
          })
        })
      }
    },
    next (val) {
      if(val.tipo === 'dados_gerais'){
        this.dados_gerais = val.dados
      } else if(val.tipo === 'especificacoes'){
        this.dados_especificacoes = val.dados
      }
      this.stepper++
    }
  }
}
</script>
