<template>
  <div id="page-criar">
    <v-row>
      <v-col class="pb-0" cols="12" sm="12" md="12" lg="12">
        <section>
          <v-container class="pb-5 pt-5">
            <v-row>
              <v-col cols="12" sm="6" md="6" lg="5">
                <v-breadcrumbs
                  :items="items"
                  class="panel-breadcrumbs pb-0"
                ></v-breadcrumbs>

                <h2 class="text-body-joca grey2Joca--text font-weight-regular">
                  Altere as informações do recurso selecionado
                </h2>
              </v-col>

              <v-col cols="12" sm="6" md="6" lg="7">
                <div class="h-100 d-flex justify-end mobile-xs-column align-center">
                  <v-btn @click.stop.prevent="$router.push('/painel-de-controle/recursos/ver-detalhes/1')" depressed rounded color="primary" class="btn-primary-joca mt-4">
                    <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                      VISUALIZAR RECURSO
                    </span>
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-container>
          <v-container class="px-0" fluid>
            <FormsHeader title="Edição de Recurso">
              <template v-slot:stepper>
                <v-container>
                  <v-stepper
                    v-model="stepper"
                    alt-labels
                    flat
                    id="stepperElement"
                    class="mt-2"
                  >
                    <v-stepper-header class="shadow-joca">
                      <v-stepper-step
                        :color="
                          stepper > 1
                            ? 'secondaryLight'
                            : stepper === 1
                            ? 'secondary'
                            : 'grey3Joca'
                        "
                        :complete="stepper > 1 ? true : false"
                        step="1"
                        id="step1"
                      >
                        <p
                          class="text-body-4 mb-0"
                          :class="
                            stepper > 1
                              ? 'secondaryLight--text'
                              : stepper === 1
                              ? 'secondary--text'
                              : 'grey3Joca--text'
                          "
                        >
                          Dados Gerais
                        </p>
                      </v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step
                        :color="
                          stepper > 2
                            ? 'secondaryLight'
                            : stepper === 2
                            ? 'secondary'
                            : 'grey3Joca'
                        "
                        step="2"
                        :complete="stepper > 2 ? true : false"
                      >
                        <p
                          class="text-body-4 mb-0"
                          :class="
                            stepper > 2
                              ? 'secondaryLight--text'
                              : stepper === 2
                              ? 'secondary--text'
                              : 'grey3Joca--text'
                          "
                        >
                          Especificações
                        </p>
                      </v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step
                        :color="
                          stepper > 3
                            ? 'secondaryLight'
                            : stepper === 3
                            ? 'secondary'
                            : 'grey3Joca'
                        "
                        step="3"
                        :complete="stepper > 3 ? true : false"
                      >
                        <p
                          class="text-body-4 mb-0"
                          :class="
                            stepper > 3
                              ? 'secondaryLight--text'
                              : stepper === 3
                              ? 'secondary--text'
                              : 'grey3Joca--text'
                          "
                        >
                          Prévia
                        </p>
                      </v-stepper-step>
                    </v-stepper-header>
                  </v-stepper>
                </v-container>
              </template>
            </FormsHeader>
          </v-container>
        </section>
      </v-col>

      <v-col class="whiteJoca pt-5" cols="12" sm="12" md="12" lg="12">
        <section>
            <!-- step 1 criação de recurso -->
          <CreateResourceStep1 v-if="stepper === 1" @cancel="$router.push('/painel-de-controle/recursos')" @nextStep="stepper++" :updating="true" @deleteResource="openDialogError()" />
          <CreateResourceStep2 v-if="stepper === 2" @cancel="$router.push('/painel-de-controle/recursos')" @back="stepper--" @nextStep="stepper++" :updating="true" @deleteResource="openDialogError()" />
          <CreateResourceStep3 v-if="stepper === 3" @cancel="$router.push('/painel-de-controle/recursos')" @back="stepper--" :updating="true" @deleteResource="openDialogError()" />
        </section>
      </v-col>

    </v-row>
  </div>
</template>
<script>

import FormsHeader from '@/components/header/global/FormsHeader.vue'
import CreateResourceStep1 from '@/components/steppers/painel-de-controle/Resource/CreateResourceStep1.vue'
import CreateResourceStep2 from '@/components/steppers/painel-de-controle/Resource/CreateResourceStep2.vue'
import CreateResourceStep3 from '@/components/steppers/painel-de-controle/Resource/CreateResourceStep3.vue'

export default {
  layout: 'control-panel',
  data() {
    return {
      stepper: 1,
      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          exact: true,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Recursos',
          disabled: false,
          exact: true,
          to: '/painel-de-controle/recursos',
          color: 'primaryMid',
        },
        {
          text: 'Edição',
          disabled: true,
          exact: true,
          to: '/painel-de-controle/recursos/editar',
          color: '',
        },
      ],
    }
  },

  components: {
    CreateResourceStep1,
    CreateResourceStep2,
    CreateResourceStep3,
    FormsHeader
  },

  watch: {
    // sempre que alterar o stepper rola a pagina para o inicio do formulario
    stepper() {
      this.$vuetify.goTo('#stepperElement')
    }
  },

}
</script>
