<template>
  <div id="page-sd">
    <!-- Tabela: Content -->
    <div class="grey6Joca">
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12">
            <section class="pb-10 pt-5">
              <v-row>
                <v-col cols="12" md="12" lg="5">
                  <v-breadcrumbs
                    :items="items"
                    class="panel-breadcrumbs pb-0"
                  ></v-breadcrumbs>

                  <h2 class="text-body-joca grey2Joca--text font-weight-regular">
                    Todos os recursos da plataforma
                  </h2>
                </v-col>

                <v-col cols="12" sm="12" md="12" lg="7">
                  <div class="h-100 d-flex justify-end mobile-xs-column align-center">
                    <SearchInput
                      color="primaryMid"
                      placeholder="Busque por recursos no painel"
                      style="max-width: 322px"
                      class="mt-4 input-search-primary w-100"
                    />

                    <v-btn
                      outlined
                      rounded
                      color="info"
                      class="btn-info-outlined-joca mx-4 mt-4"
                    >
                      <v-icon left> mdi-file-export-outline </v-icon>
                      <span class="text-caption-1-joca open-sans-bold">
                        EXPORTAR DADOS
                      </span>
                    </v-btn>

                    <v-btn
                      @click.stop.prevent="$router.push('/painel-de-controle/recursos/criar')"
                      depressed
                      rounded
                      color="primaryMid"
                      class="btn-primary-joca mt-4"
                    >
                      <v-icon left class="whiteJoca--text"> mdi-plus </v-icon>
                      <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                        PUBLICAR RECURSO
                      </span>
                    </v-btn>
                  </div>
                </v-col>

                <!-- Botao ver filtros -->
                <v-col cols="12" class="pb-5">
                  <v-row justify="start" justify-lg="end">
                    <v-btn depressed @click.stop.prevent="showFilters = !showFilters" class="text-transform-none" text>
                      <span class="primaryMid--text open-sans-regular text-body-3-joca">Ver filtros</span>
                      <v-icon color="info"> {{showFilters ? ' mdi-chevron-up' :'mdi-chevron-down'}} </v-icon>
                    </v-btn>
                  </v-row>
                </v-col>

                <!-- filtros -->
                <v-col class="pb-7" v-if="showFilters" cols="12">
                  <section>
                    <FiltersSection />
                  </section>
                </v-col>

                <!-- Sessão de ordenação -->
                <v-col class="pb-7" cols="12">
                  <v-row align="center">
                    <v-col order="2" order-sm="2" order-md="2" order-lg="1" cols="12" sm="12" md="12" lg="3">
                      <span class="text-body-joca lato-black info--text">Exibindo 10 de 500 recursos</span>
                    </v-col>
                    <v-col order="1" order-sm="1" order-md="1" order-lg="2" cols="12" sm="12" md="12" lg="9">
                      <v-row align="center" justify="start">
                        <v-col class="text-lg-right" cols="12" sm="12" md="3">
                          <span class="text-caption-1-joca primary--text ">Ordenar por</span>
                        </v-col>
                        <v-col cols="12" sm="4" md="3">
                          <v-select
                            label="RECURSOS"
                            dense
                            rounded
                            hide-details
                            :items="['Mais recentes', 'Mais antigos', 'Mais visualizados', 'Ordem alfabética']"
                            color="primaryMid"
                            outlined
                            class="select-filter-primary"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4" md="3">
                          <v-select
                            label="AUTHOR(A)"
                            dense
                            rounded
                            hide-details
                            :items="['Ordem alfabética', 'Autores recentes']"
                            color="primaryMid"
                            outlined
                            class="select-filter-primary"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4" md="3">
                          <v-select
                            label="STATUS"
                            dense
                            rounded
                            hide-details
                            :items="['Público', 'Privado', 'Rascunho', 'Removido']"
                            color="primaryMid"
                            outlined
                            class="select-filter-primary"
                          ></v-select>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>

                <v-col cols="12">
                  <v-card elevation="0">
                    <!-- Tabela dos recursos -->
                    <ResourceTable
                      @privateToggle="openDialogInfo()"
                      @deleteResource="openDialogError()"
                    >
                      <div class="py-10" slot="footer">
                        <template>
                          <v-pagination
                            v-model="page"
                            :length="6"
                            color="infoLight"
                          ></v-pagination>
                        </template>
                      </div>
                    </ResourceTable>
                  </v-card>
                </v-col>
              </v-row>
            </section>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>

import SearchInput from '@/components/geral/SearchInput.vue'
import ResourceTable from '@/components/tables/painel-de-controle/recursos/ResourceTable.vue'
import ViewResourceModal from '@/components/modals/painel-de-controle/recursos/ViewResourceModal.vue'

import FiltersSection from '@/components/sections/global/FiltersSection.vue'

export default {
  layout: 'control-panel',

  data() {
    return {
      page: 1,
      showFilters: false,

      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Recursos',
          disabled: true,
          to: '/painel-de-controle/recursos',
          color: '',
        },
      ],
    }
  },

  components: {
    SearchInput,
    ResourceTable,
    ViewResourceModal,
    FiltersSection
  },

}
</script>
