<template>
  <div
    id="headerHome"
    class="d-flex align-center justify-center"
    style="position: relative"
  >
    <v-card class="estilo-card-header-home px-4 pt-7">
      <div class="container text-center">
        <h1 class="text-h1-joca lato-black white--text">
          Plataforma Josué de Castro de Recursos Educacionais Digitais
        </h1>
        <p class="text-body-2-joca white--text pt-4">
          Encontre os recursos educacionais digitais dos seus professores,
          <br class="hidden-xs hidden-sm" />
          procure por trilhas ou siga colegas e divulgue informações no mural!
        </p>
        <div class="alinhamento-div">
          <inputSearch class="mt-5"></inputSearch>
        </div>
      </div>
    </v-card>
    <div class="banner-home">
      <banner></banner>
    </div>
  </div>
</template>

<script>
import inputSearch from "../../../components/geral/InputVerdeBusca";
import banner from "../../../components/cards/home/BannerHome";

export default {
  components: {
    inputSearch,
    banner,
  },
};
</script>

<style>
#headerHome {
  background-image: url("../../../static/images/home/bg-home.jpg");
  background-size: cover;
  min-height: 600px;
}

#headerHome .estilo-card-header-home {
  border-radius: 48px;
  background: var(--primaryMid);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  max-width: 922px;
  min-height: 392px;
}
#headerHome .alinhamento-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 663px;
}

#headerHome .banner-home {
  position: absolute;
  bottom: -50px;
}

@media (max-width: 1033px) {
  #headerHome .banner-home {
    display: none;
  }
}
</style>
