<template>
  <div id="busca_pessoas">
    <div class="bg-header py-5">
      <div class="container">
        <v-row justify="center">
          <v-col cols="12" md="7" sm="12">
            <h1
              class="text-h3-joca lato-bold primaryMid--text text-center py-4 mb-4"
            >
              Pesquisar na JOCA
            </h1>
            <InputVerdeBusca page="Pessoas"></InputVerdeBusca>
          </v-col>
        </v-row>
      </div>
    </div>

    <div class="container" style="min-height: 450px">
      <v-row class="mt-3">
        <v-col cols="12" md="6" sm="12">
          <!-- TOTAL DE RESULTADOS -->
          <p class="info--text text-body-joca lato-bold">
            Exibindo {{ '0' }} pessoas
          </p>
        </v-col>
        <v-col cols="12" md="6" sm="12" class="text-right">
          <p class="text-caption-1-joca primary--text d-inline-block mr-2">
            Ordenar por
          </p>
          <!-- FILTROS DE ORDENAÇÃO -->
          <FiltroOrdenar></FiltroOrdenar>
        </v-col>
      </v-row>

      <!-- ESTADO DE LOADER -->
      <template v-if="loader">
        <v-row class="my-5">
          <v-col cols="12" md="3" sm="12" v-for="(item, i) in 4" :key="i">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </v-col>
        </v-row>
      </template>
      <!-- / -->
      <template v-else>
        <!-- COM DADOS - PESSOAS -->
        <v-row v-if="pessoas.length" class="my-5">
          <v-col
            cols="12"
            md="3"
            sm="12"
            v-for="(pessoa, i) in pessoas"
            :key="i"
          >
            <!-- passar o item para o card -->
            <PeopleCard>
              <v-card class="mx-auto" outlined max-width="385" rounded="lg">
                <template slot="footer-actions">
                  <!-- Seguir -->
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        icon
                        small
                        class="mx-1"
                        color="grey3Joca"
                        v-bind="attrs"
                        v-on="on"
                        @click="followPeoplle('item.id')"
                      >
                        <v-icon> mdi-account-plus </v-icon>
                      </v-btn>
                    </template>
                    <span>Seguir</span>
                  </v-tooltip>

                  <!-- Deixar de seguir -->
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        icon
                        small
                        class="mx-1"
                        color="success"
                        v-bind="attrs"
                        v-on="on"
                        @click="unfollowPeople('item.id')"
                      >
                        <v-icon> mdi-account-check </v-icon>
                      </v-btn>
                    </template>
                    <span>Deixar de seguir</span>
                  </v-tooltip>

                  <!-- Ver pessoa -->
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        icon
                        small
                        class="mx-1"
                        color="grey3Joca"
                        v-bind="attrs"
                        v-on="on"
                        @click="openDialogPeople('item.id')"
                      >
                        <v-icon> mdi-arrow-top-right-bold-box-outline </v-icon>
                      </v-btn>
                    </template>
                    <span>Ver pessoa</span>
                  </v-tooltip>
                </template>
              </v-card>
            </PeopleCard>
          </v-col>
          <!-- PAGINAÇÃO -->
          <v-col cols="12" class="text-center">
            <v-pagination
              depressed
              v-model="paginate.page"
              :length="paginate.last_page"
              color="secondary"
            >
            </v-pagination>
          </v-col>
        </v-row>
        <!-- / -->
        <!-- NENHUM DADO ENCONTRADO -->
        <v-row v-else class="my-5 text-center" justify="center">
          <v-col cols="12" md="4" sm="12">
            <p class="text-body-1-joca grey4Joca--text mt-5">
              Ops, parece que não encontramos nenhuma pessoa com esses filtros!
              :(
            </p>
          </v-col>
        </v-row>

        <!-- Dialog People -->
        <v-dialog v-model="dialogPeople" width="1206">
          <v-card>
            <v-card-text class="px-0">
              <ViewProfileModal @close="dialogPeople = false" />
            </v-card-text>
          </v-card>
        </v-dialog>

        <!-- / -->
      </template>
    </div>
  </div>
</template>
<script>
import InputVerdeBusca from '../../components/geral/InputVerdeBusca'
import FiltroOrdenar from '../../components/busca/filtros/FiltroOrdenar'
import PeopleCard from '../../components/cards/platform/people/PeopleCard'
import ViewProfileModal from '@/components/modals/global/ViewProfileModal.vue'

export default {
  layout: 'default',
  components: {
    InputVerdeBusca,
    FiltroOrdenar,
    PeopleCard,
    ViewProfileModal,
  },

  data() {
    return {
      pessoas: [],
      loader: false,

      paginate: {
        page: 1,
        last_page: 0,
        total_items: 0,
      },

      dialogPeople: false,
    }
  },
  methods: {
    followPeoplle(id) {
      console.log(id)
    },
    openDialogPeople(id) {
      console.log(id, 'open modal')
      this.dialogPeople = true
    },
    unfollowPeople(id) {
      console.log(id)
    },
  },
}
</script>

<style>
#busca_pessoas .bg-header {
  background-image: url('../../static/images/bg-header-busca.jpg');
  background-size: cover;
}
</style>
