<template>
  <div id="avatar-follow">
    <div class="d-flex flex-column justify-center align-center fill-height">
      <v-btn
        @click="$emit('openDialogPeople', 'people.id')"
        fab
        color="whiteJoca"
        class="mx-auto"
        elevation="0"
        height="59"
        width="59"
      >
        <template>
          <v-list-item-avatar size="59" color="grey darken-3" class="mr-0">
            <v-img
              class="elevation-6"
              alt=""
              src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
            ></v-img>
          </v-list-item-avatar>

          <!-- <v-avatar color="infoLight" size="140">
              <v-icon size="70" color="info"> mdi-account </v-icon>
            </v-avatar> -->
        </template>
      </v-btn>

      <span class="text-caption-2-joca primaryMid--text open-sans-regular">
        {{ title }}
      </span>

      <span class="primary--text open-sans-semibold text-body-4-joca">
        Márcia Peixoto
      </span>

      <v-btn
        rounded
        depressed
        color="primaryMid"
        class="btn-primary-joca mt-3"
        :disabled="isLogogged ? false : true"
      >
        <v-icon color="whiteJoca" class="mr-2"> mdi-account-plus </v-icon>
        <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
          Seguir
        </span>
      </v-btn>

      <!-- <v-btn
        outlined
        rounded
        color="primaryMid"
        class="btn-primary-outlined-joca mb-2"
      >
        <span class="text-caption-1-joca open-sans-bold">
          deixar de seguir
        </span>
      </v-btn> -->
    </div>
  </div>
</template>

<script>
export default {
  props: ['title'],
  data() {
    return {
      isLogogged: true,
    }
  },
}
</script>
