<template>
  <div id="pade-details-recourse" class="whiteJoca">
    <div class="grey6Joca">
      <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="6" lg="5">
            <v-breadcrumbs
              :items="items"
              class="panel-breadcrumbs pb-0"
            ></v-breadcrumbs>

            <h2 class="text-body-joca grey2Joca--text font-weight-regular">
              Visão do recurso selecionado
            </h2>
          </v-col>

          <v-col cols="12" sm="12" md="12" lg="7">
            <div class="h-100 d-flex justify-end mobile-xs-column align-center">
              <v-btn
                exact
                outlined
                rounded
                color="primaryMid"
                to="/painel-de-controle-docente/recursos"
                class="btn-primary-outlined-joca mx-4 mt-4"
              >
                <span class="text-caption-1-joca open-sans-bold"> Voltar </span>
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>

      <v-container>
        <v-row>
          <v-col cols="12">
            <ResourceHeader>
              <template slot="right-side">
                <AvatarFollow title="Enviado por" />
              </template>
            </ResourceHeader>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="11" md="10" lg="10">
          <!-- area de informações do recurso -->
          <section>
            <v-container>
              <ResourceInfos class="pt-5" />
            </v-container>
          </section>

          <!-- area de avaliar o recurso -->
          <section>
            <v-container>
              <EvaluateArea type="resource" class="pt-5" />
            </v-container>
          </section>

          <!-- area de comentarios do recurso -->
          <section>
            <v-container>
              <CommentsArea>
                <!-- slot para exibição dos comentarios -->
                <div slot="comments">
                  <template>
                    <Comments class="mb-3">
                      <!-- slot das ações dos comentarios -->
                      <div slot="actions">
                        <template>
                          <div class="d-flex align-center mt-2">
                            <div class="d-flex align-center mr-2">
                              <v-icon color="grey3Joca">mdi-thumb-up</v-icon>
                              <span
                                class="text-caption-2-joca grey3Joca--text open-sans-regular ml-1"
                                >(0)</span
                              >
                            </div>

                            <v-icon color="grey3Joca">mdi-alert-circle</v-icon>

                            <span
                              class="text-caption-2-joca primaryMid--text open-sans-regular ml-4"
                              >comentário realizado dia 19/11/21 às 15:30</span
                            >

                            <v-icon class="ml-2" color="grey3Joca"
                              >mdi-delete</v-icon
                            >
                          </div>
                        </template>
                      </div>
                    </Comments>
                  </template>
                </div>
              </CommentsArea>
            </v-container>
          </section>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="modalViewProfileOpened" persistent max-width="1207px">
      <ViewProfileModal @close="modalViewProfileOpened = false" />
    </v-dialog>
  </div>
</template>

<script>
import ResourceHeader from '@/components/Partials/Recursos/ResourceHeader.vue'
import ResourceInfos from '@/components/Partials/Recursos/ResourceInfos.vue'
import EvaluateArea from '@/components/Partials/EvaluateArea.vue'
import CommentsArea from '@/components/Partials/CommentsArea.vue'

import Comments from '@/components/geral/Comments.vue'

import ViewProfileModal from '@/components/modals/global/ViewProfileModal.vue'
import AvatarFollow from '@/components/avatar/global/AvatarFollow.vue'

export default {
  layout: 'control-panel',
  components: {
    ResourceHeader,
    ResourceInfos,
    EvaluateArea,
    CommentsArea,

    Comments,

    ViewProfileModal,
    AvatarFollow,
  },

  data() {
    return {
      modalViewProfileOpened: false,

      items: [
        {
          text: 'Recursos',
          disabled: false,
          exact: true,
          to: '/painel-de-controle-docente/recursos',
          color: 'primaryMid',
        },
        {
          text: 'Visualização',
          disabled: true,
          exact: true,
          to: '/painel-de-controle/recursos/ver-detalhes',
          color: '',
        },
      ],
    }
  },
}
</script>
