<template>
  <div id="page-about-app">
    <div class="bg-header py-5">
      <div class="container">
        <h1 class="text-h3-joca lato-bold primaryMid--text text-center py-4">
          O que é a Plataforma JOCA?
        </h1>
      </div>
    </div>
    <div class="container py-7">
      <p class="text-body-2-joca grey1Joca--text">A Platafoma JOCA é....</p>
      <h5 class="grey1Joca--text text-h5-joca lato-bold mt-4 mb-2">Subtítulo</h5>
      <p class="text-body-2-joca grey1Joca--text">
        Texto explicativo sobre o josué de castro. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Morbi ultrices tincidunt quam a iaculis. Pellentesque quis leo
        porttitor, eleifend orci non, laoreet nunc.Texto explicativo sobre o josué de
        castro. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices
        tincidunt quam a iaculis. Pellentesque quis leo porttitor, eleifend orci non,
        laoreet nunc.
      </p>

      <h5 class="grey1Joca--text text-h5-joca lato-bold mt-4 mb-2">Subtítulo</h5>
      <p class="text-body-2-joca grey1Joca--text">
        Texto explicativo sobre o josué de castro. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Morbi ultrices tincidunt quam a iaculis. Pellentesque quis leo
        porttitor, eleifend orci non, laoreet nunc.Texto explicativo sobre o josué de
        castro. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices
        tincidunt quam a iaculis. Pellentesque quis leo porttitor, eleifend orci non,
        laoreet nunc.
      </p>

      <h5 class="grey1Joca--text text-h5-joca lato-bold mt-4 mb-2">Subtítulo</h5>
      <p class="text-body-2-joca grey1Joca--text">
        Texto explicativo sobre o josué de castro. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Morbi ultrices tincidunt quam a iaculis. Pellentesque quis leo
        porttitor, eleifend orci non, laoreet nunc.Texto explicativo sobre o josué de
        castro. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices
        tincidunt quam a iaculis. Pellentesque quis leo porttitor, eleifend orci non,
        laoreet nunc.
      </p>

      <h2 class="text-h2-joca lato-bold secondary--text my-5 py-6">Saiba mais</h2>

      <h5 class="grey1Joca--text text-h5-joca lato-bold mt-4 mb-2">Subtítulo</h5>
      <p class="text-body-2-joca grey1Joca--text">
        Texto explicativo sobre o josué de castro. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Morbi ultrices tincidunt quam a iaculis. Pellentesque quis leo
        porttitor, eleifend orci non, laoreet nunc.Texto explicativo sobre o josué de
        castro. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices
        tincidunt quam a iaculis. Pellentesque quis leo porttitor, eleifend orci non,
        laoreet nunc.
      </p>

      <h5 class="grey1Joca--text text-h5-joca lato-bold mt-4 mb-2">Subtítulo</h5>
      <p class="text-body-2-joca grey1Joca--text">
        Texto explicativo sobre o josué de castro. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Morbi ultrices tincidunt quam a iaculis. Pellentesque quis leo
        porttitor, eleifend orci non, laoreet nunc.Texto explicativo sobre o josué de
        castro. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices
        tincidunt quam a iaculis. Pellentesque quis leo porttitor, eleifend orci non,
        laoreet nunc.
      </p>

      <p class="text-body-2-joca grey1Joca--text mt-5 pt-5">Plataforma desenvolvida por Levante Lab.</p>
    </div>
  </div>
</template>
<script>
export default {
  layout: "default",
};
</script>

<style>
#page-about-app .bg-header {
  background-image: url("../../static/images/bg-padrao-header.jpg");
  background-size: cover;
}
</style>
