<template>
  <v-row>
    <v-col cols="12">
      <div class="d-flex flex-column pb-8 full-width">
        <span class="text-h5-joca lato-black accent--text mb-2">
          Comentarios (1)
        </span>
        <slot name="comments" v-if="comentariosLenght"></slot>
        <div v-else>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="3" lg="3">
                <img
                  class="w-100"
                  style="max-width: 159px"
                  src="~/assets/imgs/ilustracao/searcher-man-womam.svg"
                  alt="Ilustração de uma mulher jovem, branca, com cabelos ao vento, coçando a cabeça e com um balãozinho de interrogação saindo da cabeça."
                />
              </v-col>
              <v-col cols="12" sm="12" md="9" lg="9">
                <p class="text-h4-joca lato-bold primaryMid--text mb-2">Ops</p>
                <p class="grey3Joca--text text-body-joca">
                  Parece que esse recurso ainda não possui comentários :(
                </p>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      comentariosLenght: 0,
    }
  },
}
</script>
