<template>
  <v-row>
    <v-col cols="12">
      <div class="d-flex flex-column pb-8 full-width">
        <h3 class="text-h5-joca lato-black accent--text mb-6">
          <!-- se a prop type for trilha, exibe o label para trilha se n, para recurso -->
          <!-- irá seguir o mesmo padrão -->
          {{ type === 'trail' ? 'Avalie a trilha' : 'Avalie o recurso' }}
        </h3>

        <v-row class="mt-3" v-if="isLogged">
          <v-col cols="12" sm="2" md="1" lg="1">
            <v-avatar color="accent" size="56"></v-avatar>
          </v-col>

          <v-col class="pl-5" cols="12" sm="10" md="11" lg="11">
            <div class="d-flex flex-column">
              <span class="primaryMid--text text-body-joca open-sans-bold">
                {{
                  type === 'trail'
                    ? 'Como você avalia essa trilha?'
                    : 'Como você avalia esse recurso?'
                }}
              </span>
              <div class="d-flex align-center">
                <v-rating
                  :value="0"
                  background-color="warningLight"
                  color="warningLight"
                  dense
                  size="23"
                ></v-rating>
                <span
                  class="text-caption-2-joca grey3Joca--text open-sans-regular"
                  >0 (0)</span
                >
              </div>

              <div class="d-flex full-width flex-column mt-5">
                <span class="primaryMid--text text-body-joca open-sans-bold"
                  >Escreva seu comentário:</span
                >
                <v-textarea
                  full-width
                  class="mt-2"
                  outlined
                  auto-grow
                  hide-details
                  :placeholder="
                    type === 'trail'
                      ? 'Escreva aqui seu comentário sobre a trilha selecionada'
                      : 'Insira uma descrição sobre o recurso, falando sobre o que ele é e para quem se destina'
                  "
                ></v-textarea>
                <div class="d-flex justify-end">
                  <v-btn
                    rounded
                    depressed
                    color="primaryMid"
                    class="white--text mt-3"
                  >
                    <span class="text-caption-1-joca open-sans-bold"
                      >COMENTAR</span
                    >
                  </v-btn>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>

        <div v-else class="text-center">
          <p class="mb-10 text-body-joca">
            Para acessar essa e outras funcionalidades, faça login ou
            cadastre-se na Plataforma.
          </p>

          <v-btn
            outlined
            rounded
            color="info"
            class="btn-info-outlined-joca mb-2"
            @click="$emit('registerAccount')"
          >
            <span class="text-caption-1-joca open-sans-bold">
              CADASTRAR-SE
            </span>
          </v-btn>

          <v-btn
            depressed
            rounded
            color="info"
            class="btn-info-joca mb-2"
            to="/login"
          >
            <span class="text-caption-1-joca open-sans-bold">
              FAZER LOGIN
            </span>
          </v-btn>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: ['type'],

  data() {
    return {
      isLogged: false,
    }
  },
}
</script>
