<template>
  <div id="texto_redirecionar_ajuda">
    <p class="text-body-1-joca primaryMid--text mb-5 lato-bold">
      Ops, parece que você não pode publicar recursos. <br> Caso tenha alguma dúvida, acesse as
      “Dúvidas Frequentes” em “Ajuda”.
    </p>
    <v-btn elevation="0" rounded color="primaryMid" class="mt-7">
      <span class="white--text text-caption-1-joca open-sans-bold">Acessar FAQ</span>
    </v-btn>
  </div>
</template>
