<template>
  <div id="page-mural-edit">
    <!-- Header page -->
    <v-container class="mb-5">
      <v-row>
        <v-col cols="12" md="12" lg="5">
          <v-breadcrumbs
            :items="items"
            class="panel-breadcrumbs pb-0"
          ></v-breadcrumbs>

          <h2 class="text-body-joca grey2Joca--text font-weight-regular">
            Altere as informações da divulgação selecionada
          </h2>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="7">
          <div class="h-100 d-flex justify-end mobile-xs-column align-center">
            <v-btn
              outlined
              rounded
              color="primaryMid"
              class="btn-info-outlined-joca mx-4 mt-4"
              :to="'/painel-de-controle/mural/ver-detalhes/' + paramsId"
            >
              <span class="text-caption-1-joca open-sans-bold">
                Visualizar perfil
              </span>
            </v-btn>

            <v-btn
              @click="dialogRegister = true"
              depressed
              rounded
              color="primaryMid"
              class="btn-primary-joca mt-4"
              to="/painel-de-controle/mural"
              exact
            >
              <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                Voltar
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- Form -->
    <div class="whiteJoca">
      <v-container class="pt-10 pb-16">
        <v-row justify="center">
          <v-col cols="12" sm="12" md="8" lg="8" xl="8">
            <h1 class="text-h4-joca lato-bold secondary--text mb-2 lato-bold">
              1. Informações
            </h1>

            <RegisterAndEditMural>
              <template slot="action-secondary">
                <v-btn
                  outlined
                  rounded
                  color="primaryMid"
                  class="btn-primary-outlined-joca mr-4 mb-2"
                  to="/painel-de-controle/mural"
                  exact
                >
                  <span class="text-caption-1-joca open-sans-bold">
                    Voltar
                  </span>
                </v-btn>

                <v-btn
                  outlined
                  rounded
                  color="error"
                  class="btn-error-joca mr-4 mb-2"
                  @click="deleteStudent"
                >
                  <span class="text-caption-1-joca open-sans-bold">
                    Excluir divulgação
                  </span>
                </v-btn>
              </template>
            </RegisterAndEditMural>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>
import RegisterAndEditMural from '@/components/forms/global/mural/RegisterAndEditMural.vue'

export default {
  components: { RegisterAndEditMural },

  data() {
    return {
      paramsId: null,
      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          exact: false,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Mural',
          exact: true,
          disabled: false,
          to: '/painel-de-controle/mural',
          color: '',
        },
        {
          text: 'Editar',
          exact: true,
          disabled: true,
          to: '/painel-de-controle/mural/editar',
          color: '',
        },
      ],
    }
  },
  mounted() {
    this.paramsId = this.$route.params.id
  },
  methods: {
    deleteStudent(id) {
      console.log(id)

      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir o perfil selecionado? Essa ação não poderá ser desfeita e a pessoa perderá o acesso à JOCA.',
        title: 'Deseja excluir o perfil selecionado?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'SIM, EXCLUIR', color: 'errorLight', key: false },
          { text: 'CANCELAR', color: 'error', key: false },
        ],
      })
    },

    changeImage() {
      console.log('cadastrar imagem')
    },
  },
}
</script>
