<template>
  <v-app id="control-panel">
    <!-- Header -->
    <v-container fluid class="px-0">
      <v-row>
        <v-col cols="12" sm="12" md="12" lg="12">
          <v-container class="py-0">
            <DesktopHeader class="desk-header" v-on:logout="logOut" />

            <MobileHeader
              class="mobile-header"
              @rightDrawer="rightDrawer = $event"
            />
          </v-container>
          <v-divider class="mt-3"></v-divider>
        </v-col>
      </v-row>
    </v-container>

    <!-- Body -->
    <v-main class="grey6Joca pb-10">
      <Nuxt />

      <!-- Button: Scroll Top -->
      <v-btn
        v-scroll="onScroll"
        v-show="hiden"
        class="mb-7"
        fab
        dark
        fixed
        bottom
        right
        color="accent"
        @click="toTop"
      >
        <v-icon>mdi-arrow-up</v-icon>
      </v-btn>
    </v-main>

    <!-- FOOTER -->
    <v-footer class="pa-0">
      <v-container fluid class="px-0">
        <v-row>
          <v-col cols="12" sm="12" md="12" class="py-0">
            <v-divider></v-divider>
            <div class="whiteJoca pt-6 pb-7">
              <v-container>
                <v-row>
                  <v-col cols="12" sm="12" md="12" class="py-0">
                    <navigationFooter />
                  </v-col>
                </v-row>
              </v-container>
            </div>

            <div class="primaryMid">
              <v-container>
                <v-row>
                  <v-col cols="12" sm="12" md="12" class="py-0">
                    <copyrightFooter />
                  </v-col>
                </v-row>
              </v-container>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>

    <v-navigation-drawer
      v-model="rightDrawer"
      v-if="rightDrawer"
      absolute
      temporary
      right
    >
      <RightDrawer :drawerOptions="drawerOptions" @close="rightDrawer = false" />
    </v-navigation-drawer>

  </v-app>
</template>

<script>
import navigationFooter from '@/components/layouts/footer/NavigationFooter.vue'
import copyrightFooter from '@/components/layouts/footer/CopyrightFooter.vue'
import DesktopHeader from '@/components/layouts/header/painel-de-controle/DesktopHeader.vue'
import MobileHeader from '@/components/layouts/header/painel-de-controle/MobileHeader.vue'

import RightDrawer from '@/components/layouts/header/RightDrawer.vue'

export default {
  name: 'control-panel',
  //middleware: ['auth'],
  components: {
    navigationFooter,
    copyrightFooter,
    DesktopHeader,
    MobileHeader,
    RightDrawer,
  },

  data() {
    return {
      fixed: false,
      hiden: false,
      admins: [
        ['Management', 'mdi-account-multiple-outline'],
        ['Settings', 'mdi-cog-outline'],
      ],
      cruds: [
        ['Create', 'mdi-plus-outline'],
        ['Read', 'mdi-file-outline'],
        ['Update', 'mdi-update'],
        ['Delete', 'mdi-delete'],
      ],

      leftDrawer: false,
      rightDrawer: false,

      drawerOptions: [
        {label: 'Minha área', link: '/minha-area'},
        {label: 'Painel de controle', link: '/painel-de-controle/geral'},
        {label: 'Editar perfil', link: ''},
        {label: 'Alterar dados', link: ''},
        {label: 'Sair', link: ''},
      ]
    }
  },

  methods: {
    onScroll(e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      this.hiden = top > 100
    },

    toTop() {
      this.$vuetify.goTo(0)
    },

    async logOut() {
      await this.$auth.logout()
    },
  },
}
</script>

<style>
#header-simple {
  height: auto !important;
}

#control-panel .desk-header {
  display: flex;
}

#control-panel .mobile-header {
  display: none;
}

@media (max-width: 1263px) {
  #control-panel .mobile-header {
    display: flex;
  }

  #control-panel .desk-header {
    display: none;
  }
}
</style>
