<template>
  <v-app id="template-default">
    <!-- HEADER -  NAVIGATION -->
    <v-container>
      <DesktopHeader class="desk-header" />
      <MobileHeader
        class="mobile-header"
        @leftDrawer="leftDrawer = $event"
        @rightDrawer="rightDrawer = $event"
      />
    </v-container>
    <v-divider></v-divider>

    <!-- Body -->
    <v-main>
      <v-container fluid>
        <v-row>
          <v-col cols="12" sm="12" md="12" class="px-0 py-0">
            <Nuxt />
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <v-divider></v-divider>

    <!-- FOOTER -->
    <v-footer class="pa-0">
      <v-container fluid class="whiteJoca pt-6 pb-7">
        <v-row>
          <v-col cols="12" sm="12" md="12">
            <v-container>
              <v-row justify="center" align="center">
                <v-col cols="12" sm="12" md="12" class="py-0">
                  <navigationFooter />
                </v-col> </v-row
            ></v-container>
          </v-col>
        </v-row>
      </v-container>

      <v-container fluid class="primaryMid">
        <v-row>
          <v-col cols="12" sm="12" md="12" class="py-0">
            <v-container>
              <v-row justify="center" align="center">
                <v-col cols="12" sm="12" md="12" class="py-0">
                  <copyrightFooter />
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import DesktopHeader from '@/components/layouts/header/painel-de-controle/DesktopHeader.vue'
import MobileHeader from '@/components/layouts/header/painel-de-controle/MobileHeader.vue'
import navigationFooter from '@/components/layouts/footer/NavigationFooter.vue'
import copyrightFooter from '@/components/layouts/footer/CopyrightFooter.vue'

export default {
  name: 'DefaultLayout',
  components: {
    DesktopHeader,
    MobileHeader,
    navigationFooter,
    copyrightFooter,
  },

  data() {
    return {
      fixed: false,
    }
  },
}
</script>

<style>
#header-simple {
  height: auto !important;
}

#template-default .desk-header {
  display: flex;
}

#template-default .mobile-header {
  display: none;
}

@media (max-width: 1263px) {
  #template-default .mobile-header {
    display: flex;
  }

  #template-default .desk-header {
    display: none;
  }
}
</style>
