<template>
  <v-app class="grey6Joca py-16" id="page-erro">
    <v-container class="py-10">
      <v-row justify="center">
        <v-col cols="12" sm="12" md="4" lg="4">
          <div class="h-100 d-flex align-center justify-center">
            <img
              v-if="error.statusCode === 404"
              class="w-100"
              style="max-width: 355px"
              src="~/assets/imgs/ilustracao/404.svg"
              alt="Ilustração de uma mulher jovem, branca, com cabelos ao vento, coçando a cabeça e com um balãozinho de interrogação saindo da cabeça."
            />
            <img
              v-if="error.statusCode === 504"
              class="w-100"
              style="max-width: 355px"
              src="~/assets/imgs/ilustracao/504.svg"
              alt="Ilustração de um casal segurando uma extensão de tomada que está desplugada."
            />
          </div>
        </v-col>

        <v-col
          cols="12"
          sm="12"
          md="4"
          lg="4"
          class="align-center-mobile-sm pl-4"
        >
          <h2 class="primaryMid--text text-h1-joca lato-bold mb-6">Ops!</h2>

          <h1 class="text-h4-joca lato-bold error--text mb-3">
            <span v-if="error.statusCode === 404"> Página não encontrada </span>

            <span v-if="error.statusCode === 504"> Falha na conexão :( </span>
          </h1>

          <p class="text-body-3-joca" v-if="error.statusCode === 504">
            Parece que houve algum problema na conexão, tente novamente mais
            tarde.
          </p>

          <div v-else>
            <p class="text-body-3-joca open-sans-bold mb-3">
              Código de erro: {{ error.statusCode }}
            </p>
            <p class="text-body-3-joca open-sans-bold">Links úteis:</p>

            <nav>
              <ul>
                <li v-for="(item, index) in nav" :key="index" class="mb-1">
                  <NuxtLink :to="item.to">
                    <span
                      class="text-body-3-joca open-sans-light primaryMid--text text-decoration-underline"
                    >
                      {{ item.name }}
                    </span>
                  </NuxtLink>
                </li>
              </ul>
            </nav>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: 'EmptyLayout',
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      nav: [
        { name: 'Início', to: '/' },
        { name: 'Sobre a plataforma', to: '/a-plataforma' },
        { name: 'Contato', to: '/contato' },
        { name: 'Dúvidas Frequentes', to: '/perguntas-frequentes' },
      ],
    }
  },
}
</script>
