<template>
  <v-app>
    <!-- HEADER  -->
    <v-app-bar
      elevation="0"
      class="align-center-mobile-sm py-2"
      id="header-simple"
      color="whiteJoca"
    >
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12">
            <v-toolbar-title>
              <nuxt-link to="/">
                <img
                  src="~/static/images/logos/logo-joca.svg"
                  alt="Logo da JOCA"
                />
              </nuxt-link>
            </v-toolbar-title>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>

    <v-divider class="border-color-grey4Joca"></v-divider>

    <!-- Navigation -->
    <div class="whiteJoca pt-16 pb-4">
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12">
            <NavigationHeader />
          </v-col>
        </v-row>
      </v-container>
    </div>

    <!-- Body -->
    <v-main class="grey6Joca">
      <v-container fluid>
        <v-row>
          <v-col cols="12" sm="12" md="12" class="py-16">
            <Nuxt />

            <!-- Button: Scroll Top -->
            <v-btn
              v-scroll="onScroll"
              v-show="hiden"
              class="mb-7"
              fab
              dark
              fixed
              bottom
              right
              color="accent"
              @click="toTop"
            >
              <v-icon>mdi-arrow-up</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <v-divider class="border-color-grey4Joca"></v-divider>

    <!-- FOOTER -->
    <v-footer class="pa-0">
      <v-container fluid class="whiteJoca pt-6 pb-7">
        <v-row>
          <v-col cols="12" sm="12" md="12">
            <v-container>
              <v-row justify="center" align="center">
                <v-col cols="12" sm="12" md="12" class="py-0">
                  <navigationFooter />
                </v-col> </v-row
            ></v-container>
          </v-col>
        </v-row>
      </v-container>

      <v-container fluid class="primaryMid">
        <v-row>
          <v-col cols="12" sm="12" md="12" class="py-0">
            <v-container>
              <v-row justify="center" align="center">
                <v-col cols="12" sm="12" md="12" class="py-0">
                  <copyrightFooter />
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import navigationFooter from '@/components/layouts/footer/NavigationFooter.vue'
import copyrightFooter from '@/components/layouts/footer/CopyrightFooter.vue'
import NavigationHeader from '@/components/layouts/header/system-design/NavigationSystemDesignHeader.vue'

export default {
  name: 'system-design',
  head: {
    titleTemplate: 'Joca - DesignSystem',
  },
  components: {
    navigationFooter,
    copyrightFooter,
    NavigationHeader,
  },

  data() {
    return {
      fixed: false,
      hiden: false,
    }
  },

  methods: {
    onScroll(e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      this.hiden = top > 100
    },

    toTop() {
      this.$vuetify.goTo(0)
    },
  },
}
</script>

<style>
#header-simple {
  height: 80px !important;
}
</style>
