<template>
  <div id="page-buttons">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <!-- Botões primários -->
          <section class="mb-16">
            <v-container>
              <v-row>
                <v-col sm="12" md="6">
                  <h2 class="secondary--text title-system-design">Primary</h2>
                  <p class="subtitle-system-design">
                    Botões com a cor 'primary' e preenchido
                  </p>

                  <v-card>
                    <v-card-text>
                      <v-btn
                        depressed
                        rounded
                        color="primary"
                        class="btn-primary-joca mb-2"
                      >
                        <span
                          class="text-caption-1-joca open-sans-bold whiteJoca--text"
                        >
                          Normal
                        </span>
                      </v-btn>

                      <v-btn
                        depressed
                        rounded
                        color="primary"
                        class="btn-primary-joca mb-2"
                      >
                        <v-icon left class="whiteJoca--text">
                          mdi-pencil
                        </v-icon>
                        <span
                          class="text-caption-1-joca whiteJoca--text open-sans-bold"
                        >
                          Normal
                        </span>
                      </v-btn>

                      <ExempleCodeCard :code="btnPrimary" />
                    </v-card-text>
                  </v-card>
                </v-col>

                <v-col sm="12" md="6">
                  <div class="mb-4">
                    <h2 class="secondary--text title-system-design">
                      Primary outlined
                    </h2>
                    <p class="subtitle-system-design">
                      Botões com a cor 'primary' e não preenchido
                    </p>

                    <v-card>
                      <v-card-text>
                        <v-btn
                          outlined
                          rounded
                          color="primary"
                          class="btn-primary-outlined-joca mb-2"
                        >
                          <span class="text-caption-1-joca open-sans-bold">
                            Normal
                          </span>
                        </v-btn>

                        <v-btn
                          outlined
                          rounded
                          color="primary"
                          class="btn-primary-outlined-joca mb-2"
                        >
                          <v-icon left> mdi-pencil </v-icon>
                          <span class="text-caption-1-joca open-sans-bold">
                            Normal
                          </span>
                        </v-btn>

                        <ExempleCodeCard :code="btnPrimaryOutlined" />
                      </v-card-text>
                    </v-card>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </section>

          <!-- Botões secundários -->
          <section class="mb-16">
            <v-container>
              <v-row>
                <v-col sm="12" md="6">
                  <h2 class="secondary--text title-system-design">Secondary</h2>
                  <p class="subtitle-system-design">
                    Botões com a cor 'secondary' e preenchido
                  </p>

                  <v-card>
                    <v-card-text>
                      <v-btn
                        depressed
                        rounded
                        color="secondary"
                        class="btn-secondary-joca mb-2"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          Normal
                        </span>
                      </v-btn>

                      <v-btn
                        depressed
                        rounded
                        color="secondary"
                        class="btn-secondary-joca mb-2"
                      >
                        <v-icon left> mdi-pencil </v-icon>
                        <span class="text-caption-1-joca open-sans-bold">
                          Normal
                        </span>
                      </v-btn>

                      <ExempleCodeCard :code="btnSecondary" />
                    </v-card-text>
                  </v-card>
                </v-col>

                <v-col sm="12" md="6">
                  <h2 class="secondary--text title-system-design">
                    Secondary outlined
                  </h2>
                  <p class="subtitle-system-design">
                    Botões com a cor 'secondary' e não preenchido
                  </p>

                  <v-card>
                    <v-card-text>
                      <v-btn
                        outlined
                        rounded
                        color="secondary"
                        class="btn-secondary-outlined-joca mb-2"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          Normal
                        </span>
                      </v-btn>

                      <v-btn
                        outlined
                        rounded
                        color="secondary"
                        class="btn-secondary-outlined-joca mb-2"
                      >
                        <v-icon left> mdi-pencil </v-icon>
                        <span class="text-caption-1-joca open-sans-bold">
                          Normal
                        </span>
                      </v-btn>

                      <ExempleCodeCard :code="btnSecondaryOtlined" />
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </section>

          <!-- Botões info -->
          <section class="mb-16">
            <v-container>
              <v-row>
                <v-col sm="12" md="6">
                  <h2 class="secondary--text title-system-design">Info</h2>
                  <p class="subtitle-system-design">
                    Botões com a cor 'info' e preenchido
                  </p>

                  <v-card>
                    <v-card-text>
                      <v-btn
                        depressed
                        rounded
                        color="info"
                        class="btn-info-joca mb-2"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          Normal
                        </span>
                      </v-btn>

                      <v-btn
                        depressed
                        rounded
                        color="info"
                        class="btn-info-joca mb-2"
                      >
                        <v-icon left> mdi-pencil </v-icon>
                        <span class="text-caption-1-joca open-sans-bold">
                          Normal
                        </span>
                      </v-btn>
                      <ExempleCodeCard :code="btnInfo" />
                    </v-card-text>
                  </v-card>
                </v-col>

                <v-col sm="12" md="6">
                  <div class="mb-4">
                    <h2 class="secondary--text title-system-design">
                      Info outlined
                    </h2>
                    <p class="subtitle-system-design">
                      Botões com a cor 'info' e não preenchido
                    </p>

                    <v-card>
                      <v-card-text>
                        <v-btn
                          outlined
                          rounded
                          color="info"
                          class="btn-info-outlined-joca mb-2"
                        >
                          <span class="text-caption-1-joca open-sans-bold">
                            Normal
                          </span>
                        </v-btn>

                        <v-btn
                          outlined
                          rounded
                          color="info"
                          class="btn-info-outlined-joca mb-2"
                        >
                          <v-icon left> mdi-pencil </v-icon>
                          <span class="text-caption-1-joca open-sans-bold">
                            Normal
                          </span>
                        </v-btn>

                        <ExempleCodeCard :code="btnInfoOutlined" />
                      </v-card-text>
                    </v-card>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </section>

          <!-- Botões erro -->
          <section>
            <v-container>
              <v-row>
                <v-col sm="12" md="6">
                  <h2 class="secondary--text title-system-design">Error</h2>
                  <p class="subtitle-system-design">
                    Botões com a cor 'error' e preenchido
                  </p>

                  <v-card>
                    <v-card-text>
                      <v-btn
                        depressed
                        rounded
                        color="error"
                        class="btn-error-joca mb-2"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          Normal
                        </span>
                      </v-btn>

                      <v-btn
                        depressed
                        rounded
                        color="error"
                        class="btn-error-joca mb-2"
                      >
                        <v-icon left> mdi-pencil </v-icon>
                        <span class="text-caption-1-joca open-sans-bold">
                          Normal
                        </span>
                      </v-btn>

                      <ExempleCodeCard :code="btnError" />
                    </v-card-text>
                  </v-card>
                </v-col>

                <v-col sm="12" md="6">
                  <template class="btns-error">
                    <h2 class="secondary--text title-system-design">
                      Error outlined
                    </h2>
                    <p class="subtitle-system-design">
                      Botões com a cor 'error' e não preenchido
                    </p>

                    <v-card>
                      <v-card-text>
                        <v-btn
                          outlined
                          rounded
                          color="error"
                          class="btn-error-outlined-joca mb-2"
                        >
                          <span class="text-caption-1-joca open-sans-bold">
                            Normal
                          </span>
                        </v-btn>

                        <v-btn
                          outlined
                          rounded
                          color="error"
                          class="btn-error-outlined-joca mb-2"
                        >
                          <v-icon left> mdi-pencil </v-icon>
                          <span class="text-caption-1-joca open-sans-bold">
                            Normal
                          </span>
                        </v-btn>

                        <ExempleCodeCard :code="btnErrorOutlined" />
                      </v-card-text>
                    </v-card>
                  </template>
                </v-col>
              </v-row>
            </v-container>
          </section>

          <!-- Botões Link -->
          <section>
            <v-container>
              <v-row>
                <v-col sm="12" md="6">
                  <h2 class="secondary--text title-system-design">Texto</h2>
                  <p class="subtitle-system-design">
                    Botões com a cor 'error' e preenchido
                  </p>

                  <v-card>
                    <v-card-text>
                      <v-btn text class="text-none">
                        <span
                          class="text-decoration-underline text-body-4-joca primaryMid--text"
                        >
                          Cadastre-se
                        </span>
                      </v-btn>

                      <ExempleCodeCard :code="btnLink" />
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </section>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import ExempleCodeCard from '@/components/cards/system-design/ExempleCodeCard.vue'

export default {
  layout: 'system-design',
  components: {
    ExempleCodeCard,
  },

  data() {
    return {
      btnPrimary:
        '<v-btn depressed rounded color="primary" class="btn-primary-joca mb-2"> <v-icon left class="whiteJoca--text"> mdi-pencil </v-icon> <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> Normal </span> </v-btn>',
      btnPrimaryOutlined:
        '<v-btn outlined rounded color="primary" class="btn-primary-outlined-joca mb-2"> <v-icon left> mdi-pencil </v-icon> <span class="text-caption-1-joca open-sans-bold"> Normal </span> </v-btn>',
      btnSecondary:
        '<v-btn depressed rounded color="secondary" class="btn-secondary-joca mb-2"> <v-icon left> mdi-pencil </v-icon> <span class="text-caption-1-joca open-sans-bold"> Normal </span> </v-btn>',
      btnSecondaryOtlined:
        '<v-btn outlined rounded color="secondary" class="btn-secondary-outlined-joca mb-2"> <v-icon left> mdi-pencil </v-icon> <span class="text-caption-1-joca open-sans-bold"> Normal </span> </v-btn>',
      btnInfo:
        '<v-btn depressed rounded color="info" class="btn-info-joca mb-2"> <v-icon left> mdi-pencil </v-icon> <span class="text-caption-1-joca open-sans-bold"> Normal </span> </v-btn>',
      btnInfoOutlined:
        '<v-btn outlined rounded color="info" class="btn-info-outlined-joca mb-2"> <v-icon left> mdi-pencil </v-icon> <span class="text-caption-1-joca open-sans-bold"> Normal </span> </v-btn>',
      btnError:
        '<v-btn depressed rounded color="error" class="btn-error-joca mb-2"> <v-icon left> mdi-pencil </v-icon> <span class="text-caption-1-joca open-sans-bold"> Normal </span> </v-btn>',
      btnErrorOutlined:
        '<v-btn outlined rounded color="error" class="btn-error-outlined-joca mb-2"> <v-icon left> mdi-pencil </v-icon> <span class="text-caption-1-joca open-sans-bold"> Normal </span> </v-btn>',
      btnLink:
        '<v-btn text class="text-none"> <span class="text-decoration-underline text-body-4-joca primaryMid--text"> Cadastre-se </span> </v-btn>',
    }
  },
}
</script>
