<template>
  <div id="page-components">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <!-- Tooltip -->
          <section class="mb-16">
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="8">
                  <h2 class="secondary--text title-system-design">Tooltip</h2>
                  <p class="subtitle-system-design">Tooltip de detalhes.</p>

                  <v-card class="mb-2">
                    <v-card-text>
                      <DetailsTooltip
                        icon="mdi-help-circle-outline"
                        informacao="As siglas apresentadas referem-se a: Expert Independente."
                      />

                      <ExempleCodeCard :code="codeDetails" />
                    </v-card-text>
                  </v-card>

                  <p class="text-caption-2-joca">
                    <strong>
                      Importando: import DetailsTooltip from
                      @/components/tooltips/global/DetailsTooltip.vue
                    </strong>
                  </p>
                </v-col>
              </v-row>
            </v-container>
          </section>

          <!-- Dialog -->
          <section class="mb-16">
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <h2 class="secondary--text title-system-design">
                    Dialog de Compartilhamento
                  </h2>
                  <p class="subtitle-system-design">
                    Dialog de compartilhamento com as redes sociais.
                  </p>

                  <v-container>
                    <v-row>
                      <!-- Compartilhar -->
                      <v-col cols="12" sm="12" md="6">
                        <v-card class="mb-4">
                          <v-card-text>
                            <v-dialog v-model="dialog" width="500">
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn icon v-bind="attrs" v-on="on">
                                  <v-icon>mdi-bookmark</v-icon>
                                </v-btn>
                              </template>

                              <v-card class="py-8">
                                <v-card-text>
                                  <ShareMidiasSocialCard
                                    title="Compartilhe na sua rede!"
                                  />
                                </v-card-text>
                              </v-card>
                            </v-dialog>

                            <ExempleCodeCard :code="codeDialog" />
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-col>
              </v-row>
            </v-container>
          </section>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import DetailsTooltip from '@/components/tooltips/global/DetailsTooltip.vue'
import ExempleCodeCard from '@/components/cards/system-design/ExempleCodeCard.vue'
import ShareMidiasSocialCard from '@/components/cards/global/ShareMidiasSocialCard.vue'

export default {
  layout: 'system-design',
  components: {
    DetailsTooltip,
    ExempleCodeCard,
    ShareMidiasSocialCard,
  },
  data() {
    return {
      dialog: false,

      codeDialog:
        '<v-dialog v-model="dialog" width="500"> <template v-slot:activator="{ on, attrs }"> <v-btn icon v-bind="attrs" v-on="on"> <v-icon>mdi-bookmark</v-icon> </v-btn> </template> <v-card class="py-8"> <v-card-text> <ShareMidiasSocialCard title="Compartilhe na sua rede!"/> </v-card-text> </v-card> </v-dialog>',
      codeDetails:
        '<DetailsTooltip icon="mdi-help-circle-outline" informacao="As siglas apresentadas referem-se a: Expert Independente."/>',
    }
  },
}
</script>
