<template>
  <div id="page-colors">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <!-- Cores Principais -->
          <section class="mb-16">
            <h2 class="secondary--text title-system-design">
              Cores Principais
            </h2>
            <p class="subtitle-system-design">
              Lista de recursos publicados mais recentes, sejam eles visíveis ou
              não.
            </p>

            <v-card elevation="2">
              <v-card-text class="box-horizontal">
                <div
                  class="swatch box-horizontal-itens"
                  :class="item.name"
                  v-for="(item, index) in colorItens.colorMain"
                  :key="index"
                >
                  <p class="text-caption-2-joca open-sans-bold mb-1">
                    {{ item.name }}
                  </p>
                  <v-btn
                    depressed
                    dark
                    x-small
                    color="black"
                    class="btn-success-joca mb-2 mx-auto"
                    @click="copyCode(item.name, 'Código')"
                  >
                    copiar
                  </v-btn>
                </div>
              </v-card-text>
            </v-card>
          </section>

          <!-- Cores Semânticas -->
          <section class="mb-16">
            <h2 class="secondary--text title-system-design">
              Cores Semânticas
            </h2>
            <p class="subtitle-system-design">Sucess, warning, error, info.</p>

            <v-card elevation="2">
              <v-card-text class="box-horizontal">
                <div
                  class="swatch box-horizontal-itens"
                  :class="item.name"
                  v-for="(item, index) in colorItens.colorSemantics"
                  :key="index"
                >
                  <p class="text-caption-2-joca open-sans-bold mb-1">
                    {{ item.name }}
                  </p>
                  <v-btn
                    depressed
                    dark
                    x-small
                    color="black"
                    class="btn-success-joca mb-2 mx-auto"
                    @click="copyCode(item.name, 'Código')"
                  >
                    copiar
                  </v-btn>
                </div>
              </v-card-text>
            </v-card>
          </section>

          <!-- Cores Escala de Cinza -->
          <section class="mb-16">
            <h2 class="secondary--text title-system-design">Escala de cinza</h2>
            <p class="subtitle-system-design">
              Cores neutras usadas principalmente em textos.
            </p>

            <v-card elevation="2">
              <v-card-text class="box-horizontal">
                <div
                  class="swatch box-horizontal-itens"
                  :class="item.name"
                  v-for="(item, index) in colorItens.colorGrey"
                  :key="index"
                >
                  <p class="text-caption-2-joca open-sans-bold mb-1">
                    {{ item.name }}
                  </p>
                  <v-btn
                    depressed
                    dark
                    x-small
                    color="black"
                    class="btn-success-joca mb-2 mx-auto"
                    @click="copyCode(item.name, 'Código')"
                  >
                    copiar
                  </v-btn>
                </div>
              </v-card-text>
            </v-card>
          </section>

          <!-- Cores em texto -->
          <section>
            <h2 class="secondary--text title-system-design">
              Usado em Cores de texto
            </h2>
            <p class="subtitle-system-design">
              Para usar em cores de textos passamos:
              <strong> nomeDaCor--text </strong>
            </p>

            <p class="text-body-joca">
              Exemplo:
              <span class="grey3Joca--text open-sans-bold"
                >Plataforma JOCA</span
              >
            </p>
          </section>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import copyCode from '@/mixins/CopyCode.vue'
import colors from '@/utils/json/variable-colors'
const colorItens = colors

export default {
  layout: 'system-design',
  mixins: [copyCode],

  data() {
    return {
      colorItens,
    }
  },
}
</script>

<style>
#page-colors .swatch {
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#page-colors .box-horizontal {
  overflow: auto;
  white-space: nowrap;
}

#page-colors .box-horizontal-itens {
  display: inline-flex;
  flex-direction: column;
  white-space: initial;
}
</style>
