<template>
  <div id="page-elements">
    <v-container>
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <!-- Input -->
          <section class="mb-16">
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="8">
                  <h2 class="secondary--text title-system-design">Input</h2>
                  <p class="subtitle-system-design">
                    Input padrão usados em todos os formulários.
                  </p>

                  <v-card>
                    <v-card-text>
                      <div class="d-flex">
                        <label
                          for="titulo"
                          class="primaryMid--text lato-bold text-body-joca"
                        >
                          Título
                          <span class="lato-regular"> (opcional) </span>
                        </label>
                        <v-spacer></v-spacer>
                        <DetailsTooltip
                          icon="mdi-help-circle-outline"
                          informacao="Nesse item é escolhido o submecanismo responsável pela recomendação. Caso você queira inserir um novo submecanismo acesse a aba “Cadastrar Filtros”. "
                        />
                      </div>

                      <v-text-field
                        id="titulo"
                        color="info"
                        class="mt-1"
                        type="text"
                        :append-icon="hasRulesIcon ? 'mdi-alert-circle' : ''"
                        label="Instruções para usuário"
                        outlined
                      >
                      </v-text-field>
                      <v-text-field
                        id="titulo"
                        color="info"
                        append-icon="mdi-alert-circle"
                        error
                        class="mt-1"
                        type="text"
                        :rules="['Informar por que deu erro.']"
                        label="Instruções para usuário"
                        outlined
                      >
                      </v-text-field>
                      <!-- Exemplo de código -->
                      <ExempleCodeCard :code="codeInput" />
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </section>

          <!-- Stepper -->
          <section class="mb-16">
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="8">
                  <h2 class="secondary--text title-system-design">Steppers</h2>
                  <p class="subtitle-system-design">
                    Stepper usados em formulários.
                  </p>

                  <v-card>
                    <v-card-text>
                      <v-stepper
                        v-model="e1"
                        alt-labels
                        flat
                        id="stepperElement"
                        class="pa-1"
                      >
                        <v-stepper-header class="shadow-joca">
                          <v-stepper-step
                            :color="
                              e1 > 1
                                ? 'secondaryLight'
                                : e1 === 1
                                ? 'secondary'
                                : 'grey3Joca'
                            "
                            :complete="e1 > 1 ? true : false"
                            step="1"
                            id="step1"
                          >
                            <p
                              class="text-body-4 mb-0"
                              :class="
                                e1 > 1
                                  ? 'secondaryLight--text'
                                  : e1 === 1
                                  ? 'secondary--text'
                                  : 'grey3Joca--text'
                              "
                            >
                              Dados Gerais
                            </p>
                          </v-stepper-step>

                          <v-divider></v-divider>

                          <v-stepper-step
                            :color="
                              e1 > 2
                                ? 'secondaryLight'
                                : e1 === 2
                                ? 'secondary'
                                : 'grey3Joca'
                            "
                            step="2"
                            :complete="e1 > 2 ? true : false"
                          >
                            <p
                              class="text-body-4 mb-0"
                              :class="
                                e1 > 2
                                  ? 'secondaryLight--text'
                                  : e1 === 2
                                  ? 'secondary--text'
                                  : 'grey3Joca--text'
                              "
                            >
                              Especificações
                            </p>
                          </v-stepper-step>

                          <v-divider></v-divider>

                          <v-stepper-step
                            :color="
                              e1 > 3
                                ? 'secondaryLight'
                                : e1 === 3
                                ? 'secondary'
                                : 'grey3Joca'
                            "
                            step="3"
                            :complete="e1 > 3 ? true : false"
                          >
                            <p
                              class="text-body-4 mb-0"
                              :class="
                                e1 > 3
                                  ? 'secondaryLight--text'
                                  : e1 === 3
                                  ? 'secondary--text'
                                  : 'grey3Joca--text'
                              "
                            >
                              Preview
                            </p>
                          </v-stepper-step>
                        </v-stepper-header>

                        <v-stepper-items>
                          <v-stepper-content step="1">
                            <v-btn color="primary" @click="e1 = 2">
                              Continue
                            </v-btn>
                          </v-stepper-content>

                          <v-stepper-content step="2">
                            <v-btn color="primary" @click="e1 = 3">
                              Continue
                            </v-btn>
                            <v-btn text @click="e1 = 1"> Voltar </v-btn>
                          </v-stepper-content>

                          <v-stepper-content step="3">
                            <v-btn color="primary" @click="e1 = 1">
                              Continue
                            </v-btn>
                            <v-btn text @click="e1 = 2"> Voltar </v-btn>
                          </v-stepper-content>
                        </v-stepper-items>
                      </v-stepper>

                      <v-btn
                        depressed
                        dark
                        small
                        color="black"
                        class="btn-success-joca mb-2 mx-auto"
                        @click="copyElementForId('stepperElement', 'Elemento')"
                      >
                        <v-icon left> mdi-file-code-outline </v-icon>
                        <span class="text-caption-1-joca open-sans-bold">
                          Copiar
                        </span>
                      </v-btn>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </section>

          <!-- Dialog -->
          <section class="mb-16">
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <h2 class="secondary--text title-system-design">
                    Dialog Alerta
                  </h2>
                  <p class="subtitle-system-design">Mensagens de alerta.</p>

                  <v-container>
                    <v-row>
                      <!-- Sucesso -->
                      <v-col cols="12" sm="12" md="6">
                        <v-card class="mb-4">
                          <v-card-text>
                            <v-btn
                              depressed
                              @click="openDialogSuccess"
                              color="success"
                            >
                              <v-icon left> mdi-checkbox-marked-circle </v-icon>

                              <span class="text-caption-1-joca open-sans-bold">
                                Sucesso
                              </span>
                            </v-btn>
                            <ExempleCodeCard>
                              <template slot="blockCode">
                                <!-- prettier-ignore -->
                                openDialogSuccess() {
                            this.$dialog.confirm({
                              text: 'Texto complementar',
                              title: 'Seu cadastro foi realizado com sucesso!',
                              icon: 'mdi-checkbox-marked-circle',
                              width: '800px',
                              actions: [
                                { text: 'Fechar', color: 'grey', key: false, },
                              ],
                            })
                          },
                                <!-- prettier-ignore -->
                              </template>
                            </ExempleCodeCard>
                          </v-card-text>
                        </v-card>
                      </v-col>

                      <!-- Erro -->
                      <v-col cols="12" sm="12" md="6">
                        <v-card class="mb-4">
                          <v-card-text>
                            <v-btn
                              depressed
                              @click="openDialogError"
                              color="error"
                            >
                              <v-icon left> mdi-close-circle </v-icon>
                              <span class="text-caption-1-joca open-sans-bold">
                                Erro
                              </span>
                            </v-btn>
                            <ExempleCodeCard>
                              <template slot="blockCode">
                                <!-- prettier-ignore -->
                                openDialogError() {
                              this.$dialog.error({
                                text: 'Texto complementar',
                                title: 'Há algo de errado na sua publicação',
                                icon: 'mdi-close-circle',
                                width: '800px',
                                actions: [
                                  { text: 'Fechar', color: 'grey', key: false},
                                ],
                              })
                            },
                                <!-- prettier-ignore -->
                              </template>
                            </ExempleCodeCard>
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>

                    <v-row>
                      <!-- Padrão -->
                      <v-col cols="12" sm="12" md="12">
                        <v-card class="mb-4">
                          <v-card-text>
                            <v-btn
                              depressed
                              @click="openDialogDefault"
                              color="info"
                            >
                              <span class="text-caption-1-joca open-sans-bold">
                                Padrão
                              </span>
                            </v-btn>
                            <ExempleCodeCard>
                              <template slot="blockCode">
                                <!-- prettier-ignore -->
                                openDialogError() {
                            this.$dialog.error({
                              text: 'Texto complementar',
                              title: 'Há algo de errado na sua publicação',
                              icon: 'mdi-close-circle',
                              width: '800px',
                              actions: [
                                { text: 'Fechar', color: 'grey', key: false},
                              ],
                            })
                                <!-- prettier-ignore -->
                                },
                              </template>
                            </ExempleCodeCard>
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-col>
              </v-row>
            </v-container>
          </section>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import DetailsTooltip from '@/components/tooltips/global/DetailsTooltip.vue'
import ExempleCodeCard from '@/components/cards/system-design/ExempleCodeCard.vue'
import copyCode from '@/mixins/CopyCode.vue'

export default {
  layout: 'system-design',
  mixins: [copyCode],
  components: { DetailsTooltip, ExempleCodeCard },

  data() {
    return {
      e1: 1,
      hasRulesIcon: false,

      codeInput:
        '<v-text-field id="titulo" color="info" class="mt-1" type="text" :append-icon="hasRulesIcon ? "mdi-alert-circle" : """ label="Instruções para usuário" outlined> </v-text-field>',
    }
  },

  methods: {
    openDialogDefault() {
      this.$dialog.info({
        title: 'Ops! Parece que você ainda não fez login.',
        text: 'Texto complementar',
        width: '800px',
        icon: false,

        actions: [
          {
            text: 'Fechar',
            color: 'grey',
            key: false,
          },
        ],
      })
    },

    openDialogError() {
      this.$dialog.error({
        text: 'Texto complementar',
        title: 'Há algo de errado na sua publicação',
        icon: 'mdi-close-circle',
        width: '800px',

        actions: [
          {
            text: 'Fechar',
            color: 'grey',
            key: false,
          },
        ],
      })
    },

    openDialogSuccess() {
      this.$dialog.confirm({
        text: 'Texto complementar',
        title: 'Seu cadastro foi realizado com sucesso!',
        icon: 'mdi-checkbox-marked-circle',
        width: '800px',

        actions: [
          {
            text: 'Fechar',
            color: 'grey',
            key: false,
          },
        ],
      })
    },
  },
}
</script>
