<template>
  <div id="page-typografy">
    <v-container class="py-16">
      <v-row>
        <v-col cols="12" sm="12" md="12">
          <section class="mb-16">
            <h2 class="secondary--text title-system-design">Lato</h2>
            <p class="subtitle-system-design">
              Escala tipografica contendo a fonte 'Lato'.
            </p>

            <p
              :class="item.class"
              v-for="(item, index) in typographyItens.typographyLato"
              :key="index"
              class="mb-2"
            >
              {{ item.name }} Plataforma JOCA
              <v-btn
                depressed
                dark
                x-small
                color="black"
                class="btn-success-joca mx-auto"
                @click="copyCode(item.class, 'Código')"
              >
                copiar
              </v-btn>
            </p>
          </section>

          <section class="mb-16">
            <h2 class="secondary--text title-system-design">Open Sans</h2>
            <p class="subtitle-system-design">
              Escala tipografica contendo a fonte 'Open Sans'.
            </p>

            <p
              :class="item.class"
              v-for="(item, index) in typographyItens.typographyOpenSans"
              :key="index"
              class="mb-2"
            >
              {{ item.name }} Plataforma JOCA
              <v-btn
                depressed
                dark
                x-small
                color="black"
                class="btn-success-joca mx-auto"
                @click="copyCode(item.class, 'Código')"
              >
                copiar
              </v-btn>
            </p>
          </section>

          <p class="text-body-joca">
            Para controlar o font-weight é necesário que seja passado uma class
            <strong>nomeDaFont-fontWeight.</strong>
          </p>
          <p class="text-body-joca">
            Confira as possibilidades de font-weight no arquivo
            <strong> 'assets/css/typography' </strong>.
          </p>
          <p class="text-body-joca"><strong> Exemplo: </strong> lato-bold.</p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import copyCode from '@/mixins/CopyCode.vue'
import typography from '@/utils/json/typography'
const typographyItens = typography

export default {
  layout: 'system-design',
  mixins: [copyCode],

  data() {
    return {
      typographyItens,
    }
  },
}
</script>
