<template>
  <div id="pagina-trilhas-area-usuario">
    <div class="container">
      <v-row>
        <v-col cols="12" md="6" sm="12">
          <h5 class="text-h5-joca lato-bold secondary--text mb-4">
            Trilhas organizadas ({{ "0" }})
          </h5>
        </v-col>
        <v-col cols="12" md="6" sm="12" class="text-right">
          <v-btn @click="dialogAddTrilha = true" elevation="0" rounded color="primaryMid" class="text-right">
            <span class="white--text text-caption-1-joca open-sans-bold">
              <v-icon>mdi-plus</v-icon> Criar trilha
            </span>
          </v-btn>
        </v-col>
      </v-row>

      <!-- ESTADO DE LOADER -->
      <template v-if="loader">
        <v-row class="my-5">
          <v-col cols="12" md="3" sm="12" v-for="(item, i) in 4" :key="i">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </v-col>
        </v-row>
      </template>
      <!-- / -->
      <template v-else>
        <!-- COM DADOS  -->
        <v-row v-if="trilhas.length" class="my-5">
          <v-col cols="12" md="3" sm="12" v-for="(item, i) in trilhas" :key="i">
            <!-- passar o item para o card -->
            <CardTrilha class="mb-4"></CardTrilha>
          </v-col>
          <!-- PAGINAÇÃO -->
          <v-col cols="12" class="text-center">
            <v-pagination
              depressed
              v-model="paginate.page"
              :length="paginate.last_page"
              color="secondary"
            >
            </v-pagination>
          </v-col>
        </v-row>
        <!-- / -->
        <!-- NENHUM DADO ENCONTRADO -->
        <v-row v-else class="my-5 text-center" justify="center">
          <v-col cols="12" md="4" sm="12">
            <p class="text-body-1-joca grey4Joca--text mt-5">
              Ops, parece que não encontramos nenhuma trilha organizada por você.
            </p>
          </v-col>
        </v-row>
        <!-- / -->
      </template>
    </div>

    <!-- Dialog Cadastro -->
    <v-dialog v-model="dialogAddTrilha" width="828">
      <v-card v-if="dialogAddTrilha" class="pb-4">
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon color="grey3Joca" @click="dialogAddTrilha = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>

        <v-card-text> <CreateTrailForm @cancel="dialogAddTrilha = false" /></v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import CardTrilha from "@/components/cards/platform/Trilhas/CardTrilha";
import CreateTrailForm from "@/components/forms/painel-de-controle/trilhas/CreateTrailForm";

export default {
  components: {
    CardTrilha,
    CreateTrailForm,
  },

  data() {
    return {
      dialogAddTrilha: false,
      loader: false,
      trilhas: [],
      paginate: {
        page: 1,
        last_page: 0,
        total_items: 0,
      },
    };
  },

  mounted() {},
};
</script>
