<template>
  <v-card elevation="0">
    <v-card-text>
      <v-row justify="center">
        <v-col cols="11">
          <v-row>
            <v-col cols="12">
              <p class="secondary--text text-h6-joca lato-bold">
                Filtros
                <span class="text-caption-2-joca">(escolha quantos quiser)</span>
              </p>
            </v-col>
            <v-col cols="12" sm="12" md="12" lg="11">
              <v-row>
                <v-col class="pt-0" cols="12" sm="6" md="4" lg="4">
                  <span class="primaryMid--text text-body-joca lato-black"
                    >Eixo temático</span
                  >
                  <v-select
                    style="border-radius: 8px"
                    class="pt-1"
                    :items="thematicAxisOptions"
                    outlined
                    multiple
                  ></v-select>
                </v-col>

                <v-col class="pt-0" cols="12" sm="6" md="4" lg="4">
                  <span class="primaryMid--text text-body-joca lato-black"
                    >Sugerido para</span
                  >
                  <v-select
                    style="border-radius: 8px"
                    class="pt-1"
                    :items="suggestedForOptions"
                    outlined
                    multiple
                  ></v-select>
                </v-col>

                <v-col class="pt-0" cols="12" sm="6" md="4" lg="4">
                  <span class="primaryMid--text text-body-joca lato-black">Idioma</span>
                  <v-select
                    style="border-radius: 8px"
                    class="pt-1"
                    :items="languagesOptions"
                    outlined
                    multiple
                  ></v-select>
                </v-col>
              </v-row>
            </v-col>

            <v-col class="pt-0" cols="12" sm="12" md="12" lg="12">
              <v-row align="center">
                <v-col class="pt-0" cols="12" sm="12" md="12" lg="8">
                  <span class="primaryMid--text text-body-joca lato-black"
                    >Tipo de recurso</span
                  >
                  <v-select
                    class="pt-1"
                    :items="resourceTypeOptions"
                    outlined
                    multiple
                  ></v-select>
                </v-col>

                <v-col class="pt-0" cols="12" sm="12" md="12" lg="4">
                  <v-row>
                    <v-col cols="12">
                      <v-btn
                        depressed
                        rounded
                        color="secondary"
                        class="btn-secondary-joca"
                      >
                        <span class="text-caption-1-joca open-sans-bold">
                          ATUALIZAR
                        </span>
                      </v-btn>

                      <v-btn text color="info" class="mb-2">
                        <v-icon left> mdi-eraser </v-icon>
                        <span class="text-caption-1-joca" style="text-transform: initial">
                          Limpar filtros
                        </span>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      thematicAxisOptions: [
        "Mostrar todos",
        "Saúde",
        "Sociedade e Cultura",
        "Meio Ambiente e Sustentabilidade",
        "Alimentos e Culinária",
        "Admnistração e Gestão",
        "Outros",
      ],
      suggestedForOptions: [
        "Mostrar todos",
        "Graduação",
        "Pós Graduação",
        "Extensão",
        "Outros",
      ],

      languagesOptions: ["Mostrar todos", "Espanhol", "Inglês", "Português", "Outros"],

      resourceTypeOptions: [
        "Mostrar todos",
        "Animação",
        "Aplicativo móvel",
        "Apresentação",
        "Artigo",
        "Áudio",
        "Estudo dirigido",
        "Experimento prático",
        "Imagem",
        "Infográfico",
        "Jogo",
        "Livro digital",
        "Mapa",
        "PDF",
        "Plano de aula",
        "PowerPoint",
        "Simulador",
        "Software",
        "Texto",
        "Vídeo",
        "Videoaula",
        "Website externo",
        "Outros",
      ],
    };
  },
};
</script>
