<template>
  <div id="busca_trilhas">
    <div class="bg-header py-5">
      <div class="container">
        <v-row justify="center">
          <v-col cols="12" md="7" sm="12">
            <h1 class="text-h3-joca lato-bold primaryMid--text text-center py-4 mb-4">
              Pesquisar na JOCA
            </h1>
            <InputVerdeBusca page="Trilhas"></InputVerdeBusca>
          </v-col>
        </v-row>
      </div>
    </div>

    <div class="container" style="min-height: 450px">
      <v-row class="mt-3">
        <v-col cols="12" md="6" sm="12">
          <!-- TOTAL DE RESULTADOS -->
          <p class="info--text text-body-joca lato-bold">Exibindo {{ "0" }} trilhas</p>
        </v-col>
        <v-col cols="12" md="6" sm="12" class="text-right">
          <p class="text-caption-1-joca primary--text d-inline-block mr-2">Ordenar por</p>
          <!-- FILTROS DE ORDENAÇÃO -->
          <FiltroOrdenar></FiltroOrdenar>
        </v-col>
      </v-row>

      <!-- ESTADO DE LOADER -->
      <template v-if="loader">
        <v-row class="my-5">
          <v-col cols="12" md="3" sm="12" v-for="(item, i) in 4" :key="i">
            <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
          </v-col>
        </v-row>
      </template>
      <!-- / -->
      <template v-else>
        <!-- COM DADOS - TRILHAS  -->
        <v-row v-if="trilhas.length" class="my-5">
          <v-col cols="12" md="3" sm="12" v-for="(trilha, i) in trilhas" :key="i" >
            <!-- passar o item para o card -->
            <CardTrilha></CardTrilha>
          </v-col>
          <!-- PAGINAÇÃO -->
          <v-col cols="12" class="text-center">
            <v-pagination
              depressed
              v-model="paginate.page"
              :length="paginate.last_page"
              color="secondary"
            >
            </v-pagination>
          </v-col>
        </v-row>
        <!-- / -->
        <!-- NENHUM DADO ENCONTRADO -->
        <v-row v-else class="my-5 text-center" justify="center">
          <v-col cols="12" md="4" sm="12">
            <p class="text-body-1-joca grey4Joca--text mt-5">
              Ops, parece que não encontramos nenhuma trilha com esses filtros! :(
            </p>
          </v-col>
        </v-row>
        <!-- / -->
      </template>
    </div>
  </div>
</template>
<script>
import InputVerdeBusca from "../../components/geral/InputVerdeBusca";
import FiltroOrdenar from "../../components/busca/filtros/FiltroOrdenar";
import CardTrilha from "../../components/cards/platform/Trilhas/CardTrilha"

export default {
  layout: "default",
  components: {
    InputVerdeBusca,
    FiltroOrdenar,
    CardTrilha
  },

    data() {
    return {
      trilhas: [],
      loader: false,

      paginate: {
        page: 1,
        last_page: 0,
        total_items: 0,
      },
    };
  },
};
</script>

<style>
#busca_trilhas .bg-header {
  background-image: url("../../static/images/bg-header-busca.jpg");
  background-size: cover;
}
</style>
