<template>
  <div id="page-politica-privacidade">
    <div class="bg-header py-5">
      <div class="container">
        <h1 class="text-h3-joca lato-bold primaryMid--text text-center py-4">
          Política de Privacidade
        </h1>
      </div>
    </div>
    <div class="container py-7">
      <v-row>
        <v-col cols="12" md="12" sm="12">
          <template v-if="loader">
             <v-skeleton-loader
              class="mx-auto"
              type="image"
            ></v-skeleton-loader>
          </template>
          <template v-else>
           <p v-if="politica" class="text-body-2-joca grey1Joca--text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, fuga
              recusandae. Veniam mollitia obcaecati reiciendis iure cupiditate earum atque
              ex praesentium delectus eveniet impedit, enim deserunt nisi et, cumque
              repellat?
            </p>
            <p v-else class="text-body-2-joca grey3Joca--text">
              Ops, ainda não cadastramos nossa Política de Privacidade.
            </p>
          
          </template>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
export default {
  layout: "default",

  data() {
    return {
      loader: false,
      politica: null,
    };
  },
  mounted() {
    this.getPolitica();
  },

  methods: {
    getPolitica() {
      // fazer requisição e alimentar variavel
    },
  },
};
</script>

<style>
#page-politica-privacidade .bg-header {
  background-image: url("../../static/images/bg-padrao-header.jpg");
  background-size: cover;
}
</style>
