<template>
  <div id="resource-table">
    <v-data-table
      flat
      :headers="headers"
      :items="desserts"
      item-key="id"
      hide-default-footer
      :page.sync="paginate.page"
      :items-per-page="paginate.itemsPerPage"
      :search="search"
    >
      <template v-slot:item.title="{ item }">
        <nuxt-link
          :to="
            isPanelTeacher
              ? '/painel-de-controle-docente/pessoas/ver-detalhes/' + item.id
              : '/painel-de-controle/pessoas/ver-detalhes/' + item.id
          "
        >
          <span
            class="text-caption-1-joca info--text text-decoration-underline"
          >
            {{ item.title | truncate(30) }}
          </span>
        </nuxt-link>
      </template>

      <template v-slot:item.date="{ item }">
        <span class="text-caption-1-joca">{{ item.date }}</span>
      </template>

      <template v-slot:item.type="{ item }">
        <span class="accent--text text-caption-1-joca">{{ item.type }}</span>
      </template>

      <template v-slot:item.permission="{ item }">
        <span
          class="text-caption-1-joca"
          :class="
            item.permission === 'PUBLICADOR' ? 'accent--text' : 'accent--text'
          "
        >
          {{ item.permission }}
        </span>
      </template>

      <template v-slot:item.status="{ item }">
        <v-chip
          :color="item.status === 'ATIVA' ? 'info' : 'infoLight'"
          outlined
        >
          <span class="text-caption-1-joca open-sans-semibold mr-2">
            {{ item.status }}
          </span>
          <v-icon small> mdi-eye </v-icon>
        </v-chip>
      </template>

      <template v-slot:item.actions="{ item }">
        <template>
          <v-row class="py-5" justify="end">
            <!-- Editar -->
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  small
                  color="grey3Joca"
                  v-bind="attrs"
                  v-on="on"
                  @click="editPeople(item)"
                >
                  <v-icon small>mdi-pencil</v-icon>
                </v-btn>
              </template>
              <span>Editar</span>
            </v-tooltip>

            <!-- Abrir -->
            <v-tooltip bottom v-if="!isAprovalTeacher">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  small
                  class="mx-1"
                  color="grey3Joca"
                  v-bind="attrs"
                  v-on="on"
                  @click="viewDetailsPeople(item.id)"
                >
                  <v-icon small>mdi-arrow-top-right-bold-box-outline</v-icon>
                </v-btn>
              </template>
              <span>Abrir</span>
            </v-tooltip>

            <!-- Excluir -->
            <v-tooltip bottom v-if="!isPanelTeacher">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  small
                  color="grey3Joca"
                  v-bind="attrs"
                  v-on="on"
                  @click="deletePeople(item.id)"
                >
                  <v-icon small>mdi-delete</v-icon>
                </v-btn>
              </template>
              <span>Excluir</span>
            </v-tooltip>
          </v-row>
        </template>
      </template>
    </v-data-table>

    <!-- Footer/Paginação -->
    <slot name="footer"> </slot>
  </div>
</template>

<script>
import Filters from '@/mixins/Filters.vue'

export default {
  mixins: [Filters],
  props: ['search', 'paginate', 'isAprovalTeacher', 'isPanelTeacher'],

  data() {
    return {
      showTooltip: false,
      headers: [
        { text: 'NOME', value: 'title', sortable: false, width: 300 },
        { text: 'DATA', value: 'date', sortable: false },
        { text: 'E-MAIL', value: 'email', sortable: false },
        { text: 'TIPO DE PERFIL', value: 'type', sortable: false },
        { text: 'PERMISSÃO', value: 'permission', sortable: false },

        { text: 'STATUS', value: 'status', sortable: false },
        { text: '', value: 'actions', sortable: false, width: 100 },
      ],

      desserts: [
        {
          id: '1',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'PUBLICADOR',
          type: 'DISCENTE',
          status: 'ATIVA',
        },

        {
          id: '2',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'PUBLICADOR',
          type: 'DISCENTE',
          status: 'ATIVA',
        },

        {
          id: '3',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'PUBLICADOR',
          type: 'DISCENTE',
          status: 'ATIVA',
        },

        {
          id: '4',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'LEITOR',
          type: 'DOCENTE',
          status: 'INATIVA',
        },

        {
          id: '5',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'LEITOR',
          type: 'GERAL',
          status: 'INATIVA',
        },

        {
          id: '6',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'LEITOR',
          type: 'GERAL',
          status: 'INATIVA',
        },

        {
          id: '7',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'LEITOR',
          type: 'DOCENTE',
          status: 'ATIVA',
        },

        {
          id: '8',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'LEITOR',
          type: 'DOCENTE',
          status: 'ATIVA',
        },

        {
          id: '9',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'LEITOR',
          type: 'GERAL',
          status: 'ATIVA',
        },

        {
          id: '10',
          title: 'O uso de frutinhas silvestres na cozinha...',
          date: '20/10/2021',
          email: 'marcia_peixoto@hotmail.com',
          permission: 'LEITOR',
          type: 'GERAL',
          status: 'ATIVA',
        },
      ],
    }
  },

  methods: {
    editPeople(item) {
      console.log(this.isPanelTeacher, 'isPanelTeacher')

      if (this.isAprovalTeacher) {
        this.$router.push(
          '/painel-de-controle/aprovacao-de-docentes/editar/' + item.id
        )
      }
      if (this.isPanelTeacher) {
        if (item.type === 'DISCENTE') {
          this.$router.push(
            '/painel-de-controle-docente/pessoas/edicao/estudante/' + item.id
          )
        } else {
          this.$router.push(
            '/painel-de-controle-docente/pessoas/edicao/outros/' + item.id
          )
        }
      } else {
        if (item.type === 'DISCENTE') {
          this.$router.push(
            '/painel-de-controle/pessoas/edicao/estudante/' + item.id
          )
        } else if (item.type === 'DOCENTE') {
          this.$router.push(
            '/painel-de-controle/pessoas/edicao/professor/' + item.id
          )
        } else {
          this.$router.push(
            '/painel-de-controle/pessoas/edicao/outros/' + item.id
          )
        }
      }
    },

    viewDetailsPeople(id) {
      if (this.isPanelTeacher) {
        this.$router.push(
          '/painel-de-controle-docente/pessoas/ver-detalhes/' + id
        )
      } else {
        this.$router.push('/painel-de-controle/pessoas/ver-detalhes/' + id)
      }
    },

    deletePeople(id) {
      console.log(id)

      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir o perfil selecionado? Essa ação não poderá ser desfeita e a pessoa perderá o acesso à JOCA.',
        title: 'Deseja excluir o perfil selecionado?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'SIM, EXCLUIR', color: 'errorLight', key: false },
          { text: 'CANCELAR', color: 'error', key: false },
        ],
      })
    },
  },
}
</script>

<style>
#resource-table .v-data-table-header th {
  color: var(--primaryMid) !important;
  text-transform: uppercase;
}

#resource-table .v-data-table tbody {
  color: var(--grey2Joca) !important;
  font-size: var(--size-body-4) !important;
}
</style>
