<template>
  <div id="page-user-terms">
    <div class="grey6Joca">
      <v-container>
        <v-row class="pb-10">
          <v-col cols="12" sm="12" md="12" lg="12">
            <section>
              <v-row>
                <v-col cols="12" md="12" lg="12">
                  <v-breadcrumbs
                    :items="items"
                    class="panel-breadcrumbs pb-0"
                  ></v-breadcrumbs>

                  <h2 class="text-body-joca grey2Joca--text font-weight-regular">
                    Visão e edição da Política de Privacidade
                  </h2>
                </v-col>
              </v-row>
            </section>
          </v-col>

        </v-row>
      </v-container>

      <v-row>
        <v-col class="pt-0" cols="12">
          <FormsHeader title="Política de Privacidade" />
        </v-col>
      </v-row>
    </div>
    <div class="whiteJoca pt-10">
      <v-container>
        <v-row justify="center">
          <v-col cols="12" sm="10" lg="10">
            <h6 class="text-h6-joca secondaryMid--text lato-black mb-6">1. Edite o texto de Política de Privacidade</h6>
            <client-only>
              <VueEditor v-model="privacity" :editor-toolbar="customToolbar" />
            </client-only>
          </v-col>

          <v-col class="py-10" cols="12" sm="10" lg="10">
            <v-container>
              <v-row justify="center">
                <v-col class="pt-0" cols="8" sm="3" md="2" lg="2">
                  <v-btn @click.stop.prevent="$emit('cancel')" width="100%" outlined rounded color="primaryMid" class="btn-primary-outlined-joca">
                    <span class="text-caption-1-joca open-sans-bold"> Cancelar </span>
                  </v-btn>
                </v-col>

                <v-col class="pt-0" cols="8" sm="4" md="4" lg="3">
                  <v-btn width="100%" depressed rounded color="primaryMid" class="btn-primary-joca">
                    <span class="text-caption-1-joca whiteJoca--text open-sans-bold"> salvar alterações </span>
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>

import FormsHeader from '@/components/header/global/FormsHeader.vue'

export default {
  layout: 'control-panel',
  components: {
    FormsHeader
  },
  data() {
    return {
      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          to: '/painel-de-controle/geral',
        },
        {
          text: 'Política de Privacidade',
          disabled: true,
          to: '/painel-de-controle/politica-de-privacidade',
        },
      ],
      customToolbar: [
        ["bold", "italic", "underline"],
        [{ list: "ordered" }, { list: "bullet" }],
      ],

      privacity: 'Data de vigência: 20/01/2022 Aqui estão os “Termos de Uso” da Plataforma de Recursos Educacionais Digitais Josué de Castro, isto é, as regras de funcionamento da Plataforma e seus serviços, e o que se espera de seus usuários. Por “usuário”, entende-se qualquer pessoa que acesse o domínio www.dominiodaJOCA.com.br  tanto para pesquisa (acesso) como para a inclusão de dados e informações (participação) mediante cadastro.Fazem parte dos Termos de Uso as políticas de responsabilidade, de privacidade e confidencialidade, a licença de uso do conteúdo e as informações sobre como reportar violações.Ao utilizar a Plataforma de Recursos Educacionais Digitais do Instituto de Nutrição Josué de Castro (JOCA), o usuário aceita todas as condições aqui estabelecidas. O uso da Plataforma de RED Josué de Castro implica aceite das condições aqui elencadas.Por “serviço”, entende-se qualquer funcionalidade ou ferramenta que permita a interatividade com o usuário, como, por exemplo, usuário subir um recurso, postar um comentário, criar uma coleção ou enviar uma mensagem.A aceitação destes "Termos de Uso" é indispensável à utilização da Plataforma de REDs JOCA. Todos os usuários deverão ler, certificar-se de tê-los entendido e aceitar todas as condições neles estabelecidas. Dessa forma, deve ficar claro que a utilização desta "Plataforma de REDs JOCA" implica aceitação completa deste documento intitulado Termos de Uso. Caso tenha dúvidas sobre os termos, utilize o formulário disponível em “Contato” para saná-las.1.Características da Plataforma de Recursos Educacionais Digitais Josué de CastroA Plataforma de REDs JOCA é um é sítio (website) em formato de plataforma interativa colaborativa para propiciar a formação de uma rede de pessoas interessadas em usar, criar e compartilhar recursos e materiais educacionais. Seu objetivo é reunir e disponibilizar conteúdos do acervo do MEC, antes distribuídos em diferentes portais (Portal do Professor, Banco Internacional de Objetos Educacionais, Domínio Público e TV Escola), conteúdo de organizações parceiras, bem como fomentar espaços de participação, criação e compartilhamento de conhecimento entre usuários para temas relacionados à educação básica brasileira.A Plataforma de REDs JOCA foi criada em software livre, cujas informações para desenvolvedores estão disponíveis em gitlab.c3sl.ufpr.br/portalmec/portalmec. A Plataforma de REDs JOCA funciona ao mesmo tempo como repositório e referatório:Repositório: sítio na web que armazena conteúdos diversos (texto, áudio, vídeo, multimídia, etc.). Ou seja, um repositório efetivamente guarda uma cópia do recurso educacional. Todos os conteúdos depositados na Plataforma de REDs JOCA têm uma licença livre e são considerados Recursos Educacionais Abertos. (Veja a seção 4 “Licença de uso do conteúdo”).Referatório: sítio na web que indica ou aponta para conteúdos diversos em sites externos, sem armazená-los. Nesse caso, o conteúdo não está armazenado na Plataforma de REDs JOCA, que somente indica a localização do recurso através de um link. Os conteúdos referenciados podem ser fechados ou abertos. (Veja a seção 4, “Licença de uso do conteúdo”).No que se refere ao Repositório, a Plataforma de REDs JOCA disponibiliza recursos educacionais digitais e também permite que usuários (pessoas físicas) depositem (publiquem, façam upload) seus recursos e materiais para serem armazenados, desde que façam seu cadastro, disponibilizem as informações necessárias no momento da publicação e respeitem as regras estabelecidas neste Termo.Os usuários terão acesso a uma variedade de recursos on-line. Para além, mediante cadastro, terão a sua disposição um maior número de funcionalidades, incluindo ferramentas de comunicação e interação, mecanismos de consulta, poderão fazer upload e download de recursos educacionais digitais. Poderão utilizar serviços relacionados à criação, à consulta e ao acompanhamento de coleções de recursos educacionais digitais de outros usuários, dentre outras funcionalidades. Professores cadastrados e identificados poderão ainda fazer upload de RED.No que se refere ao Referatório, a Plataforma de REDs JOCA indica e organiza links externos para recursos e materiais de terceiros. Os recursos serão disponibilizados mediante a adesão aos critérios específicos levantados pelo MEC. Para mais informações, utilize a página de Contato da plataforma.'
    }
  },
}
</script>


