* {
  font-family: 'Open Sans Regular';
  letter-spacing: 0em;
}

body {
  font-size: 16px;
  color: var(--grey1Joca);
}

body p {
  margin-bottom: 0px !important;
}

a {
  text-decoration: none;
}

hr {
  border: 1px solid rgba(118, 117, 131, 0.3);
}

ul {
  padding-left: 0px !important;
  list-style-type: none;
  list-style-position: inside !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.shadow-joca {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05) !important;
}

.cursor-pointer {
  cursor: pointer;
}