/* Geral */
.bg-degrade-bg-joca {
  background: var(--degrade-bg-joca) !important;
}

.border-color-grey4Joca {
  border-color: var(--grey4Joca) !important;
}

/*Icon Midias*/
.share-network-whatsapp i {
  color: #25d366 !important;
}
.share-network-twitter i {
  color: #1da1f2 !important;
}
.share-network-facebook i {
  color: #3c5a99 !important;
}

/* Tabela - Header */
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
  color: var(--grey4Joca) !important;
}

/* V-Dialog */
.vuedl-layout .v-dialog-wrapper .v-toolbar__content .v-toolbar__title,
.vuedl-layout .v-dialog-wrapper .v-toolbar__content i {
  color: var(--success);
}
.vuedl-layout .v-dialog-wrapper .info .v-toolbar__content .v-toolbar__title {
  color: var(--primary);
}
.vuedl-layout .v-dialog-wrapper .error .v-toolbar__content .v-toolbar__title,
.vuedl-layout .v-dialog-wrapper .error .v-toolbar__content i {
  color: var(--error);
}
