/*
  Arquivo de importação de font-family.

  Links de dowload:
  Lato: https://fonts.google.com/specimen/Lato?query=lato
  Open Sans: https://fonts.google.com/specimen/Open+Sans?selection.family=Noto+Sans+SC&query=open+sans

*/

/* Lato */
@font-face {
  font-family: 'Lato Black';
  src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lato Italic';
  src: url('../fonts/lato/Lato-Italic.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
}

/* Open Sans */
@font-face {
  font-family: 'Open Sans Black';
  src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('../fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('../fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
}
