@media (max-width: 425px) {
  .align-center-mobile-xs {
    text-align: center;
  }
  .mobile-xs-none {
    display: none !important;
  }
  .mobile-xs-column {
    flex-direction: column;
  }
  .mobile-xs-mx-none {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

@media (max-width: 768px) {
  .align-center-mobile-sm {
    text-align: center;
  }
}
