/* Fonts-Family */
.lato-black {
  font-family: 'Lato Black', sans-serif;
}
.lato-bold {
  font-family: 'Lato Bold', sans-serif;
}
.lato-italic {
  font-family: 'Lato Italic', sans-serif;
}
.lato-light {
  font-family: 'Lato Light', sans-serif;
}
.lato-regular {
  font-family: 'Lato Regular', sans-serif;
}

.open-sans-black {
  font-family: 'Open Sans Black', sans-serif;
}
.open-sans-bold {
  font-family: 'Open Sans Bold', sans-serif;
}
.open-sans-semibold {
  font-family: 'Open Sans SemiBold', sans-serif;
}
.open-sans-italic {
  font-family: 'Open Sans Italic', sans-serif;
}
.open-sans-light {
  font-family: 'Open Sans Light', sans-serif;
}
.open-sans-regular {
  font-family: 'Open Sans Regular', sans-serif;
}

/* Escala Tipográfica*/
.text-h1-joca {
  line-height: var(--line-h1);
  font-size: var(--size-h1);
}
.text-h2-joca {
  line-height: var(--line-h2);
  font-size: var(--size-h2);
}
.text-h3-joca {
  line-height: var(--line-h3);
  font-size: var(--size-h3);
}
.text-h4-joca {
  line-height: var(--line-h4);
  font-size: var(--size-h4);
}
.text-h5-joca {
  line-height: var(--line-h5);
  font-size: var(--size-h5);
}
.text-h6-joca {
  line-height: var(--line-h6);
  font-size: var(--size-h6);
}

.text-body-joca {
  line-height: var(--line-body);
  font-size: var(--size-body);
}
.text-body-1-joca {
  line-height: var(--line-body-1);
  font-size: var(--size-body-1);
}
.text-body-2-joca {
  line-height: var(--line-body-2);
  font-size: var(--size-body-2);
}
.text-body-3-joca {
  line-height: var(--line-body-3);
  font-size: var(--size-body-3);
}
.text-body-4-joca {
  line-height: var(--line-body-4);
  font-size: var(--size-body-4);
}

.text-caption-1-joca {
  line-height: var(--line-caption-1);
  font-size: var(--size-caption-1);
  text-transform: uppercase;
}
.text-caption-2-joca {
  line-height: var(--line-caption-2);
  font-size: var(--size-caption-2);
}

.text-transform-none {
  text-transform: none !important;
}

/* Elementos */
.title-system-design {
  line-height: var(--line-h5);
  font-size: var(--size-h5);
  font-family: 'Lato Bold', sans-serif;
  margin-bottom: 0.25em;
}

.subtitle-system-design {
  line-height: var(--line-body);
  font-size: var(--size-body);
  margin-bottom: 1.5em !important;
}
