<template>
  <v-form
    id="formRegisterUser"
    ref="formRegisterUser"
    @submit.prevent="registerUser"
    lazy-validation
  >
    <v-container class="px-0" v-if="isMyArea">
      <v-row>
        <!-- Sobre -->
        <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
          <h5 class="secondary--text text-h5-joca lato-bold mb-11">
            Escreva sobre você
          </h5>

          <label for="about" class="primaryMid--text lato-bold text-body-joca">
            Sobre
            <span class="lato-regular"> (um texto sobre você) </span>
          </label>

          <v-textarea
            id="about"
            color="info"
            counter="255"
            outlined
            class="mt-1 mb-10"
            type="text"
            name="input-7-4"
            label="Utilize este espaço para descrever com mais detalhes sua denúncia"
            :rules="[verifyMaxLength]"
          ></v-textarea>

          <h5 class="secondary--text text-h5-joca lato-bold mb-11">
            Altere seus dados
          </h5>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="px-0">
      <v-row>
        <!-- Nome -->
        <v-col cols="12" sm="6" md="6" lg="6" xl="6" class="py-0">
          <div class="d-flex">
            <label for="name" class="primaryMid--text lato-bold text-body-joca">
              Nome
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos seu nome para ser exibido na plataforma"
            />
          </div>
          <v-text-field
            v-model="form.name"
            id="name"
            color="info"
            class="mt-1"
            type="text"
            label="Insira seu primeiro nome"
            outlined
            :rules="[verifyDataRequired, verifyMaxLength]"
          >
          </v-text-field>
        </v-col>

        <!-- Sobrenome -->
        <v-col cols="12" sm="6" md="6" lg="6" xl="6" class="py-0">
          <div class="d-flex">
            <label
              for="lastName"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Sobrenome
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos seu sobrenome para ser exibido na plataforma "
            />
          </div>
          <v-text-field
            v-model="form.last_name"
            id="lastName"
            color="info"
            class="mt-1"
            type="text"
            label="Insira seu sobrenome"
            outlined
            :rules="[verifyDataRequired, verifyMaxLength]"
          >
          </v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <!-- Nome social -->
        <v-col cols="12" sm="6" md="4" lg="4" xl="4" class="py-0">
          <div class="d-flex">
            <label
              for="nameSocial"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Nome social
              <span class="lato-regular"> (opcional) </span>
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Defina como gostaria de ser chamado na JOCA"
            />
          </div>
          <v-text-field
            v-model="form.name_social"
            id="nameSocial"
            color="info"
            class="mt-1"
            type="text"
            label="Como gostaria de ser chamado(a)?"
            outlined
            :rules="[verifyMaxLength]"
          >
          </v-text-field>
        </v-col>

        <!-- Gênero -->
        <v-col cols="12" sm="6" md="4" lg="4" xl="4" class="py-0">
          <div class="d-flex mb-1">
            <label
              for="gender"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Gênero
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos seu gênero para conhecermos nosso público"
            />
          </div>
          <v-select
            v-model="form.gender"
            id="gender"
            :items="optionsGender"
            label="Qual seu gênero?"
            outlined
            :rules="[verifyDataRequired]"
          ></v-select>
        </v-col>

        <!-- Data de nascimento -->
        <v-col cols="12" sm="6" md="4" lg="4" xl="4" class="py-0">
          <div class="d-flex">
            <label
              for="birthDate"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Data de nascimento
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos sua data de nascimento para verificação de idade mínima (18 anos)"
            />
          </div>
          <v-text-field
            id="birthDate"
            v-model="form.date_birth"
            color="info"
            class="mt-1"
            type="date"
            outlined
            :rules="[verifyDataRequired, verifyAge]"
          >
          </v-text-field>
        </v-col>

        <!-- CEP -->
        <v-col cols="12" sm="6" md="4" lg="4" xl="4" class="py-0">
          <div class="d-flex">
            <label for="cep" class="primaryMid--text lato-bold text-body-joca">
              CEP
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos seu CEP para preenchimento automático do seu endereço"
            />
          </div>

          <v-text-field
            id="cep"
            v-model="form.cep"
            v-mask="'#####-###'"
            color="info"
            class="mt-1"
            type="text"
            outlined
            label="Insira seu CEP"
            :rules="[verifyDataRequired]"
            :error-messages="errorCep"
          >
          </v-text-field>
        </v-col>

        <!-- Estado -->
        <v-col cols="12" sm="6" md="4" lg="4" xl="4" class="py-0">
          <div class="d-flex">
            <label for="uf" class="grey3Joca--text lato-bold text-body-joca">
              Estado
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos seu estado para entendermos melhor nossos usuários"
            />
          </div>
          <v-text-field
            id="uf"
            color="info"
            class="mt-1"
            type="text"
            outlined
            v-model="form.state"
            label="Preencha o CEP"
            disabled
            :rules="[verifyDataRequired]"
          >
          </v-text-field>
        </v-col>

        <!-- Municipio -->
        <v-col cols="12" sm="6" md="4" lg="4" xl="4" class="py-0">
          <div class="d-flex">
            <label for="city" class="grey3Joca--text lato-bold text-body-joca">
              Município
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos sua cidade para identificação na plataforma"
            />
          </div>
          <v-text-field
            id="city"
            v-model="form.city"
            color="info"
            class="mt-1"
            type="text"
            outlined
            label="Preencha o CEP"
            disabled
            :rules="[verifyDataRequired]"
          >
          </v-text-field>
        </v-col>
      </v-row>

      <!-- Dados pedidos para usuários do tipo: estudante -->
      <v-row
        v-if="
          typeUser === 'estudante' ||
          ($auth.loggedIn && $auth.user.user_type === 'estudante')
            ? true
            : false
        "
      >
        <!-- Curso -->
        <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="py-0">
          <div class="d-flex mb-1">
            <label
              for="progress"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Curso
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos seu curso para identificação na plataforma"
            />
          </div>
          <v-select
            v-model="form.curso"
            id="progress"
            :items="optionsCurso"
            label="Selecione o seu curso do INJC"
            outlined
            :rules="[verifyDataRequired]"
          ></v-select>
        </v-col>

        <!-- Matrícula -->
        <v-col cols="12" sm="6" md="6" lg="6" xl="6" class="py-0">
          <div class="d-flex">
            <label
              for="registration"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Matrícula
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos sua matrícula para identificação na plataforma"
            />
          </div>
          <v-text-field
            v-model="form.matricula"
            id="registration"
            color="info"
            class="mt-1"
            type="text"
            label="Insira sua matrícula"
            outlined
            :rules="[verifyDataRequired, verifyMaxLength]"
          >
          </v-text-field>
        </v-col>
      </v-row>

      <!-- Dados pedidos para usuários do tipo: professor -->
      <v-row
        v-if="
          typeUser === 'professor' ||
          ($auth.loggedIn && $auth.user.user_type === 'professor')
            ? true
            : false
        "
      >
        <!-- Curso -->
        <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="py-0">
          <div class="d-flex mb-1">
            <label
              for="progress"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Curso
              <span class="lato-regular"> (pode selecionar mais de um) </span>
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos seu curso para identificação na plataforma"
            />
          </div>
          <v-select
            v-model="form.curso"
            id="progress"
            :items="optionsCurso"
            label="Selecione o seu curso do INJC"
            outlined
            :rules="[verifyDataRequired]"
            multiple
          ></v-select>
        </v-col>

        <!-- Número SIAPE -->
        <v-col cols="12" sm="6" md="6" lg="6" xl="6" class="py-0">
          <div class="d-flex">
            <label
              for="siape"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Número SIAPE
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Solicitamos seu número SIAPE para validarmos seu cadastro com permissão de publicador"
            />
          </div>
          <v-text-field
            v-model="form.numero_ciape"
            id="siape"
            color="info"
            class="mt-1"
            type="text"
            label="Insira o seu número SIAPE"
            outlined
            :rules="[verifyDataRequired, verifyMaxLength]"
          >
          </v-text-field>
        </v-col>
      </v-row>

      <!-- Dados pedidos para usuários do tipo: outros -->
      <v-row v-if="typeUser === 'outros'">
        <!-- área de atuação -->
        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="py-0">
          <div class="d-flex mb-1">
            <label
              for="performance"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Área de atuação
              <span class="lato-regular"> (opcional) </span>
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Perguntamos sua área de atuação para entendermos melhor nossos usuários"
            />
          </div>
          <v-select
            id="performance"
            :items="areasAtuacao"
            label="Selecione sua área de atuação"
            outlined
            v-model="form.area_atuacao"
          ></v-select>
        </v-col>

        <!-- Nome social -->
        <v-col cols="12" sm="6" md="4" lg="4" xl="4" class="py-0">
          <div class="d-flex">
            <label
              for="institution"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Instituição da área
              <span class="lato-regular"> (opcional) </span>
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Perguntamos sua instituição para entendermos melhor nossos usuários "
            />
          </div>
          <v-text-field
            v-model="form.instituicao_de_atuacao"
            id="institution"
            color="info"
            class="mt-1"
            type="text"
            label="Insira o nome da sua instituição"
            outlined
            :rules="[verifyMaxLength]"
          >
          </v-text-field>
        </v-col>

        <!-- Como conheceu a JOCA? -->
        <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="py-0">
          <div class="d-flex mb-1">
            <label for="met" class="primaryMid--text lato-bold text-body-joca">
              Como conheceu a JOCA?
              <span class="lato-regular"> (opcional) </span>
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="Perguntamos como conheceu a JOCA para entendermos melhor nossos usuários "
            />
          </div>
          <v-select
            v-model="form.como_conheceu"
            id="met"
            :items="listaConheceu"
            label="Selecione como conheceu a JOCA"
            outlined
          ></v-select>
        </v-col>
      </v-row>

      <v-row v-if="!isPanelControl">
        <!-- E-mail -->
        <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="py-0">
          <div class="d-flex">
            <label
              for="email"
              class="primaryMid--text lato-bold text-body-joca"
            >
              E-mail
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="E-mail para ser utilizado como login "
            />
          </div>

          <v-text-field
            v-model="form.email"
            id="email"
            color="info"
            class="mt-1"
            type="email"
            label="Digite o e-mail cadastrado"
            outlined
            :rules="[
              verifyDataRequired,
              verifyMaxLength,
              (v) => /.+@.+\..+/.test(v) || 'E-mail inválido.',
            ]"
          >
          </v-text-field>
        </v-col>

        <!-- Confirme Email -->
        <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="py-0">
          <label
            for="emailConfirmation"
            class="primaryMid--text lato-bold text-body-joca"
          >
            Confirmar
            <span
              class="primaryMid--text lato-bold text-body-joca"
              v-if="isMyArea"
            >
              novo
            </span>
            e-mail
          </label>

          <v-text-field
            v-model="form.email_confirmation"
            id="emailConfirmation"
            color="info"
            class="mt-1"
            type="email"
            label="Repita seu e-mail"
            outlined
            :rules="[
              verifyDataRequired,
              verifyMaxLength,
              (v) => /.+@.+\..+/.test(v) || 'E-mail inválido.',
              compareValues(form.email_confirmation, form.email),
            ]"
          >
          </v-text-field>
        </v-col>
      </v-row>

      <v-row v-if="!isPanelControl">
        <!-- Senha -->
        <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="py-0">
          <div class="d-flex">
            <label for="password">
              <span
                class="primaryMid--text lato-bold text-body-joca"
                v-if="isMyArea"
              >
                Alterar senha
              </span>

              <span class="primaryMid--text lato-bold text-body-joca" v-else>
                Senha
              </span>
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="E-mail para ser utilizado como login "
            />
          </div>

          <v-text-field
            v-model="form.password"
            outlined
            :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show3 ? 'text' : 'password'"
            id="password"
            label="Crie uma senha"
            class="input-group--focused"
            @click:append="show3 = !show3"
            :rules="[verifyDataRequired, verifyMinLengthPassword]"
          ></v-text-field>
        </v-col>

        <!-- Confirmar Senha -->
        <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="py-0">
          <div class="d-flex">
            <label
              for="passwordConfirm"
              class="primaryMid--text lato-bold text-body-joca"
            >
              Confirmar
              <span
                class="primaryMid--text lato-bold text-body-joca"
                v-if="isMyArea"
              >
                nova
              </span>
              senha
            </label>
            <v-spacer></v-spacer>
            <DetailsTooltip
              icon="mdi-help-circle-outline"
              informacao="E-mail para ser utilizado como login "
            />
          </div>

          <v-text-field
            v-model="form.password_confirmation"
            outlined
            :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show4 ? 'text' : 'password'"
            id="passwordConfirm"
            label="Confirme sua senha"
            class="input-group--focused"
            @click:append="show4 = !show4"
            :rules="[
              verifyDataRequired,
              verifyMinLengthPassword,
              compareValues(form.password_confirmation, form.password),
            ]"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row v-if="!isPanelControl && !isMyArea">
        <!-- Checkbox -->
        <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="py-0">
          <div class="mb-16">
            <v-checkbox
              v-model="form.termo_politica"
              :error-messages="errorPoliticsTerms ? 'Dado obrigatório' : ''"
              :hide-details="errorPoliticsTerms ? false : true"
              :rules="[verifyDataRequired]"
            >
              <template v-slot:label>
                <p>
                  Eu aceito os Termos de Uso e Políticas de Privacidade.

                  <span class="primaryMid--text" @click="dialogTerms = true">
                    Leia os Termos de Uso
                  </span>

                  e

                  <span class="primaryMid--text" @click="dialogPolics = true">
                    Políticas de Privacidade.
                  </span>
                </p>
              </template>
            </v-checkbox>

            <v-checkbox
              v-model="form.receber_novidades"
              label="Gostaria de receber e-mails sobre novidades da Plataforma JOCA."
              hide-details
            ></v-checkbox>
          </div>
        </v-col>
      </v-row>

      <!-- Mais informações -->
      <div v-if="isPanelControl" class="pt-8">
        <h2 class="text-h4-joca lato-bold secondary--text mb-2 lato-bold mb-8">
          Mais informações
        </h2>

        <v-row>
          <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="py-0">
            <h4 class="primaryMid--text text-body-joca lato-bold">
              Permissões
            </h4>

            <v-radio-group v-model="permission">
              <v-radio
                v-for="(item, index) in optionsPermission"
                :key="index"
                :label="item"
                :value="item"
                color="info"
              ></v-radio>
            </v-radio-group>
          </v-col>
          <v-col cols="12" sm="12" md="4" lg="4" xl="4" class="py-0">
            <h4 class="primaryMid--text text-body-joca lato-bold">
              Status da pessoa
            </h4>

            <v-radio-group v-model="status">
              <v-radio
                v-for="(item, index) in optionsStatus"
                :key="index"
                :label="item"
                :value="item"
                color="info"
              ></v-radio>
            </v-radio-group>
          </v-col>
        </v-row>
      </div>

      <v-row>
        <v-col cols="12" sm="12" md="12" lg="12" xl="12">
          <!-- Botões -->
          <div class="text-center mb-16">
            <slot name="action-secondary"> </slot>
            <v-btn
              depressed
              rounded
              color="primary"
              class="btn-primary-joca"
              type="submit"
            >
              <span
                class="text-caption-1-joca whiteJoca--text open-sans-bold"
                v-if="isMyArea"
              >
                salvar alterações
              </span>

              <span
                class="text-caption-1-joca whiteJoca--text open-sans-bold"
                v-else
              >
                Cadastrar
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>

      <!-- Dialog:  Termos de Uso -->
      <v-dialog v-model="dialogTerms" width="828">
        <v-card>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn icon color="grey3Joca" @click="dialogTerms = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
          <v-card-text> Termos de Uso </v-card-text>
        </v-card>
      </v-dialog>

      <!-- Dialog: Política de Privacidade -->
      <v-dialog v-model="dialogPolics" width="828">
        <v-card>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn icon color="grey3Joca" @click="dialogPolics = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
          <v-card-text> Política de Privacidade </v-card-text>
        </v-card>
      </v-dialog>
    </v-container>
  </v-form>
</template>
<script>
import DetailsTooltip from '@/components/tooltips/global/DetailsTooltip.vue'
import ValidationForm from '@/mixins/ValidationForm.vue'
import cep from 'cep-promise'

export default {
  mixins: [ValidationForm],
  props: ['isPanelControl', 'typeUser', 'isMyArea'],
  components: {
    DetailsTooltip,
  },

  data() {
    return {
      optionsGender: [
        { value: 'F', text: 'Feminino' },
        { value: 'M', text: 'Masculino' },
        { value: 'O', text: 'Outros' },
      ],
      optionsCurso: [],
      areasAtuacao: ['Apagar', 'aqui', 'ao', 'trabalhar', 'com', 'banco'],
      listaConheceu: ['Apagar', 'aqui', 'ao', 'trabalhar', 'com', 'banco'],
      optionsPermission: ['Leitor', 'Publicador', 'Administrador'],
      optionsStatus: ['Ativa', 'Desativa'],

      permission: 'Leitor',
      status: 'Ativa',

      show3: false,
      show4: false,

      dialogPolics: false,
      dialogTerms: false,

      errorCep: '',
      errorPoliticsTerms: false,

      form: {
        name: null,
        last_name: null,
        name_social: null,
        gender: null,
        date_birth: null,
        cep: null,
        state: null,
        city: null,
        curso: null,
        matricula: null,
        email: null,
        email_confirmation: null,
        password: null,
        password_confirmation: null,
        termo_politica: '',
        receber_novidades: '',
        area_atuacao: null,
        instituicao_de_atuacao: null,
        como_conheceu: null,
        numero_ciape: null,
      },
    }
  },

  watch: {
    'form.cep': async function (val) {
      this.verifyCep(val)
    },
  },

  created() {
    this.verifyUserLogged()
    this.getCursos()
  },

  methods: {
    async registerUser() {
      if (this.$refs.formRegisterUser.validate()) {
        await this.$axios
          .post('auth/register', this.tratarDados())
          .then(async (r) => {
            if (r.data) {
              // CASO SUCESSO
              // BOTÃO DE COMPLETAR MANDA O USUÁRIO PARA CONFIGURAÇÃOES DENTRO DA ÁREA DE USUÁRIO DO PORTAL

              if (this.typeUser === 'professor') {
                const res = await this.$dialog.confirm({
                  text: 'Um administrador irá verificar o seu número SIAPE e aprovar seu cadastro para que publique recursos. Enquanto isso, explore a JOCA! Deseja completar seu perfil agora?',
                  title: 'Seu cadastro foi realizado com sucesso!',
                  icon: 'mdi-checkbox-marked-circle',
                  width: '800px',
                  actions: [
                    { text: 'MAIS TARDE', color: 'grey', key: 0 },
                    { text: 'SIM, COMPLETAR', color: 'info', key: 1 },
                  ],
                })
                if (res === 1) {
                  this.$router.push('/login')
                } else {
                  this.$router.push('/login')
                }
              } else {
                const res = await this.$dialog.confirm({
                  text: 'Deseja completar seu perfil agora?',
                  title: 'Seu cadastro foi realizado com sucesso!',
                  icon: 'mdi-checkbox-marked-circle',
                  width: '800px',
                  actions: [
                    { text: 'MAIS TARDE', color: 'grey', key: 0 },
                    { text: 'SIM, COMPLETAR', color: 'info', key: 1 },
                  ],
                })
                if (res === 1) {
                  this.$router.push('/login')
                } else {
                  this.$router.push('/login')
                }
              }
            }
          })
          .catch((e) => {
            //CASO ERRO
            this.$dialog.error({
              text: 'Por favor, tente mais tarde.',
              title: 'Há algo de errado no seu cadastro.',
              icon: 'mdi-close-circle',
              width: '800px',
              actions: [{ text: 'Fechar', color: 'grey', key: false }],
            })
          })
      }
    },
    tratarDados(){
      const dados = new FormData()
      dados.append('name', this.form.name)
      dados.append('email', this.form.email)
      dados.append('password', this.form.password)
      dados.append('password_confirmation', this.form.password_confirmation)
      dados.append('sobrenome', this.form.last_name)
      dados.append('nome_social', this.form.name_social)
      dados.append('genero', this.form.gender)
      dados.append('data_nascimento', this.form.date_birth)
      dados.append('user_type', this.typeUser)
      dados.append('permissao', 1)
      dados.append('matricula', this.form.matricula)
      dados.append('cep', this.form.cep)
      dados.append('estado', this.form.state)
      dados.append('municipio', this.form.city)
      dados.append('area_atuacao', this.form.area_atuacao)
      dados.append('instituicao_de_atuacao', this.form.instituicao_de_atuacao)
      dados.append('como_conheceu', this.form.como_conheceu)
      dados.append('termos_accept', this.form.termo_politica ? 1 : 0)
      dados.append('accept_emails', this.form.receber_novidades ? 1 : 0)
      dados.append('numero_ceap', this.form.numero_ciape ? 1 : 0)
      
      if(this.typeUser !== 'outros'){
        dados.append('curso', this.form.curso ? this.form.curso : '')
      }

      return dados
    },
    verifyCep(val) {
      if (val) {
        if (val.length === 9) {
          cep(val)
            .then((res) => {
              this.form.state = res.state
              this.form.city = res.city
            })
            .catch((error) => {
              this.errorCep = 'Cep inválido!! ' + error.message
              this.form.state = null
              this.form.city = null
            })
        }
      } else {
        this.form.state = null
        this.form.city = null
      }
    },

    verifyAge(val) {
      const todayYear = new Date().getFullYear()
      const dateInputYear = new Date(val).getFullYear()

      const todayMonth = new Date().getMonth()
      const dateInputMonth = new Date(val).getMonth()

      const subtraction = todayYear - dateInputYear

      if (subtraction < 18) {
        return 'O cadastro deve ser feito por pessoas a partir de 18 anos.'
      } else if (subtraction === 18) {
        if (todayMonth > dateInputMonth) {
          return 'O cadastro deve ser feito por pessoas a partir de 18 anos.'
        } else {
          return true
        }
      } else {
        return true
      }
    },

    regiterUser() {
      // verificar se tem errorCep
      // adaptar os dados declarados no verifyCep. colocando de acordo com o banco
      // fazer a verificação de comparação de um e-mail com outro
      // fazer a verificação de comparação de uma senha com a outra
      // fazer a verificação de aceitar "Termos de uso" e "Política de Privacidade" - trocar o valor de errorPoliticsTerms para true caso o usuário não tenha aceitado

      if (this.$refs.formRegisterUser.validate()) {
        console.log('POST LIBERADO')
      } else {
        this.$vuetify.goTo('#formRegisterUser')
      }
    },
    async getCursos() {
      await this.$axios
        .get('/ferramentas/cursos')
        .then((r) => {
          if (r.data) {
            this.optionsCurso = r.data
          }
        })
        .catch((e) => {
          this.cursos = []
        })
    },
    verifyUserLogged() {
      if (this.$auth.loggedIn) {
        this.form.name = this.$auth.user.name
        this.form.last_name = this.$auth.user.sobrenome
        this.form.name_social = this.$auth.user.nome_social
        this.form.gender = this.$auth.user.genero
        this.form.date_birth = this.$auth.user.data_nascimento
        this.form.cep = this.$auth.user.cep
        this.form.state = this.$auth.user.estado
        this.form.city = this.$auth.user.municipio
        this.form.curso = this.$auth.user.curso
        this.form.matricula = this.$auth.user.matricula
        this.form.email = this.$auth.user.email
        this.form.area_atuacao = this.$auth.user.area_atuacao
        this.form.instituicao_de_atuacao =
          this.$auth.user.instituicao_de_atuacao
        this.form.como_conheceu = this.$auth.user.como_conheceu
        this.form.numero_ciape = this.$auth.user.numero_ceap
      }
    },
  },
}
</script>
