<template>
  <div id="page-mural-edit">
    <!-- Header page -->
    <v-container class="mb-5">
      <v-row>
        <v-col cols="12" md="12" lg="5">
          <v-breadcrumbs
            :items="items"
            class="panel-breadcrumbs pb-0"
          ></v-breadcrumbs>

          <h2 class="text-body-joca grey2Joca--text font-weight-regular">
            Visão da divulgação selecionada
          </h2>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="7">
          <div class="h-100 d-flex justify-end mobile-xs-column align-center">
            <v-btn
              outlined
              rounded
              color="primaryMid"
              class="btn-info-outlined-joca mt-4"
              :to="'/painel-de-controle/mural/editar/' + paramsId"
              exact
            >
              <span class="text-caption-1-joca open-sans-bold"> Editar </span>
            </v-btn>

            <v-btn
              outlined
              rounded
              color="error"
              class="btn-info-outlined-joca mx-4 mt-4"
              @click="deleteMural($route.query._id)"
              exact
            >
              <span class="text-caption-1-joca open-sans-bold"> Excluir </span>
            </v-btn>

            <v-btn
              @click="dialogRegister = true"
              depressed
              rounded
              color="primaryMid"
              class="btn-primary-joca mt-4"
              to="/painel-de-controle/mural"
              exact
            >
              <span class="text-caption-1-joca whiteJoca--text open-sans-bold">
                Voltar
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <!-- Info -->
    <div class="whiteJoca">
      <v-container class="py-14">
        <v-row justify="center">
          <v-col cols="12" sm="12" md="4" lg="4" xl="4">
            <v-card class="mx-auto" outlined max-width="385" rounded="lg">
              <MuralCard>
                <v-menu offset-y slot="menu-actions">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" color="grey3Joca">
                      <v-icon size="18px">mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>

                  <v-list class="text-caption-2-joca">
                    <v-list-item>
                      <v-btn
                        text
                        color="gre1Joca"
                        block
                        @click="dialogProfileAuthor = true"
                      >
                        <span class="text-caption-2-joca text-capitalize">
                          Abrir perfil
                        </span>
                      </v-btn>
                    </v-list-item>

                    <v-list-item>
                      <v-btn
                        text
                        color="error"
                        block
                        @click="dialogReportPublication = true"
                      >
                        <span class="text-caption-2-joca text-capitalize">
                          Reportar divulgação
                        </span>
                      </v-btn>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </MuralCard>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <!-- Modal Profile -->
    <v-dialog v-model="dialogProfileAuthor" persistent max-width="1207px">
      <ViewProfileModal @close="dialogProfileAuthor = false" />
    </v-dialog>

    <!-- Modal Report -->
    <v-dialog v-model="dialogReportPublication" persistent max-width="800">
      <v-card class="pb-4">
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            icon
            color="grey3Joca"
            @click="dialogReportPublication = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>

        <v-card-text>
          <ReportPublicationForm>
            <template slot="action-secondary">
              <v-btn
                @click="dialogReportPublication = false"
                outlined
                rounded
                color="primaryMid"
                class="btn-primary-outlined-joca mr-2"
              >
                <span class="text-caption-1-joca open-sans-bold">
                  CANCELAR
                </span>
              </v-btn>
            </template>
          </ReportPublicationForm>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import ViewProfileModal from '@/components/modals/global/ViewProfileModal.vue'
import ReportPublicationForm from '@/components/forms/global/mural/ReportPublicationForm.vue'

import MuralCard from '@/components/cards/global/MuralCard.vue'
export default {
  components: { MuralCard, ViewProfileModal, ReportPublicationForm },

  data() {
    return {
      paramsId: null,

      dialogProfileAuthor: false,
      dialogReportPublication: false,

      items: [
        {
          text: 'Painel de controle',
          disabled: false,
          exact: false,
          to: '/painel-de-controle/geral',
          color: 'primaryMid',
        },
        {
          text: 'Mural',
          exact: true,
          disabled: false,
          to: '/painel-de-controle/mural',
          color: '',
        },
        {
          text: 'Visualização',
          exact: true,
          disabled: true,
          to: '/painel-de-controle/mural/editar',
          color: '',
        },
      ],
    }
  },

  mounted() {
    this.paramsId = this.$route.params.id
  },

  methods: {
    deleteMural(id) {
      console.log(id)

      this.$dialog.error({
        text: 'Você tem certeza que deseja excluir a divulgação selecionada? Essa ação não poderá ser desfeita.',
        title: 'Deseja excluir a divulgação selecionada?',
        icon: 'mdi-close-circle',
        width: '800px',
        actions: [
          { text: 'SIM, EXCLUIR', color: 'errorLight', key: false },
          { text: 'CANCELAR', color: 'error', key: false },
        ],
      })
    },
  },
}
</script>
