<template>
  <div class="py-16" id="page-login">
    <v-container>
      <v-row>
        <!-- Image -->
        <v-col cols="12" sm="5" md="5" lg="5" xl="5" class="mobile-xs-none">
          <div class="d-flex text-align-center h-100">
            <img
              class="w-100"
              src="~/assets/imgs/ilustracao/mulher-no-celular-login.svg"
              alt="Ilustração de uma mulher jovem, negra, com cabelo amarrado mexendo em um celular que tem em sua tela um formulário de login."
            />
          </div>
        </v-col>

        <!-- Login card -->
        <v-col cols="12" sm="7" md="7" lg="7" xl="7">
          <v-card class="mx-auto shadow-joca py-10 rounded-lg" max-width="482">
            <v-card-text class="card-content mx-auto">
              <LoginCard @register="dialogRegister = true" />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <!-- Dialog Register -->
    <v-dialog v-model="dialogRegister" width="828">
      <RegisterOptionsTypesUser @closeDialogRegister="dialogRegister = false" />
    </v-dialog>
  </div>
</template>

<script>
import LoginCard from '@/components/cards/platform/login/LoginCard.vue'
import RegisterOptionsTypesUser from '@/components/modals/global/cadastro-de-usuario/RegisterOptionsTypesUser.vue'

export default {
  head: {
    title: 'Joca - Login',
  },
  components: {
    LoginCard,
    RegisterOptionsTypesUser,
  },

  data() {
    return {
      dialogRegister: false,
    }
  },
}
</script>

<style>
#page-login .card-content {
  max-width: 312px;
}
</style>
