<template>
  <div class="py-16" id="page-forgot-my-password">
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="7" md="7" lg="7" xl="7">
          <v-card class="mx-auto shadow-joca py-10 rounded-lg" max-width="482">
            <v-card-text class="card-content mx-auto">
              <ForgotMyPasswordCard
                @openDialogRegister="dialogRegiter = true"
              />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <!-- Dialog Register -->
    <v-dialog v-model="dialogRegiter" width="828">
      <RegisterOptionsTypesUser @closeDialogRegister="dialogRegiter = false" />
    </v-dialog>
  </div>
</template>

<script>
import ForgotMyPasswordCard from '@/components/cards/platform/esqueci-minha-senha/ForgotMyPasswordCard.vue'
import RegisterOptionsTypesUser from '@/components/modals/global/cadastro-de-usuario/RegisterOptionsTypesUser.vue'

export default {
  head: {
    title: 'Joca - Esqueci senha',
  },
  components: {
    ForgotMyPasswordCard,
    RegisterOptionsTypesUser,
  },
  data() {
    return {
      dialogRegiter: false,
    }
  },
}
</script>

<style>
#page-forgot-my-password .card-content {
  max-width: 312px;
}
</style>
