<template>
  <v-row style="height: 80px !important">
    <v-col class="px-0" cols="12" sm="12" md="12">
      <v-toolbar elevation="0">
        <v-toolbar-title>
          <nuxt-link to="/">
            <img src="~/static/images/logos/logo-joca.svg" alt="Logo da JOCA" />
          </nuxt-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div class="d-flex align-center">
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn class="text-transform-none" text v-bind="attrs" v-on="on">
                <v-list-item-title
                  class="primaryMid--text lato-bold text-body-4-joca"
                  >Sobre</v-list-item-title
                >
                <v-icon color="primaryMid"> mdi-chevron-down </v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-item link to="/a-plataforma">
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >A plataforma</span
                  >
                </v-list-item-content>
              </v-list-item>

              <v-list-item link to="/josue-de-castro">
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >Josué de Castro</span
                  >
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>

          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn class="text-transform-none" text v-bind="attrs" v-on="on">
                <v-list-item-title
                  class="primaryMid--text lato-bold text-body-4-joca"
                  >Ajuda</v-list-item-title
                >
                <v-icon color="primaryMid"> mdi-chevron-down </v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-item link to="/perguntas-frequentes">
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >Dúvidas Frequentes</span
                  >
                </v-list-item-content>
              </v-list-item>

              <v-list-item link to="/contato">
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text">Contato</span>
                </v-list-item-content>
              </v-list-item>

              <v-list-item link to="/termos-de-uso">
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >Termos de Uso</span
                  >
                </v-list-item-content>
              </v-list-item>

              <v-list-item link to="/politica-de-privacidade">
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >Políticas de Privacidade</span
                  >
                </v-list-item-content>
              </v-list-item>

              <v-list-item link to="/acessibilidade">
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >Acessibilidade</span
                  >
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>

          <v-list>
            <v-list-item link to="/mural">
              <v-list-item-content>
                <v-list-item-title
                  class="primaryMid--text lato-bold text-body-4-joca"
                  >Mural</v-list-item-title
                >
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <SearchInput
            class="mx-4"
            color="secondary"
            placeholder="Busque por recursos"
          />

          <v-btn
            depressed
            rounded
            color="primaryMid"
            class="btn-primary-joca mx-2"
          >
            <v-icon left class="whiteJoca--text"> mdi-plus </v-icon>

            <span class="text-caption-1-joca open-sans-bold whiteJoca--text">
              PUBLICAR RECURSO
            </span>
          </v-btn>

          <v-menu offset-y v-if="$auth.loggedIn">
            <template v-slot:activator="{ on, attrs }">
              <v-btn text v-bind="attrs" v-on="on" class="py-8">
                <p
                  class="text-body-4-joca mb-0 text-capitalize primaryMid--text lato-bold"
                >
                  Olá, {{ $auth.user.name }}!
                </p>

                <v-avatar size="46px" class="mx-2" color="disable">
                  <v-img
                    height="100%"
                    width="100%"
                    src="https://cdn.vuetifyjs.com/images/lists/1.jpg"
                  >
                  </v-img>
                </v-avatar>
                <v-icon color="primaryMid"> mdi-chevron-down </v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-item link to="/minha-area">
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >Minha área</span
                  >
                </v-list-item-content>
              </v-list-item>

              <v-list-item link>
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >Painel de controle</span
                  >
                </v-list-item-content>
              </v-list-item>

              <v-list-item link to="/minha-area/configuracoes">
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >Editar perfil</span
                  >
                </v-list-item-content>
              </v-list-item>

              <v-list-item link>
                <v-list-item-content>
                  <span class="text-body-4-joca grey1Joca--text"
                    >Alterar dados</span
                  >
                </v-list-item-content>
              </v-list-item>

              <v-list-item link @click="$emit('logout')">
                <v-list-item-content>
                  <span class="text-body-4-joca error--text">Sair</span>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </v-toolbar>
    </v-col>
  </v-row>
</template>

<script>
import SearchInput from '@/components/geral/SearchInput.vue'
export default {
  components: {
    SearchInput,
  },
}
</script>
