<template>
  <v-row class="pt-0">
    <v-col class="pt-0" cols="12" sm="12" md="12">
      <v-toolbar
        class="mb-3"
        elevation="0"
        color="whiteJoca"
      >
        <nuxt-link to="/">
          <img
            src="~/static/images/logos/logo-joca.svg"
            alt="Logo da JOCA"
          />
        </nuxt-link>
        <v-spacer></v-spacer>

        <v-btn  @click.stop.prevent="$emit('rightDrawer', true)" icon>
          <v-icon color="secondary" size="34px">mdi-account-circle</v-icon>
        </v-btn>
      </v-toolbar>

    </v-col>
  </v-row>
</template>

