<template>
  <!-- Tab: Header -->
  <div id="header-navigation-panel">
    <h1
      class="text-h1-joca lato-black primaryMid--text mb-9 text-center text-sm-left"
    >
      <v-icon large class="text-h1-joca" color="primaryMid"> mdi-cog </v-icon>
      Painel de controle
    </h1>

    <v-tabs v-model="tab" hide-slider show-arrows color="secondary">
      <v-tab
        v-for="(item, index) in items"
        :key="index"
        :to="'/' + item.router"
      >
        <span class="open-sans-bold">
          {{ item.name }}
        </span>
      </v-tab>
    </v-tabs>
  </div>
</template>
<script>
export default {
  props: ['items'],
  data() {
    return {
      tab: null,
    }
  },
}
</script>
