<template>
  <div id="modal-type-user">
    <v-card>
      <!-- Fechar -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn icon color="grey3Joca" @click="$emit('closeDialogRegister')">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>

      <v-card-text class="text-center">
        <!-- Titulo -->
        <h4 class="text-body-1-joca open-sans-semibold primaryMid--text mb-11">
          Selecione seu perfil
        </h4>

        <!-- Cards -->
        <nav class="mb-11">
          <ul>
            <v-container>
              <v-row justify="center">
                <template>
                  <v-col
                    cols="6"
                    sm="6"
                    md="4"
                    lg="4"
                    xl="4"
                    v-for="(item, index) in typeUsers"
                    :key="index"
                    v-if="item.name !== currentTypeUser"
                  >
                    <li class="h-100">
                      <nuxt-link
                        :to="
                          isPanelControl
                            ? '/painel-de-controle/pessoas/cadastro/' +
                              item.name
                            : '/cadastro-de-usuario/' + item.name
                        "
                      >
                        <v-card
                          class="mx-auto shadow-joca rounded-lg text-center h-100"
                        >
                          <v-card-text class="h-100">
                            <img
                              :src="
                                require(`~/assets/imgs/ilustracao/${item.img}`)
                              "
                              :alt="item.altImg"
                              class="mb-2"
                            />
                            <h5 class="text-body-3-joca grey1Joca--text">
                              {{ item.description }}
                            </h5>
                          </v-card-text>
                        </v-card>
                      </nuxt-link>
                    </li>
                  </v-col>
                </template>
              </v-row>
            </v-container>
          </ul>
        </nav>

        <!-- Observação -->
        <div class="observation-content mb-8 mx-auto">
          <p class="text-body-joca grey1Joca--text">
            Ao ser identificado como professor(a) ou estudante do INJC da UFRJ,
            você terá funcionalidades específicas.
          </p>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import typeUser from '@/utils/json/type-user'
const typeUsers = typeUser

export default {
  props: ['isPanelControl', 'currentTypeUser'],
  data() {
    return {
      typeUsers,
    }
  },
}
</script>

<style>
#modal-type-user .observation-content {
  max-width: 424px;
}
</style>
