<template>
  <div id="carouselGlobal" style="position: relative">
    <carousel
      :dots="false"
      :nav="false"
      :margin="30"
      :responsive="{ 0: { items: 1 }, 600: { items: 4 } }"
    >
      <slot name="content"> </slot>

      <template slot="prev">
        <v-btn color="secondary" class="prev" elevation="1" fab small>
          <v-icon dark> mdi-chevron-left </v-icon>
        </v-btn>
      </template>

      <template slot="next">
        <v-btn style="" class="next" color="secondary" elevation="1" fab small>
          <v-icon dark> mdi-chevron-right </v-icon>
        </v-btn>
      </template>
    </carousel>
  </div>
</template>

<script>
// importando uma lib sem quebrar no SSR
let carousel = null
if (process.client) {
  // https://vuejsexamples.com/vue-component-for-owl-carousel-2/
  carousel = require('vue-owl-carousel')
}

export default {
  components: {
    carousel,
  },
}
</script>

<style>
#carouselGlobal .owl-theme .owl-nav [class*='owl-'] {
  background: var(--secondary);
  border-radius: 50px;
}

#carouselGlobal .prev {
  position: absolute;
  z-index: 999;
  bottom: -60px;
  left: 46%;
}

#carouselGlobal .next {
  position: absolute;
  z-index: 999;
  bottom: -60px;
  right: 46%;
}

@media (max-width: 500px) {
  #carouselGlobal .prev {
    left: 30%;
    bottom: -50px;
  }

  #carouselGlobal .next {
    right: 30%;
    bottom: -50px;
  }
}
</style>
