<template>
  <div id="carouselRecursos" style="position: relative">
    <carousel
      :dots="false"
      :nav="false"
      :margin="30"
      :responsive="{ 0: { items: 1 }, 600: { items: 4 } }"
    >
      <cardRecurso v-for="i in 10" :key="i"></cardRecurso>
      <template slot="prev">
        <v-btn color="secondary" class="prev" elevation="1" fab small>
          <v-icon dark> mdi-chevron-left </v-icon>
        </v-btn>
      </template>

      <template slot="next">
        <v-btn style="" class="next" color="secondary" elevation="1" fab small>
          <v-icon dark> mdi-chevron-right </v-icon>
        </v-btn>
      </template>
    </carousel>
  </div>
</template>

<script>
import cardRecurso from "../../components/cards/global/CardRecurso";
// importando uma lib sem quebrar no SSR
let carousel = null;
if (process.client) {
  // https://vuejsexamples.com/vue-component-for-owl-carousel-2/
  carousel = require("vue-owl-carousel");
}

export default {
  components: {
    carousel,
    cardRecurso,
  },
};
</script>

<style>
#carouselRecursos .owl-theme .owl-nav [class*="owl-"] {
  background: #ff891c;
  border-radius: 50px;
}

#carouselRecursos .prev {
  position: absolute;
  z-index: 999;
  bottom: -60px;
  left: 46%;
}

#carouselRecursos .next {
  position: absolute;
  z-index: 999;
  bottom: -60px;
  right: 46%;
}

@media (max-width: 500px) {
 #carouselRecursos .prev {
  left: 30%;
  bottom: -50px;
}

#carouselRecursos .next {
  right: 30%;
  bottom: -50px;
}
}
</style>
